.article
  padding: 16px
  background: var(--accent-bg-1)
  margin: 0 0 16px

  &__header
    margin: 24px 0

    &--row
      display: flex
      flex-wrap: wrap

  &__title
    margin: 0 0 20px
    line-height: @sm-down 1.3
    font-size: @sm-down 23px
    font-weight: @sm-down 800

  &__lead
    margin: 24px 0
    display: flex
    align-items: flex-start

    &-img, img
      border-radius: 50%
      min-width: 40px
      size: 40px

      &--wrapper
        display: block
        text-decoration: none
        margin-right: 16px

    &-info
      background: var(--pseudo-neutral-200)
      border-radius: 0 4px 8px 8px
      padding: 8px 16px 12px
      position: relative
      width: 100%

    &-name
      color: var(--pseudo-neutral-900)
      text: 700 15px 1.8
      text-decoration: none

    &-desc
      text: 500 15px 1.8
      margin: 0

    &-info

      &:before
        content: ''
        width: 0
        height: 0
        border-top: 16px solid var(--pseudo-neutral-200)
        border-left: 16px solid transparent
        position: absolute
        top: 0
        left: -16px

  &__label
    text: 13px 16px 600
    letter-spacing: 0.01em
    display: inline-flex
    align-items: center
    margin: 0 16px 16px 0 @md 0 24px * 0 @xl 0 32px 16px 0

    &:before
      content: ''
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      size: 24px
      margin-right: .5rem

    &--original
      &:before
        background-image: resolve("icons/article__label-u.svg")

    &--interviews
      &:before
        background-image: resolve("icons/article__label-interviews.svg")

    &--tweet
      &:before
        background-image: resolve("icons/social/twitter.svg")

  .card
    margin: 16px 0

  &__main
    background: var(--neutral)
    padding: 24px 16px

  &_main

    &-info
      margin-bottom: .5rem

      &__humble
        box: center wrap
        width: 100%

        .humble
          margin-right: @md-down .7rem

        .mark
          display: @sm-down none

  &__main-img
    position: absolute 0 null null 0

    &-wrapper
      overflow: hidden
      position: relative
      margin: 0 -16px 4px @sm 0 0 4px
      padding-top: 62.5%

      figcaption
        margin: @sm-down 24px 16px 0

      .disclaimer
        padding: @sm-down 0 16px

  &__gnews
    border: $border
    padding: 8px 16px @sm 12px 16px
    box: middle
    color: var(--pseudo-neutral-900)
    margin: 16px 0 @sm 32px 0

    &-text
      text: 400 13px 1.5
      margin: 0 16px 0 0

    &-title
      text: 700 13px 1.5
      background: resolve(icons/google-news.svg) no-repeat center left 
      padding: 0 0 0 32px

    &:hover
      border-color: var(--accent-1-medium)

  &__content
    margin: 24px 0

    h2, h3
      em
        display: inline-flex
        align-items: center
        font-style: normal

        &:after
          content: 'Promoted'
          color: var(--pseudo-neutral-200)
          text: 11px 18px
          text-align: center
          white-space: nowrap
          padding: 0 .5rem
          border-radius: 2px
          border: 1px solid var(--pseudo-neutral-100)
          font-style: normal
          margin-left: 1rem

    img
      margin: 24px auto 0
      width: auto

    .something
      img
        margin: 0 auto

  &__contents
    margin: 1.7rem 0

    &-title
      text: 600 17px 1.4
      margin-bottom: 1.3rem

    &-list
      margin-bottom: 1.45rem

    &-item
      padding-left: 1.6rem
      position: relative

      & + &
        margin-top: 1rem

      &:before
        content: ''
        position: absolute
        left: 0
        top: 12px
        display: block
        background-color: var(--accent-1-light)
        size: 5px
        border-radius: 50%

    &-link
      border-bottom: 0
      color: var(--accent-1-light)
      text: 500 15px 1.8

  &__related
    margin: 24px *
    padding: 16px 0
    border-top: 1px solid var(--pseudo-neutral-200)
    border-bottom: 1px solid var(--pseudo-neutral-200)
    text-decoration: none
    display: flex
    align-items: flex-start

    &-desc
      margin: -3px 0 0

    &-img, img
      margin: 0

      &--wrapper
        margin-right: 16px
        max-width: 112px
        min-width: 112px

        span
          height: 0
          width: 0
          color: transparent
          overflow: hidden
          display: block

    &-flame
      color: var(--pseudo-neutral-600)
      text: 700 15px 1.2

    &-blockquote
      color: var(--pseudo-neutral-900)
      text: 700 13px 1.8 @md 15px

  .something--content
    margin: @sm-down 1.5rem -1rem

  &--mobile-visible
    display: block @md none

.about-author
  position: relative
  padding: 32px 16px 24px @xl 24px 40px 8px
  margin: 24px -16px -16px @xl 40px -16px -16px
  border-top: 1px solid var(--pseudo-neutral-200)

  &_row
    display: flex

  &_avatar
    display: block
    margin-right: 16px
    min-width: 40px
    size: 40px
    overflow: hidden
    border-radius: 50%

    img
      width: 100%

    span
      height: 0
      width: 0
      color: transparent
      overflow: hidden
      display: block

  &_title
    color: var(--pseudo-neutral-600)
    text: 500 15px 1.4
    margin: 0

  &_data
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 0

  &_name
    text-decoration: none
    color: var(--pseudo-neutral-900)
    text: 700 15px 1.8 @xl 17px
    margin-right: @xl 12px

  .social
    width: 100% @md auto
    margin: 0 0 0 -16px @md 0
    justify-content: flex-start

    .social__link
      margin-right: 4px

      &:last-child
        margin-right: 0

  p
    font-size: 15px
    line-height: 1.6
    font-weight: 500
    text: 500 15px 1.6
    margin: 0 0 0 -52px @xl 0

.disclaimer, .caption
  text: #90A4AE 15px

.disclaimer_text
  color: var(--pseudo-neutral-600)
  text: 500 15px 1.4
  margin: 12px 0 0

.theme-dark
  .article__label--original:before
    background-image: resolve("icons/article__label-u-white.svg")

  .article__label--interviews:before
    background-image: resolve("icons/article__label-interviews-white.svg")