.author

  &-block
    background-color: #fff
    padding: 1.5rem 1rem

    &__name
      text: #263238 22px 1.8 600 @xl 31px
      margin-bottom: 2rem

    &__description
      margin-top: 2rem @xl 3rem

      p
        text: 13px 1.8 500 @xl 15px
        margin: 1.3rem * @xl 2rem *

    .social
      margin: 1.5rem 0

      &__link
        margin-right: 1.5rem

  &-article
    margin-top: 1rem
    background-color: #fff
    padding: 1.5rem 1rem