.breaking
  background: var(--neutral)
  box: center
  flex-wrap: wrap @md nowrap
  margin: 1rem *
  padding: 1rem

  &__label
    margin-right: @md 24px
    margin-bottom: @md-down 12px
    width: @md-down 100%
    justify-content: @md-down space-between

  &__title
    text: $header-super-tiny @xl $header-tiny
    vertical-align: center

    &:after
      content: ""
      display: inline-block
      background-image: resolve("icons/triangle-right.svg")
      size: 17px
      margin-left: 8px
      margin-top: -8px
