.footer
  margin-top: 2rem @md 3rem @xl 4rem
  background-color: $neutral
  border-top: 4px solid $pseudo-neutral-900

  &__container
    max-width: @xl 1152px @md 768px @md-down 480px
    margin: 0 auto
    padding: 0 1rem

  &__row
    box: space-between
    flex-wrap: wrap @md nowrap
    padding: 1.6rem * @md 2.6rem * @xl 3.2rem * 3.5rem
    border-bottom: $border

  &__title
    text: $header-super-tiny @xl $header-tiny
    margin-bottom: .8rem @md 1.7rem

  &__follow-us
    margin-right: 0 @md 1rem @xl 3.6rem
    margin-bottom: @md-down 1.4rem
    width: @md-down 100%

    .footer__title
      white-space: nowrap

  &__subscribe
    width: @md-down 100%

    &-form
      height: auto @md 40px

      .input
        &:first-child
          margin-right: 16px
          width: calc(100% - 116px) @md auto

    &-input
      width: @md 116px @xl 269px

    &-agree
      text: $pseudo-neutral-400 $body-tiny
      margin-top: 0 @sm -2px

  &__nav
    padding: 1.3rem * 0.3rem @md 2.5rem * @xl 3.5rem *
    border-bottom: $border
    position: relative

    &-list

      box: wrap @md space-between

    &-item
      width: 60% @sm 33% @md auto
      margin-bottom: @md-down 1.1rem
      white-space: nowrap

      &:nth-child(even)
        width: @sm-down 40%

    // &:last-child
    //   position: @md absolute
    //   top: 80px @xl 96px
    //   right: 24px @xl 32px
    &-link
      @extend .link-plain
      text: $pseudo-neutral-900 $header-tiny @md $header-super-tiny @xl $header-tiny

    &-child

      &-list
        margin-top: 1rem
        display: @md-down none

      &-item

        & + &
          margin-top: 0.94rem @xl 1rem

      &-link
        text: $body-tiny @xl $body-small
        text: $pseudo-neutral-900


  &__copy
    box: wrap @md center
    padding: 1.5rem * @md 1rem * @xl 1.1rem *

    &-text
      text: $body-small
      text: $pseudo-neutral-400
      margin-right: 2rem
      margin-bottom: @sm-down 1rem

    &-link
      text: $body-small
      text: $pseudo-neutral-400

  &__disclaimer
    border-bottom: 1px solid $pseudo-neutral-100
    padding: 1.1875rem 0 .8125rem 0

    &-text
      text: $pseudo-neutral-400 .8125rem 1.5rem
      margin-bottom: 0