.footer
  margin-top: 32px
  position: relative
  z-index: 150
  background: var(--accent-bg-1)

  &__container
    padding: 0 16px
    max-width: 100% @md 768px @xl 1212px
    margin: 0 auto

  &__title
    text: 700 15px 1.6
    margin: 0 0 12px
    display: block

  &:before
    content: ''
    display: block
    border-bottom: 3px solid var(--pseudo-neutral-600)

  &__row
    flex-wrap: wrap @md nowrap
    padding-top: 24px @md 40px
    padding-bottom: 24px @md 40px
    border-bottom: $border
    display: flex
    justify-content: space-between

  &__follow-us
    margin: 0 0 24px @md 0 48px 0 0

    ^&__title
      white-space: nowrap

  &__subscribe
    width: @xl-down 100%

    &-form
      flex-wrap: wrap @xl nowrap

      .subscribe-result
        display: none

      .input
        margin: @md 0

        &:nth-child(2)
          margin-right: 0
          width: 100% @md calc(100% - 110px) @xl auto
          display: block

      .btn
        color: var(--neutral)
        background: var(--accent-1-medium)
        border-color: var(--accent-1-medium)
        left: -1px
        min-height: 48px
        width: @xl 154px

        &:hover
          background: var(--accent-1-dark)
          border-color: var(--accent-1-dark)

    &-input
      width: @md calc(100% - 110px) @md 328px
      min-height: 48px

    &-agree
      color: var(--pseudo-neutral-600)
      text: 500 15px 2.1
      margin: @xl -6px 0 0

  &__nav
    position: relative
    padding: 21px 0 16px
    border-bottom: $border

    &-list
      margin: -24px 0 0
      list-style: none
      padding: 0
      display: flex
      flex-wrap: wrap
      justify-content: space-between

    &-item
      width: 60% @sm 35% @md 33% @xl auto
      white-space: nowrap
      margin-top: 24px

      &:nth-child(even)
        width: 30% @md 33% @xl auto

    &-link
      color: var(--pseudo-neutral-900)
      text: 600 17px 1.4

    &-child

      &-list
        display: none @sm block
        margin: 16px 0 0
        list-style: none
        padding: 0

      &-item

        & + &
          margin-top: 10px

      &-link
        color: var(--pseudo-neutral-900)
        text: 500 13px 2.1 @md 15px

  &__copy
    padding: 24px 0
    display: flex
    flex-wrap: wrap

    &-text
      color: var(--pseudo-neutral-600)
      text: 500 15px 1.9
      width: 100%

    &-link
      color: var(--accent-1-light)
      text: 500 15px 1.9
      margin: 0 12px 0 0

    p
      margin: 0 0 16px

  &__disclaimer
    border-bottom: $border
    padding: 16px 0 12px

    &-text
      color: var(--pseudo-neutral-600)
      text: 500 15px 1.6
      margin: 0

.theme-dark
  .footer:before
    border-color: #fff