.header
  background: #fff
  position: relative
  z-index: 996 @md 300
  margin: 0 0 16px

  &__container
    box: center space-between
    flex-wrap: @md wrap @xl nowrap
    min-height: 48px @md 97px @xl 48px
    padding: 0 16px
    position: relative
    max-width: 100% @md 768px @xl 1152px
    margin: 0 auto

  &__social
    display: none

  &__logo
    display: block
    size: 100% 19px
    max-width: 130px

  &__panel
    box: center space-between
    min-height: 48px
    min-width: 48px

    & > *
      margin: 0 0 0 8px

      &:first-child
        margin: 0

  &__logo
    background: resolve("icons/logo.svg") no-repeat left top / contain
    position: relative
    color: transparent
    text-indent: -9999px

    &-news
      size: 140px 14px @md 219px 20px
      min-width: 140px @md 219px
      background: resolve("icons/logo-news.svg") no-repeat left top / contain
      color: transparent
      text-indent: -9999px

    &-101
      size: 125px 14px @md 177px 20px
      min-width: 125px @md 177px
      background: resolve("icons/logo-101.svg") no-repeat left top / contain
      color: transparent
      text-indent: -9999px

    &-crypto
      size: 125px 14px @md 177px 20px
      min-width: 125px @md 177px
      background: resolve("icons/logo-crypto.svg") no-repeat left top / contain
      color: transparent
      text-indent: -9999px

  &__nav
    margin: 16px 0 0
    position: relative
    order: @xl-down 9
    width: 100% @xl 740px
    display: none @md block

    &-list
      display: @md flex
      justify-content: @md space-between
      align-items: @xl center
      background: @md-down #fff
      padding: @md-down 16px 0 24px
      margin: @xl 0
      list-style: none

      &.visibility-hidden
        visibility: @xl-down visible

    &-link
      text: $pseudo-neutral-900 700 15px 1.4
      text-decoration: none
      box: center @md left center
      padding: 0 0 0 16px @md 0 0 11px
      height: @md-down 48px

    &-item
      position: @md relative

      &:hover
        &:before
          display: @md-down block

      &:after
        content: ""
        height: 40px @md 4px
        margin-top: @md-down -44px
        width: @md-down 4px
        position: absolute auto auto auto 0 @md absolute auto 0 -1px 0
        z-index: 997
        display: none

      &:hover
        ^^&-child-list
          display: @md block

        &:after
          background: $accent-1-medium

      &--active:after
        background: $pseudo-neutral-900

      & + &
        margin-left: 0 @md 1.4rem

      &--arrow
        &:hover

          &:after
            right: auto @md 24px

          ^^^&-link
            text: $accent-1-medium

            &:after
              transform: rotate(180deg)
              background-image: svg-load("icons/triangle-down.svg", fill="$accent-1-medium")

        &:after
          right: auto @md 24px

        ^^&-link
          pointer-events: @md-down none

          &:after
            content: ""
            display: block
            background: resolve("icons/triangle-down.svg") center
            size: 24px 12px

    &-child

      &-list
        position: @md absolute
        overflow: @md-down auto
        padding: 8px 0 0
        border-radius: @md 2px
        box-shadow: @md 0 8px 24px rgba(13, 71, 161, 0.15)
        min-width: @md 190px
        background: #fff
        z-index: 999 @md 997
        display: none

        &.show
          display: @md-down block

      &-item
        margin: 0 0 8px

      &-link
        text: $pseudo-neutral-900 15px 1.4 500
        text-decoration: none
        text-transform: none
        letter-spacing: normal
        white-space: nowrap
        height: 32px
        box: center
        padding: 0 16px

  &__search
    position: absolute @xl relative
    left: 16px @md 215px @xl auto
    right: 16px @md 16px @xl auto
    top: 8px @md 10px @xl auto
    width: @xl 100%
    margin: @xl 0 0 0 16px
    display: none

    &-form
      box: center

    &-submit
      z-index: 1
      background: #eee

      &:after
        size: 32px

    &-input
      @extend .input__elem
      background: #eee
      min-height: 32px
      padding: 0 16px
      border: none

    &-close
      background: #fff
      padding: 0 0 0 12px @md 0 0 0 16px

  &__burger
    display: @md none

  &--mobile-menu

    ^&__nav
      position: @md-down fixed 32px 0 0 null
      width: @md-down 240px
      display: @md-down block
      background-color: @md-down #fff
      overflow-y: @md-down auto

  &--hide
    display: @xl none

  &__lang
    position: relative
    margin: 0 0 0 8px @md 0 0 0 28px

    &-btn
      border: 1px solid #CFD8DC
      padding: 0 4px 0 8px
      font-weight: 700

      .is-active
        pointer-events: none
        font-weight: 700

    &-other
      position: absolute 31px 0 null 0
      border: 1px solid #CFD8DC
      border-top: none
      background: $neutral
      padding: 4px 0
      z-index: 2
      display: none

      .tabs__btn
        padding: 0 8px

    &-link
      padding: 0 8px
      text: #263238 15px 1.6
      width: 100%
      display: block

    &:hover
      ^&-btn
        .is-active
          text: #2196f3

        &:after
          background-image: svg-load("icons/triangle-down.svg", fill: $accent-1-medium)
          transform: rotate(180deg)

      ^&-other
        display: block

.mobile-menu

  &-cover
    position: fixed 0 0 -82px 0
    z-index: 995
    background: $cover-color
    display: none

.overflow-hidden
  overflow: hidden