.news
  background-color: $neutral
  margin: 0 0 8px

  .icon
    margin: 0 16px 0 0

  &__header
    padding: 12px 16px
    border-bottom: 1px solid #ECEFF1
    display: flex
    align-items: center

    .btns-spacer
      margin-left: 24px
      margin-bottom: 0

      .btn
        color: #90A4AE
        min-height: 24px
        margin-right: 16px
        margin-bottom: 0
        font-weight: 600

  &__item
    padding: 12px 16px
    border-top: 1px solid #ECEFF1
    display: block

    &:first-child
      border-top: 0

    &-title
      margin: 0 4px 0 0
      display: inline-block
      text: 500 15px 1.9

      &-wrapper
        display: inline

    &-time

      &--wrapper
        min-width: 140px

    &-info
      display: inline-flex
      align-items: center
      vertical-align: middle

  &__title
    text: 600 15px 1.4

    &:before
      content: ""

  &__footer
    padding: 0 16px
    border-top: 1px solid #eee
    text: 700 15px
    width: 100%
    min-height: 48px
    justify-content: flex-start

  &__loading
    width: 100%
    border-top: 1px solid #eee
    display: none
    height: 48px
    padding: 7px 16px

.loading
  background: resolve("icons/loading.svg") no-repeat center / contain
  animation: myanimation 5s infinite
  size: 32px

@keyframes myanimation
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)

