.news-featured
  padding: 1.5rem 1rem
  background-color: $neutral

  &__header
    box: center

  &__title
    text: $header-small @xl $header-standart
    margin-right: 1.1rem

  &__list
    box: wrap
    margin: 0 -1rem

  &__item
    margin-top: 2rem
    padding: 0 1rem
    width: 100% @sm 50% @md 33% @xl 25%

    &-link
      display: block
      margin-bottom: .5rem @md .3rem @xl .6rem

    &-img
      border-radius: 2px
      border: $border

      &-wrapper
        padding-top: 62.5%
        margin-bottom: .5rem @md .7rem @xl 1rem

    &-title
      text: 500 13px 1.8

    &-info
      box: center wrap

  &__footer
    margin-top: 0.4rem
    margin-bottom: 1rem