.pag-nav
  background: var(--accent-bg-1)
  padding: 16px @sm 24px
  margin: 16px 0

  &__list
    box: center wrap
    margin: -8px -8px 0

  &__item
    margin: 8px 4px 0

  &__btn
    color: var(--pseudo-neutral-600)
    text: 500 13px 48px
    display: block
    size: 48px
    min-width: 48px
    text-align: center

    &-active
      text: var(--neutral)
      background: var(--accent-1-light)
      cursor: default

      &:hover
        color: var(--neutral)