.press-releases
  background: var(--accent-bg-1)
  margin: 16px 0
  border-top: 4px solid var(--accent-1-medium)
  border-bottom: 4px solid var(--accent-1-medium)

  &__header
    justify-content: space-between
    display: flex
    padding: 12px 16px

  &__slider
    position: relative
    padding: 0 16px 32px
    display: @md-down flex
    margin: @md-down 0 16px 0 0
    overflow-x: @md-down auto
    overflow-y: @md-down hidden

  &__info
    display: flex
    align-items: center
    flex-wrap: wrap

  &__title
    text: 700 15px 1.5
    white-space: pre
    margin: 0 16px 0 0

  .slick-list
    margin: 0 -8px

  &__item
    min-width: @md-down 180px
    max-width: @md-down 180px
    margin: 0 16px 0 0 @md 0 8px
    width: 100%
    vertical-align: top

    &-img
      position: absolute 0 null null 0

      &--wrapper
        padding-top: 62.5%
        display: block
        position: relative
        overflow: hidden

    &-name
      text: 500 13px 1.8
      margin: 8px 0 0
      white-space: pre-wrap

  .btn
    min-height: 16px
    margin: 0 16px 0 0
    color: var(--pseudo-neutral-600)
    font-weight: 700
    white-space: nowrap

  .btn--block
    width: auto