.fixed-banner
    .fixed-banner-wrapper
        a.fixed-banner-mask(href="#!" target="_blank")
            img.fixed-banner-general(src="img/something/fixed-banner-general.png")
            .fixed-banner-img--wrapper
                img.fixed-banner-img(src="img/something/fixed-banner-mask.png")
        button.fixed-banner-close.btn.btn--light
