.push#push-notice
    .push__title Don't miss a thing!
    .push__headline Subsribe to U.Today's push notifications.

    .btn--block
        button.btn.btn--large.push__close(aria-label="close push") Later
        a.btn.btn--large.btn--accent(href="#!") Allow