.share-and-up
  a.share__circle.share__circle--tg(href="#!")
  a.share__circle.share__circle--tw(href="#!")
  a.share__circle.share__circle--fb(href="#!")
  a.share__circle.share__circle--up(href="#")

#share-post.share-post
  a#share-post-link-tg.share__square.share__square--tg(href="#!")
  a#share-post-link-tw.share__square.share__square--tw(href="#!")
  a#share-post-link-fb.share__square.share__square--fb(href="#!")
  button.btn.btn--light.share__square.share__square--close(onclick="shareHide()")