.staff

  &__item
    box:
    align-items: flex-start
    position: relative
    padding: 16px @sm 24px 32px
    border-bottom: $border
    background: $neutral

    .personal__info
      width: 100% @xl auto

    .social
      margin: 0 0 0 -12px @xl 0 0 0 16px

    .staff__info

      p
        text: 15px 1.6 500
        margin: 0 0 0 -133px @sm 8px 0 0 -177px @xl 0

    &:last-child
      border: none

  &__name
    text: $pseudo-neutral-900 15px 1.6 700
    overflow: hidden
    text-overflow: ellipsis
    max-width: 80% @sm 100%
    display: block
    white-space: nowrap

  &__post
    text: $pseudo-neutral-400 15px 1.6

  &__row
    box: wrap @xl center
    display: @xl-down block
    height: 102px @xl auto

  &__info
    margin-left: 16px @xl 32px

  &__img
    width: 100%
    border-radius: 2px

    &-wrapper
      min-width: 116px @sm 160px
      max-width: 116px @sm 160px
      background: resolve("icons/greeting.svg") no-repeat center / 44px, linear-gradient(-45deg, #d0d7df 0%,#f2f7f5 100%)
      border-radius: 2px
      display: block

.team
  &__list
    box: wrap
    padding: 16px @sm 24px 32px
    margin: -24px -8px 0 @xl -32px -8px 0

  &__item
    display: block
    width: 50% @sm 33% @xl 25%
    margin: 24px 0 0 @xl 32px 0 0
    padding: 0 8px
    text: $pseudo-neutral-900

  &__img
    border-radius: 2px
    position: absolute 0 null null 0
    width: 100%

    &-wrapper
      overflow: hidden
      position: relative
      padding-top: 62.5%
      margin: 0 0 8px
      background: resolve("icons/greeting.svg") no-repeat center / 44px, linear-gradient(-45deg, #d0d7df 0%,#f2f7f5 100%)
      border-radius: 2px

  &__name
    text: 500 13px 1.5
    margin: 0 0 4px

  &__post
    text: $pseudo-neutral-400 500 13px 1.5