.landing
  margin: -16px 0 0

  & ~ .footer
    margin-top: 0

  &__title
    color: var(--neutral)
    text: 600 22px @md 35px
    text-align: center
    max-width: 720px
    margin: 0 auto 32px @xl 0 auto 48px

  &__subtitle
    text: 800 22px 1.2 @md 27px
    text-align: center
    margin: 0 0 24px

  &__descr
    color: var(--pseudo-neutral-900)
    text: 500 14px @xl 18px
    text-align: center
    margin-bottom: 0

  &__mark
    color: var(--neutral)
    text: 500 15px 1.8 @md 19px
    text-align: center
    margin: 0 0 32px @xl 0 0 48px

  &__caption
    margin: 24px 0 0
    color: var(--neutral)
    display: block
    text-align: center

  .text-link
    color: var(--accent-1-light)

  .btn--block
    justify-content: center
    margin: 28px 0 0

    .btn
      min-width: 230px

  .border-top
    border-top: $border

  .text-grey
    color: var(--pseudo-neutral-400)

  h3
    text: 700 15px @sm 17px
    text-align: center
    margin: 0 0 24px

  img
    width: auto

  &__section
    background: var(--accent-bg-1)

    .container
      padding: 64px *

    &-big
      .container
        padding: 64px * @xl 90px * 75px

    &-large
      .container
        padding: 64px * @xl 64px * 130px

    &-background
      background-image: resolve("content/background/bg-landing-1.png")
      background-size: cover
      background-position: center
      background-repeat: no-repeat

      &--map
        background-image: resolve("content/background/bg-landing-2.png")
        background-size: contain
        background-position: center
        background-repeat: no-repeat

      h1, h2, p
        color: var(--neutral)

  &__benefits

    &-list
      box: space-between
      align-items: flex-start
      flex-wrap: wrap

    &-item
      width: 100% @md 48%
      display: inline-flex
      align-items: flex-start
      margin: 32px 0 0

    &-name
      text: 500 14px 1.8 @xl 17px
      margin: 0

    &-img

      &--wrapper
        display: block
        margin-right: 32px @xl 40px
        min-width: 48px
        size: 48px
        position: relative
        top: 3px @xl 7px

  &__request

    &-list
      box: space-between
      align-items: flex-start
      flex-wrap: wrap
      margin-top: 0 @md 32px

    &-item
      text: 500 14px 1.8 @xl 17px
      width: 100% @md 48%
      display: inline-flex
      align-items: flex-start
      margin: 32px 0 0

      &:before
        content: ''
        background-image: resolve('icons/i.landing__correct.svg')
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        size: 48px
        min-width: 48px
        display: block
        margin-right: 32px @xl 40px
        position: relative
        top: 1px @xl 5px

  &__location

    &-list
      box: space-between
      align-items: flex-start
      flex-wrap: wrap
      margin: @sm 48px 0 0 @xl 70px 0 0

    &-item
      color: var(--neutral)
      text: 500 14px 1.8 @xl 17px
      width: 49% @sm 30% @md 26%
      display: inline-flex
      align-items: center
      margin-top: 24px

      &:before
        content: ''
        background-image: resolve('icons/i.landing__location.svg')
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        size: 24px
        min-width: 24px
        display: block
        margin-right: 12px

  &__statistics
    &-list
      box: middle
      flex-wrap: wrap @md nowrap

    &-item
      display: @sm flex @md block
      align-items: center
      justify-content: space-between @md center
      width: 100% @md auto

      & + &
        margin-left: @md 60px @xl 80px
        margin-top: @sm-down 24px

    &-caption
      color: var(--neutral)
      text: 500 14px 1.8 @md 17px
      min-width: @sm 240px @md 1px
      text-align: @sm-down center

    &-value
      color: var(--neutral)
      text: 600 1.8 31px @md 35px @xl 47px
      text-align: @sm-down center

  &-center-container
    max-width: 840px
    margin: 0 auto

  &__partners
    box:
    flex-wrap: wrap @md nowrap
    align-items: center
    justify-content: space-between @md center
    margin-top: 24px @md 32px @xl 48px

    &-img

      &--wrapper
        width: @md-down 31%
        margin-top: @md-down 18px

        & + &
          margin-left: @md 18px







