.partners

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    width: 100%
    background: var(--neutral)
    padding: 24px 16px @sm 32px
    display: @sm flex
    align-items: @sm flex-start
    border-bottom: 1px solid #CFD8DC

  .img-link
    min-width: 96px
    max-width: 96px

  &__img
    max-width: 128px
    min-width: 128px

  &__row
    display: flex
    align-items: center
    margin: @sm 16px 0 0

  &__info
    margin: 24px 0 0 @sm 0 0 0 32px

    p
      text: 500 13px 1.8
      margin: 16px 0

  &__name
    text: 600 13px 1.3 @sm 15px

  &__link
    margin: 0 12px 0 0
    text: 500 13px 1.8

  &__lead
    background: var(--neutral)
    padding: 24px 16px @sm 24px 32px 32px @xl 52px 64px 64px
    margin: 0 0 16px

    &-mark
      display: flex
      align-items: center
      margin: 0 0 24px
      text: #F44336 700 1.6 15px
      padding: 0 0 0 32px
      background: resolve("icons/crown.svg") no-repeat left center / 24px

    &-list
      margin: 32px 0 0

    &-item
      margin: 0 0 56px

      img
        width: auto

      &:last-child
        margin: 0

    p
      font-size: 15px
      line-height: 1.6
      margin: 16px 0
      font-weight: 500

    a
      margin: 12px 0 0
      font-weight: 500

    p a
      display: inline-block
      margin: 0

  &__title
    text: 800 35px 1.2
    margin: 0 0 32px