include ../inc/var.pug

doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=5")

        link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
        link(rel="manifest", href="/img/favicon/site.webmanifest")
        link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#263238")
        link(rel="shortcut icon", href="/img/favicon/favicon.ico")
        link(rel="stylesheet" type="text/css" href="libs/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css")
        meta(name="msapplication-TileColor", content="#263238")
        meta(name="msapplication-config", content="img/favicon/browserconfig.xml")
        meta(name="theme-color", content="#263238")
        block title

        block head
            link(rel="stylesheet" href="styles/article-test.css")

    body

        header.header
            .header__container
                a.header__logo(href="#!") U.TODAY

        .page-container.container
            block content

        block foot
            script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")

            script(src="scripts/main.js")
