.accordion
  border-radius: 2px
  background-color: var(--neutral)
  border-bottom: @md-down 1px solid var(--pseudo-neutral-900)

  .tabs__item
    margin: @md-down 0 24px 0 0

    &--active

      .tabs__btn
        color: @md-down var(--pseudo-neutral-900)

  .tabs--vertical
    flex-direction: @md-down row
    padding-left: 16px @sm 24px @md 0
    overflow-x: @md-down auto
    padding-bottom: @md-down 48px

    .tabs__item

      &:after
        bottom: @md-down 0
        top: @md-down auto
        width: @md-down 100%
        height: @md-down 4px


  .tabs__btn
    padding: @md-down 8px 0
    color: var(--pseudo-neutral-600)
    text: @md-down 15px 24px 600
    white-space: @md-down nowrap

  + .btn,
  + .btn + .btn
    display: @md-down flex

  &--open

    + .btn,
    + .btn + .btn
      display: @md-down none

    ^&__title:after
      transform: scaleY(1) @md scaleY(-1)

    ^&__body
      display: @md block

  &__title
    text: 13px 1.4 600
    padding: 8px 16px
    cursor: pointer
    user-select: none
    box: center space-between
    display: @md-down none

    &:after
      content: ""
      display: block
      background-image: resolve("icons/triangle-down.svg")
      size: 24px
      transform: @md-down scaleY(-1)

  &__body
    border-top: none @md 1px solid var(--pseudo-neutral-100)
    display: block @md none
    padding: 0 @md 8px *
    height: @md-down 40px
    overflow: @md-down hidden

    &--content
      padding: 16px @xl 16px 16px 32px 16px
