.accordion
  border-radius: 2px
  background-color: $neutral
  border-bottom: @md-down 1px solid #263238

  .tabs__item
    margin: @md-down 0 1.5rem 0 0

    &--active

      .tabs__btn
        color: @md-down $pseudo-neutral-900

  .tabs--vertical
    flex-direction: @md-down row
    padding-left: 1rem @sm 1.5rem @md 0
    overflow-x: @md-down auto
    padding-bottom: @md-down 3rem

    .tabs__item

      &:after
        bottom: @md-down 0
        top: @md-down auto
        width: @md-down 100%
        height: @md-down 4px


  .tabs__btn
    padding: @md-down .5rem 0
    text: @md-down #546e7a 15px 24px 600
    white-space: @md-down nowrap

  + .btn,
  + .btn + .btn
    display: @md-down flex

  &--open

    + .btn,
    + .btn + .btn
      display: @md-down none

    ^&__title:after
      transform: scaleY(1) @md scaleY(-1)

    ^&__body
      display: @md block

  &__title
    text: 13px 1.4 600
    padding: .5rem 1rem
    cursor: pointer
    user-select: none
    box: center space-between
    display: @md-down none

    &:after
      content: ""
      display: block
      background-image: resolve("icons/triangle-down.svg")
      size: 24px
      transform: @md-down scaleY(-1)

  &__body
    border-top: 0 @md $border
    display: block @md none
    padding: 0 @md .5rem *
    height: @md-down 2.5rem
    overflow: @md-down hidden

    &--content
      padding: 1rem @xl 1rem 1rem 2rem 1rem
