@keyframes fixed-banner
  0%
    bottom: 35px

  50%
    bottom: 60px

  100%
    bottom: 35px

@media $md-down
  @keyframes fixed-banner
    0%
      bottom: 0

    50%
      bottom: 16px

    100%
      bottom: 0

