.btn
  color: var(--pseudo-neutral-900)
  text: 500 15px
  line-height: unset
  min-height: 32px
  padding: 0 12px
  text-decoration: none
  border: $border
  background: transparent
  transition: .15s
  display: inline-flex
  align-items: center
  justify-content: center
  font-family: $font
  outline: 0
  cursor: pointer
  user-select: none
  -webkit-tap-highlight-color: transparent

  &:hover
    color: var(--accent-1-medium)

  &--wide
    padding: * 16px

  &--input
    display: flex
    width: 100%
    height: 40px

  &--light, &--pseudo
    margin: 0
    padding: 0
    outline: 0
    border: 0
    background: transparent
    cursor: pointer

  &--event
    max-width: 100%
    width: 100%
    text: 500 15px
    border-radius: 0

  &--block
    display: flex
    width: 100%

    &-event
      margin: 32px 0

      .promocode
        margin: 16px 0 0 @xl 0 0 0 16px
        min-width: 336px
        width: 100%

        &__title
          text: 500 17px 1.7

        &__value
          color: var(--pseudo-neutral-900)
          text: 700 17px 1.7

    &-bg
      display: block @xl flex
      align-items: @xl center
      background: #E1F5FE
      padding: 16px

  &--column
    display: flex
    flex-direction: column

    & > *
      &:first-child
        margin: 0

  &--small
    min-height: 24px

  &--big
    min-height: 40px

  &--large
    min-height: 48px

  &--huge
    min-height: 56px

  &--full
    width: 100%

  &--show

    &-all
      display: none

    &--open
      display: none

  &--subscribe
    font-weight: 700
    color: var(--accent-1-medium)
    height: 48px

  &--hash-tag
    text: 500 15px 1.6
    background: var(--accent-1-medium)
    border-color: var(--accent-1-medium)
    color: var(--neutral)

    &:hover
      text: var(--neutral)

  &--accent
    background: var(--accent-1-medium)
    border-color: var(--accent-1-medium)
    color: var(--neutral)

    &:hover
      background: var(--accent-1-dark)
      border-color: var(--accent-1-dark)
      color: var(--neutral)

  &--accent-2
    background: var(--accent-2-medium)
    border-color: var(--accent-2-medium)
    color: var(--neutral)

    &:hover
      color: var(--neutral)

  &--accent-3
    background: #2E7D32
    border: 0
    border-radius: 0
    font-weight: 700
    letter-spacing: .01em
    color: var(--neutral)
    padding: 0 5px
    text-align: center

    &:hover
      color: var(--neutral)

  &--show-more, &--ajax
    font-weight: 700
    text: 15px
    margin: -16px 0 0
    position: relative
    width: 100%
    justify-content: center
    min-height: 72px
    background-color: var(--accent-bg-1)
    border-radius: 0

    &:after
      content: ''
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFDFD 100%)
      height: 72px
      display: block
      position: absolute -72px 0 null 0

  &--border
    border: $border

  &--arrow-down,
  &--dropdown,
  &--arrow-right,
  &--rating-up,
  &--rating-down,
  &--attach,
  &--more,
  &--search,
  &--account,
  &--burger,
  &--info,
  &--cross,
  &--info-white,
  &--lightning-white,
  &--cross-white,
  &--notification,
  &--arrow-long-right,
  &--back
    &:after
      content: ""
      display: block
      background-repeat: no-repeat
      background-position: center

  &--info-before,
  &--arrow-down-before,
  &--arrow-up-before
    &:before
      content: ""
      display: block
      background-repeat: no-repeat
      background-position: center

  &--arrow-down
    &:after
      background-image: resolve("icons/triangle-down.svg")
      size: 18px 24px
      margin-left: .6rem

    &:hover:after
      background-image: svg-load("icons/triangle-down.svg", fill: $accent-1-medium)

  &--arrow-down-before
    &:before
      background-image: resolve("icons/triangle-down.svg")
      size: 24px
      margin-right: .6rem

    &:hover:before
      background-image: svg-load("icons/triangle-down.svg", fill: $accent-1-medium)

  &--arrow-up-before
    &:before
      background-image: resolve("icons/triangle-up.svg")
      size: 24px
      margin-right: .6rem

    &:hover:before
      background-image: svg-load("icons/triangle-up.svg", fill: $accent-1-medium)

  &--arrow-right
    &:after
      background-image: resolve("icons/triangle-right.svg")
      size: 17px 24px
      margin-left: 0.9em

    &:hover:after
      background-image: svg-load("icons/triangle-right.svg", fill: $accent-1-medium)

  &--arrow-long-right
    &:after
      background-image: resolve("icons/arrow-long-right.svg")
      size: 24px
      margin-left: 12px

    &:hover:after
      background-image: svg-load("icons/arrow-long-right.svg", fill: $accent-1-medium)

  &--search
    &:after
      background-image: resolve("icons/search.svg")
      size: 48px

    &:hover:after
      background-image: svg-load("icons/search.svg", fill: $accent-1-medium)

  &--burger
    &:after
      background-image: resolve("icons/burger.svg")
      size: 48px

    &:hover:after
      background-image: svg-load("icons/burger.svg", fill: $accent-1-medium)

  &--cross
    &:after
      background-image: resolve("icons/cross.svg")
      size: 32px

    &:hover:after
      background-image: svg-load("icons/cross.svg", fill: $accent-1-medium)

  &--cross-white
    &:after
      background-image: resolve("icons/cross.svg")
      size: 32px

    &:hover:after
      background-image: svg-load("icons/cross.svg", fill: #fff)

  &--back
    &:after
      background-image: resolve("icons/btn--back.svg")
      size: 32px

  &--lang
    display: inline-flex
    align-items: center
    border: 1px solid var(--accent-1-light)
    color: var(--accent-1-light)
    padding: 0
    margin: 16px 0 0 @md 32px 0 0
    max-width: 290px
    width: 100%

    span
      width: 100%
      text-align: center
      display: block
