.card
  background-color: #fff
  border-radius: 2px
  overflow: hidden
  padding: .6rem 1rem 1.5rem @xl .6rem 1rem 1.2rem
  display: @md-down none

  &--mobile-visible
    display: @md-down block
    margin: .5rem 0 @sm 1rem 0

  & + &
    margin-top: 1rem

  .btn--accent
    width: 100%
    min-height: 2rem
    margin-top: 1.5rem

  &--tweet
    padding-top: @md-down .9rem

  &--press--release

    .aside-story
      display: none @md flex

      &:first-child
        display: @md-down flex

  &--no-padding
    padding: 0 !important

  &__title
    text: #90a4ae 13px 16px 500
    margin-bottom: 1.1rem @xl 1.7rem

    &--border
      text: $pseudo-neutral-900 13px 1.4 600
      padding: .5rem 1rem
      margin-bottom: 0 @xl 0
      border-bottom: $border
      box: center
      justify-content: space-between
      min-height: 2.5rem

  &__desc
    text: $body-small
    margin: -.2rem * .9rem @xl -.7rem * 1rem

  &__list

    &-item
      border-top: 1px solid $pseudo-neutral-50
      padding: .7rem * @xl 1rem *

      &:last-child
        padding-bottom: 0

    &-title
      text: $header-super-tiny @xl $header-tiny
      margin-bottom: .5rem

    &-link
      text: $body-small
      @extend .link-decorate

  &__footer
    margin-top: .9rem @xl 1.4rem

  &--something
    padding: 0 !important
    border: 0
    border-radius: 0

    img
      height: auto

  .advertising
    justify-content: space-between
    display: block @xl flex
    padding: .9rem 0 1.5rem @xl-down 0 0 1rem

    &_link
      @extend .link-plain
      text: 13px 16px

      margin-bottom: @xl-down 1rem
      display: @xl-down block

      &:last-child
        margin-bottom: @xl-down 0

  .form-subscribe
    box: @xl flex space-between center

    padding: 2rem 0 @xl-down 1rem 0
    border-top: 1px solid #cfd8dc

    .title
      text: #90a4ae 13px 16px
      margin-bottom: @xl-down 1rem

  .toggle-checkbox
    box:

    .toggle
      background: #cfd8dc
      border-radius: 6px
      width: 2rem
      min-height: 1px
      position: relative 2px null null null
      cursor: pointer

      &:before
        content: ''
        background-color: #cfd8dc
        width: 2rem
        height: 12px
        display: block
        transition: .2s
        border-radius: 6px

      &:after
        content: ''
        background-color: #90a4ae
        width: 1rem
        height: 1rem
        border-radius: 50%
        transition: .2s
        display: block
        position: absolute -2px null null 0

      &:checked

        &:before
          background-color: $accent-1-light

        &:after
          left: 1rem
          background-color: $accent-1-dark

    label
      text: #263238 13px 16px
      margin-left: .5rem

  .text-tiny
    text: #90a4ae 13px

  .follow__block
    box: space-between center
    padding-top: 1.5rem @xl-down 1rem
    margin-top: 1rem
    border-top: 1px solid #cfd8dc

    .title
      text: #90a4ae 13px 16px

    .social__link
      margin-left: 1rem

      &:first-child
        margin-left: 0

  .show-more
    margin-top: 1.5rem

  &--related
    @extend .link-plain
    text: $neutral 13px 1.8
    background-color: #263238
    box: space-between vertical @xl horizontal
    align-items: flex-start
    padding: 1rem @xl 1rem
    text-decoration: none

    .related_body
      order: @xl-down 2

    .related_img
      order: @xl-down 1
      margin-left: @xl 1rem
      margin-bottom: @xl-down 1rem
      min-width: @xl 96px
      max-width: 100% @xl 96px
      border: 1px solid #cfd8dc
      border-radius: 2px

      img
        @extend .img

  &--miners
    padding: 0 @xl 0
    margin-bottom: 1rem @md 1.5rem @xl 2rem

    .card__body

      .aside-story--miners
        padding: 1rem
        align-items: flex-start @xs center @md flex-start @xl center

      .aside-story__name
        min-width: 115px

      .aside-story__text
        text: #78909C 13px 16px
        margin-top: .5rem

      .aside-story__img

        &-wrapper
          max-width: 85px
          min-width: 85px
          background: transparent

          margin-top: 1rem @xs 0 @md 1rem @xl 0

  &__body
    &-counter
      background-color: #fff
      counter-reset: section

      .btn--block
        .btn
          &:last-child
            margin-top: @md 0

      .aside-story
        &:before
          counter-increment: section
          content: "#" counter(section)
          text: $pseudo-neutral-200 13px 1.8
          margin-right: .25rem
          position: relative @xs static @md relative @xl static
          top: -3px

  &__mark
    text: $pseudo-neutral-200 13px 1.8 400







