.card
  background-color: #fff
  border-radius: 2px
  overflow: hidden
  display: @md-down none

  &--mobile-visible
    display: @md-down block
    margin: .5rem 0 @sm 1rem 0

  & + &
    margin-top: 1rem

  .btn--accent
    width: 100%

  &--tweet
    padding-top: @md-down .9rem

  &--press--release

    .aside-story
      display: none @md flex

      &:first-child
        display: @md-down flex

    ^&__footer
      border: none
      margin-bottom: .7rem @xl 1.1rem

  &--no-padding
    padding: 0

  &__title
    text: $pseudo-neutral-900 13px 1.4 600
    padding: .219rem 1rem
    min-height: 40px
    border-bottom: $border
    margin-bottom: 0
    box: center space-between

    &-flame
      font-weight: 600
      border-bottom: 0
      color: $accent-2-medium
      text-transform: uppercase
      display: inline-flex
      align-items: center
      margin-bottom: 0

      &:before
        content: ''
        background-image: svg-load('icons/flame.svg', fill: $accent-2-medium)
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        size: 24px
        margin-right: .5rem

  &__desc
    text: $body-small
    margin: -.2rem * .9rem @xl -.7rem * 1rem

  &__list

    &-item
      border-top: 1px solid $pseudo-neutral-50
      padding: .7rem * @xl 1rem *

      &:last-child
        padding-bottom: 0

    &-title
      text: $header-super-tiny @xl $header-tiny
      margin-bottom: .5rem

    &-link
      text: $body-small
      @extend .link-decorate

  &__social
    box: center
    min-height: 64px

    .social__link
      margin-right: 1.5rem

  &__footer
    padding: .219rem 1rem
    border-top: $border
    box: center space-between

    .btn
      font-weight: 600

  &--something
    padding: 0
    border: 0
    border-radius: 0

    img
      height: auto

  .text-tiny
    text: #90a4ae

  &--miners
    padding: 0 @xl 0
    margin-bottom: 1rem @md 1.5rem @xl 2rem

    .aside-story:first-child
      padding-top: 0

    .aside-story + .aside-story
      padding-top: .9rem

    .aside-story
      padding-bottom: .9rem

    .card__body
      padding-top: .9rem
      padding-bottom: .9rem

      .aside-story--miners
        align-items: center @md flex-start @xl center

      .aside-story__name
        min-width: 115px

      .aside-story__text
        text: #78909C 13px 16px
        margin-top: .5rem

      .aside-story__img

        &-wrapper
          max-width: 75px
          min-width: 1px @xs 75px
          width: 100%
          background: transparent
          display: block

          margin-top: @md 1rem @xl 0

  &--article

    ^&__body
      padding: 0


  &__body
    padding: 1.3rem 1rem 1.5rem @xl * * 1.2rem

    &-counter
      background-color: #fff
      counter-reset: section

      .btn--block
        .btn
          &:last-child
            margin-top: @md 0

      .aside-story
        &:before
          counter-increment: section
          content: "#" counter(section)
          text: $pseudo-neutral-200 13px 1.3
          margin-right: .25rem
          display: none @xs inline-block

  &__mark
    text: $pseudo-neutral-300 13px 1.8 500

  &__subscribe
    margin-bottom: .7rem

    .btn--accent
      margin-top: 0
      font-weight: 600

    .input
      margin-right: 0

    .form--col
      width: 100%
      margin-right: -3px

    &-title
      text: $pseudo-neutral-900 600 13px 16px
      margin-bottom: 1.5rem








