.container
  max-width: $container-sm-px
  margin: * auto
  padding: * 1rem @xl * .5rem

@media $md
  .container
    max-width: $container-md-px

@media $lg
  .container
    max-width: $container-lg-px

@media $xl
  .container
    max-width: $container-xl-px

.page-container
  background: transparent
  padding: @xl-down 0
  margin-top: .5rem @sm 1rem

.content-container
  box: space-between wrap
  position: relative
  z-index: 96
  padding-bottom: 1px @md 2px
  width: 100%

.main-block
  width: 100% @md 480px @xl 712px
  padding: 1rem @sm 1rem 1.5rem @md 2rem 1.5rem @xl 2rem
  order: @md-down 2
  background-color: $neutral

.event-block
  width: 100% @xl 736px

.aside-block
  max-width: 240px @md-down 100% @xl 360px
  width: 100%
  display: @md-down block
  order: @md-down 1
  margin-bottom: .5rem @sm 1rem

.main-container
  box: space-between
  flex-wrap: wrap
  margin: 1rem 0 1.5rem 0 @md-down .5rem auto
  position: relative
  z-index: 96
  max-width: @md-down 480px

.top-story-block
  max-width: 100%

.news-block
  max-width: 100%

.main-aside-container
  box: space-between
  flex-wrap: wrap @md nowrap
  align-items: flex-start

  &--vertical
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 480px @md 768px @xl 800px
    margin: 0 auto

    .aside-menu-block
      order: 1
      width: 100%
      max-width: 100%

    .main-category-block
      order: 2
      width: 100%

  .content-block
    margin: -1rem -1rem 0 @sm -1rem -1.5rem 0 @md -2rem -1.5rem 0 @xl -2rem -2rem 0
    width: auto

.main-news-block
  width: 100% @md 480px @xl 760px
  order: @md-down 2
  position: relative
  z-index: 99

  & > *
    margin: .5rem * @sm 1rem *

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  & > .article
    margin-top: 0

  .something--content
    margin-bottom: .5rem @sm 1rem

.main-category-block
  width: 100% @md 480px @xl 712px
  background-color: #fff
  padding: 2rem 1rem @sm 1.5rem 2rem
  order: @md-down 2

.aside-category-block
  @extend .aside-block

.aside-menu-block
  max-width: 100% @md 240px @xl 336px
  width: 100%

  .inner-wrapper-sticky

    & > *
      margin-top: .5rem @sm 1rem

      &:first-child
        margin-top: 0

  & > *
    margin-top: .5rem @sm 1rem

    &:first-child
      margin-top: 0

.content-block
  background: #fff
  width: 100%

  & + &
    margin-top: .5rem @md 1rem

.main-center-block
  width: 100%
  box:
  justify-content: center

  .main-block
    background-color: transparent
    padding: 0
    max-width: 768px
    width: 100%

aside
  position: relative
  z-index: 7