ul
  list-style: none
  padding: 0
  margin: 0

.visibility-hidden
  visibility: hidden

.hide
  &-xl-down
    display: @xl-down none

  &-xl-only
    display: @xl none

  &-md-down
    display: @md-down none

  &-md-up
    display: @md none

  &-sm-down
    display: @sm-down none

  &-sm-only
    display: @sm none

.promoted__mark
  border: 1px solid rgba(255, 255, 255, 0.4)
  text: $neutral 13px 16px 500
  padding: 0 .5rem
  text-shadow: -2px 2px 8px black
  border-radius: 0 0 0 2px
  position: absolute 0 0 null null

