.btns-spacer
  box: wrap
  margin-bottom: -.5rem

  > *
    margin: * .5rem .5rem *

.btn-aside-space
  margin-top: 1rem @xl 2rem

.btn-filter-space
  margin-top: 2rem

img
  display: block
  max-width: 100%

ul
  list-style: none
  padding: 0
  margin: 0

.visibility-hidden
  visibility: hidden

.hide
  &-xl-down
    display: @xl-down none

  &-xl-only
    display: @xl none

  &-md-down
    display: @md-down none

  &-md-up
    display: @md none

  &-sm-down
    display: @sm-down none

  &-sm-only
    display: @sm none