.humble
  text: $pseudo-neutral-300 $body-tiny
  text-decoration: none
  margin-right: 1.3rem
  display: inline-flex
  align-items: center
  cursor: default
  background: transparent
  border: 0
  padding: 0
  outline: 0
  user-select: none
  height: 24px
  white-space: nowrap

  &__inner-text
    margin-left: .25rem

  &--accent
    color: $accent-1-medium
    margin-right: .3rem

  &--large
    text: $pseudo-neutral-900 $body-small @sm $body-standart
    margin-right: 1rem @sm 1.7rem

  &--dark
    color: $pseudo-neutral-900
    font-weight: 600

  &--views,
  &--comments,
  &--liked,
  &--bookmark,
  &--share,
  &--info,
  &--liked
    &:before
      content: ""
      display: block
      size: 14px @sm 24px
      margin-right: .6rem
      background-size: contain
      background-position: center
      background-repeat: no-repeat

  &--views
    &:before
      background-image: svg-load("icons/eye.svg" fill: $pseudo-neutral-300)

  &--info
    &:before
      background-image: svg-load("icons/information.svg" fill: $pseudo-neutral-300)

  &--comments
    &:before
      background-image: svg-load("icons/comment.svg" fill: $pseudo-neutral-300)

  &--liked
    &:before
      background-image: svg-load("icons/liked.svg" fill: $pseudo-neutral-300)

    &.humble--dark
      &:before
        background-image: svg-load("icons/liked.svg" fill: $pseudo-neutral-900)

  &--bookmark
    &:before
      background-image: svg-load("icons/bookmark.svg" fill: $pseudo-neutral-300)

  &--share
    &:before
      background-image: svg-load("icons/share.svg" fill: $pseudo-neutral-300)

  &--tiny
    margin-right: .7rem @sm 1rem

    &:before
      size: 14px
      margin-right: .3rem

  &--single-icon:before
    margin-right: 0

  &--comments_bold
    &:before
      background-image: svg-load("icons/comment_bold.svg" fill: $pseudo-neutral-200)

  &--liked_bold
    &:before
      background-image: svg-load("icons/liked_bold.svg" fill: $pseudo-neutral-200)

  &__img
    display: block
    border-radius: 2px
    margin-right: .5rem
    size: 24px
    min-width: 24px
    border-radius: 50%