.humble
  text: #546E7A 500 13px 2.1
  letter-spacing: .015em
  white-space: nowrap
  text-decoration: none
  display: inline-flex
  height: 24px
  margin-right: 16px
  padding: 0
  border: 0
  outline: 0
  background: transparent
  align-items: center
  position: relative

  &:last-child
    margin: 0

  &--tiny
    margin-right: 8px

  &__img
    display: block
    margin-right: 8px
    border-radius: 50%
    size: 24px
    overflow: hidden

  &__row
    display: flex
    flex-wrap: wrap

  &--between
    justify-content: space-between
    align-items: center

  &--author
    margin-top: 8px
    height: 48px

  &--label
    background: #FF5722
    border-radius: 2px
    text: $neutral 700 13px 24px
    padding: 0 8px

  &--bg
    text: #263238 700 15px 1.6
    background: #B5DEFF
    padding: 5px 8px
    width: 100%
    height: auto
    white-space: inherit

  &--icon
    padding: 0 0 0 24px
    background-repeat: no-repeat
    background-size: 16px
    background-position: left center

  &--cert
    background-image: resolve("icons/label/certificate.svg")

  &--views
    background-image: resolve("icons/eye-bold.svg")

  &--comments
    background-image: resolve("icons/comment-bold.svg")

  &--liked
    background-image: resolve("icons/liked-bold.svg")

.promoted__mark, .sponsored__mark
  background: #FF5722
  border-radius: 2px
  text: $neutral 700 13px 24px
  z-index: 2
  padding: 0 8px
  position: absolute
  top: 8px
  right: 8px