.icon
  size: 16px @md 24px
  display: inline-block
  background-size: contain

  &--check
    background-image: resolve("icons/check.svg")

  &--cross
    background-image: resolve("icons/cross.svg")

  &--clock
    background-image: resolve("icons/clock.svg")

