.icon
  size: 16px @md 24px
  display: inline-block
  background-size: contain
  background-repeat: no-repeat

  &--check
    background-image: resolve("icons/check.svg")

  &--cross
    background-image: resolve("icons/cross.svg")

  &--clock
    background-image: resolve("icons/clock.svg")

  &--rus,
  &--eng
    size: 56px @md 56px
    min-width: 56px
    background-size: 24px
    background-position: center
    border-right: $border

  &--rus
    background-image: resolve("icons/flag-ru.svg")

  &--eng
    background-image: resolve("icons/flag-eng.svg")

.theme-dark
  .icon
    &--check
      background-image: resolve("icons/check-white.svg")

    &--cross
      background-image: resolve("icons/cross-white.svg")

    &--clock
      background-image: resolve("icons/clock-white.svg")


