.link-decorate, p a:not([class])
  text: $accent-1-light
  text-decoration: none

  &:hover
    text: $accent-1-medium

  &:active
    text: $accent-1-dark

a
  text: #2962ff
  text-decoration: none
  transition: .15s

  &:hover
    text: $accent-1-medium

.link-plain
  text: $pseudo-neutral-900
  text-decoration: none

  &:hover
    text: $accent-1-medium

  &:active
    text: $accent-1-dark