.modal
  position: fixed 0 0 0 0
  background: $cover-color
  justify-content: center
  z-index: 99990
  display: none
  overflow: auto
  opacity: 0
  transition: .3s ease
  padding: 16px @md 32px

  &--open
    display: flex

  &--fadeIn
    opacity: 1

    ^&__item, ^&__square
      transform: translateY(0) scale(1)

    ^&__square-img
      transform: translateY(0) scale(1)
      transition-delay: 0s

  &__item, &__square
    transform: translateY(-10px) scale(.98)
    transition: .3s ease

  &__close
    position: absolute 3px 3px null null

  &__square
    size: auto
    border-radius: 2px
    overflow: hidden
    box: vertical left @md horizontal
    margin: auto
    display: none
    text-align: center

    &-tiny
      ^&-content
        max-width: 320px

      ^&-title
        text-align: center
        text: 600 17px 1.4
        margin: 0 0 24px

    ^&__close
      opacity: .6 @md .25
      z-index: 3

      &:hover
        opacity: .8 @md 1

    &-content
      max-width: 640px
      width: 100%
      padding: 32px 16px 16px @sm 32px
      background: var(--accent-bg-1)
      position: relative
      z-index: 2

    &-title
      text: 800 23px 1.2 center @md 35px
      margin: 0 0 16px @md 0 0 32px

    &-agree
      text: #78909C 500 13px 2.1
      letter-spacing: .015em
      text-align: center
      margin-top: 16px

    &-text
      text: 500 15px 1.6 center @md 19px
      margin: 16px 0 @md 32px 0

    .btn--column
      margin: 16px 0 0 @md 32px 0 0
      align-items: center

  &__yb
    position: fixed
    bottom: 140px
    right: 0
    width: 384px
    z-index: 9999
    display: none @md block
    background: var(--accent-bg-1)

    &-desc
      padding: 8px 32px 8px 16px

    &-title
      text: 700 13px 1.5
      display: inline

    iframe
      size: 384px 216px
      margin: 0 0 -7px