blockquote
  margin: 2.5rem 0 1.7rem @md 3.2rem 0 2rem @xl 4rem 0 2.5rem
  position: relative
  border-left: 4px solid $accent-1-light
  padding: .5rem 1rem

  &:before
    content: ""
    display: block
    background: resolve("icons/quote.svg") center / cover
    size: 1.5rem
    position: absolute -26px null null -14px

  p
    font-style: italic
    margin: 0