.social
  display: inline-flex
  align-items: center
  justify-content: space-between

  &--border
    border: $border
    border-radius: 2px
    width: @md-down 100%

    ^&__link
      width: 100% @md 2.45rem @xl 4rem
      height: 48px

      & + ^^&__link
        border-left: $border

  &--wide
    ^&__link
      width: 100% @md 48px @xl 72px

  &__title
    text: 13px 16px 600 $pseudo-neutral-900
    margin-right: 1.5rem

  &__link
    size: 48px
    background-position: center
    background-repeat: no-repeat
    color: transparent
    text-indent: -9999px

    &--name
      display: block
      margin-right: 1rem
      text: $pseudo-neutral-400 500 13px 24px

    &--fb
      background-image: svg-load("icons/social/facebook.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/facebook.svg" fill: $fb-color)

    &--tg
      background-image: svg-load("icons/social/telegram.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/telegram.svg" fill: $tg-color)

    &--tw
      background-image: svg-load("icons/social/twitter.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/twitter.svg" fill: $tw-color)

    &--em
      background-image: svg-load("icons/social/email.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/email.svg" fill: $accent-1-medium)

    &--yt
      background-image: svg-load("icons/social/youtube.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/youtube.svg" fill: $yt-color)

    &--rd
      background-image: svg-load("icons/social/reddit.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/reddit.svg" fill: $rd-color)

    &--rs
      background-image: svg-load("icons/social/rss.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/rss.svg" fill: $rs-color)

    &--ln
      background-image: svg-load("icons/social/linkedIn.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/linkedIn.svg" fill: $ln-color)

    &--insta
      background-image: svg-load("icons/social/instagram.svg" fill: $pseudo-neutral-200)

      &:hover, &-paint
        background-image: svg-load("icons/social/instagram.svg" fill: $insta-color)

    &--bg
      size: 56px 24px
      background-size: 16px
      margin-right: 8px
      display: inline-flex

      &.social__link--tw
        background-color: $tw-color
        background-image: resolve("icons/social/twitter-white.svg")

      &.social__link--fb
        background-color: $fb-color
        background-image: resolve("icons/social/facebook-white.svg")

      &.social__link--ln
        background-color: $ln-color
        background-image: resolve("icons/social/linkedin-white.svg")

.share__social
  margin: 0 16px 8px 0
