.social
  display: inline-flex
  align-items: center
  justify-content: space-between

  &--border
    border: $border
    border-radius: 2px
    width: @md-down 100%

    ^&__link
      width: 100% @md 2.45rem @xl 4rem
      height: 38px

      & + ^^&__link
        border-left: $border

  &--wide
    ^&__link
      width: 100% @md 2.7rem @xl 4.5rem

  &__title
    text: 13px 16px 600 $pseudo-neutral-900
    margin-right: 1.5rem

  &__link
    size: 1.5rem
    background-position: center
    background-repeat: no-repeat

    &--name
      display: block
      margin-right: 1rem
      text: $pseudo-neutral-300 500 13px 24px

    &--tiny
      size: 1rem
      background-size: contain
      margin-right: 1rem

    &--fb
      background-image: svg-load("icons/social/facebook.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/facebook.svg" fill: $fb-color)

      &:active
        background-image: svg-load("icons/social/facebook.svg" fill: $pseudo-neutral-900)

      &-paint
        background-image: svg-load("icons/social/facebook.svg" fill: $fb-color)

    &--tg
      background-image: svg-load("icons/social/telegram.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/telegram.svg" fill: $tg-color)

      &:active
        background-image: svg-load("icons/social/telegram.svg" fill: $pseudo-neutral-900)

      &-paint
        background-image: svg-load("icons/social/telegram.svg" fill: $tg-color)

    &--tw
      background-image: svg-load("icons/social/twitter.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/twitter.svg" fill: $tw-color)

      &:active
        background-image: svg-load("icons/social/twitter.svg" fill: $pseudo-neutral-900)

      &-paint
        background-image: svg-load("icons/social/twitter.svg" fill: $tw-color)

    &--em
      background-image: svg-load("icons/social/email.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/email.svg" fill: $accent-1-medium)

      &:active
        background-image: svg-load("icons/social/email.svg" fill: $pseudo-neutral-900)

    &--yt
      background-image: svg-load("icons/social/youtube.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/youtube.svg" fill: $yt-color)

      &:active
        background-image: svg-load("icons/social/youtube.svg" fill: $pseudo-neutral-900)

    &--rd
      background-image: svg-load("icons/social/reddit.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/reddit.svg" fill: $rd-color)

      &:active
        background-image: svg-load("icons/social/reddit.svg" fill: $pseudo-neutral-900)

    &--rs
      background-image: svg-load("icons/social/rss.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/rss.svg" fill: $rs-color)

      &:active
        background-image: svg-load("icons/social/rss.svg" fill: $pseudo-neutral-900)

    &--ln
      background-image: svg-load("icons/social/linkedIn.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/linkedIn.svg" fill: $ln-color)

      &:active
        background-image: svg-load("icons/social/linkedIn.svg" fill: $pseudo-neutral-900)

    &--insta
      background-image: svg-load("icons/social/instagram.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/social/instagram.svg" fill: $insta-color)

      &:active
        background-image: svg-load("icons/social/instagram.svg" fill: $pseudo-neutral-900)

