.something
  overflow: hidden
  text-align: center
  position: relative

  img
    width: auto

  &--content
    margin: 24px 0 @xl 32px 0
    display: flex
    justify-content: center
    align-items: center

  &__content
    display: block

    img
      margin: * auto
      height: auto

    &-long
      text-align: center
      display: inherit @xl-down none
      position: relative

      img
        margin: * auto
        height: auto

      & > ins
        display: block
        margin: 0 auto

    &-scale
      transform: scale(0.89)

    &-square
      display: inherit @xl none
      text-align: center
      position: relative

      img
        margin: * auto
        height: auto

      & > ins
        display: block
        margin: 0 auto

  &-long
    display: @md-down none

  &-square
    display: @md none

  &--fixed
    position: fixed null 0 0 0
    z-index: 151
    max-height: 90px
    background: rgba(245, 245, 245, 0.8)

    img
      max-height: 90px
      width: auto
      margin: 0 auto

    &__desktop
      display: none @md block

    &__mobile
      display: block @md none

  &--close
    position: absolute
    right: 0
    top: -32px 

  &--container
    max-width: 768px
    margin: 0 auto

.ref
  text: $pseudo-neutral-400 13px 1.6
  text-align: center
  margin: 0 0 16px 0



