.store
  display: inline-flex
  align-items: center

  &__link
    size: 1.5rem
    background-position: center
    background-repeat: no-repeat

    & + &
      margin-left: 1rem

    &--gp
      background-image: svg-load("icons/store-google.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/store-google.svg" fill: $pm-color)

    &--as
      background-image: svg-load("icons/store-apple.svg" fill: $pseudo-neutral-200)

      &:hover
        background-image: svg-load("icons/store-apple.svg" fill: $as-color)