.store
  display: inline-flex
  align-items: center

  &__link
    size: 48px
    background-position: center
    background-repeat: no-repeat

    &-gp
      background-image: resolve("icons/store-google.svg")

      &:hover
        background-image: svg-load("icons/store-google.svg" fill: $accent-1-dark)

    &-as
      background-image: resolve("icons/store-apple.svg")

      &:hover
        background-image: svg-load("icons/store-apple.svg" fill: $accent-1-dark)