
.content-block

  h1, h2, &__title
    text: 17px 19px 600 @xl 22px 24px
    padding: 1rem @sm 1.5rem 2rem
    border-bottom: $border
    margin-bottom: 0

  p
    margin: 0 0 1.5rem @xl 0 0 2rem
    text: 13px 1.8 500 @xl 15px 2.2

    &:last-child
      margin-bottom: 0

