.cookies
  background: $neutral
  box-shadow: 0 0 24px rgba(33, 150, 243, 0.15)
  position: fixed
  right: 0
  bottom: 0
  left: 0
  padding: 16px 0 @md 10px 0
  z-index: 300

  &__row
    display: block @md flex
    justify-content: space-between
    align-items: center
    padding: 0 16px @sm 0

  &__desc
    text: 400 14px 1.5
    margin: 0
    max-width: 825px
    text-align: center @md left

  .btn__block
    justify-content: center
    margin: 16px auto 0 @md 0 0 0 32px
    display: flex
    align-items: center

    & > *
      margin: 0 16px 0 0 @sm 0 24px 0 0
      white-space: nowrap
      text: 13px

      &:last-child
        margin: 0 @sm 0

.overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(255, 255, 255, 0.5)