.form--row
  box: wrap

  .input
    margin-right: @md 8px @xl 16px
    margin-bottom: @md 0
    display: @md flex

.input
  position: relative
  margin-bottom: 16px

  &__elem
    border: 1px solid #CFD8DC
    border-radius: 2px
    padding: 0 10px
    height: 40px
    outline: 0
    text: 500 13px 1.9
    font-family: 'Montserrat', sans-serif
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start