.footer
  margin-top: 32px
  position: relative
  z-index: 150
  background: $neutral

  &__container
    padding: 0 16px

  &__title
    text: 700 15px 1.6
    margin: 0 0 12px
    display: block

  .social
    margin-left: -16px

  &:before
    content: ''
    display: block
    border-bottom: 3px solid #263238

  &__row
    flex-wrap: wrap
    padding-top: 24px
    padding-bottom: 24px
    border-bottom: 1px solid #CFD8DC
    display: flex
    justify-content: space-between

  &__follow-us
    margin: 0 0 24px
    width: 100%

  &__subscribe
    width: 100%

    &-agree
      text: #546e7a 500 13px 2.1
      margin-top: 0

    .btn
      color: #fff
      background: #2962ff
      border-color: #2962ff

  &__nav
    position: relative
    padding: 21px 0 16px
    border-bottom: 1px solid #cfd8dc

    &-list
      margin: -24px 0 0
      list-style: none
      padding: 0
      display: flex
      flex-wrap: wrap
      justify-content: space-between

    &-item
      width: 60%
      white-space: nowrap
      margin-top: 24px

      &:nth-child(even)
        width: 30%

    &-link
      text: #263238 600 17px 1.4

    &-child

      &-list
        display: none

  &__copy
    padding: 24px 0
    display: flex
    flex-wrap: wrap

    &-text
      text: #546E7A 500 15px 1.9
      margin-right: 32px

    &-link
      text: #2962FF 500 15px 1.9

    p
      margin: 0 0 16px

  &__disclaimer
    border-bottom: 1px solid #cfd8dc
    padding: 16px 0 12px

    &-text
      text: #546e7a 500 15px 1.6
      margin: 0