.social
  display: inline-flex
  align-items: center
  justify-content: space-between

  &__link
    width: 48px
    height: 48px
    text-align: center
    line-height: 60px
    overflow: hidden
    color: transparent
    outline: none

  &--wide

    ^&__link
      margin: 0 24px 0 0
