.something
  overflow: hidden
  text-align: center
  position: relative

  &--top
    position: relative
    margin: 16px 0

  &--content
    margin: 24px 0 @md 32px 0 @xl 40px 0

  &__content
    display: flex
    width: 100%
    position: relative

    amp-img
      margin-right: auto
      margin-left: auto
      height: auto

    &-long
      text-align: center
      display: none @md flex
      justify-content: center

    &-square
      display: flex @md none
      justify-content: center
      text-align: center

.ref
  text-align: center
  margin: 0 0 16px
  padding: 0 16px
  text: #78909c 14px 1.6

  a
    color: #78909c
    text-decoration: underline

