/* Date: 28-May-2020 */
* {
    box-sizing: border-box
}

html {
    padding: 0;
    margin: 0
}

body {
    background-color: #f5f5f5;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 160%
}

.page-container {
    margin-bottom: 16px
}

.container {
    max-width: 1150px;
    margin: 0 auto
}

aside {
    width: 100%;
    margin: 16px 0
}

.share__social {
    display: flex;
    margin-bottom: 8px;
    width: 100%
}

.share__circle {
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
}

.share__circle + .share__circle {
    margin-left: 8px
}

.share__circle-tw {
    background-color: #1da1f2
}

.share__circle-fb {
    background-color: #3B5998
}

.share__circle-ln {
    background-color: #0077b5
}

.share__circle svg {
    display: block;
    width: 24px;
    height: 24px
}

.aside-story {
    padding: 0 0 16px;
    width: 100%;
    display: flex;
    justify-content: space-between
}

a.aside-story__img-wrapper {
    margin: 0 10px 0 0
}

.disclaimer, .caption {
    margin: 0 0 30px;
    color: #90A4AE;
    font-size: 15px
}

.disclaimer_text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4
}

a {
    color: #2962FF;
    text-decoration: none
}

.event__info {
    margin: 24px -16px 0;
    border-top: 1px solid #E0E0E0;
    padding: 24px 16px 16px
}

.event__info-row {
    display: flex;
    align-items: flex-start
}

.event__info-row + .event__info-row {
    margin-top: 24px
}

.event__info-label {
    color: #78909C;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9;
    min-width: 110px
}

.event__info-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9
}

.author__social {
    margin: 24px 0;
    display: flex;
    justify-content: flex-start
}

.author__social .social__link {
    margin-right: 32px
}

.author__articles {
    margin: 0 -16px -16px;
    padding: 32px 0 0;
    background: #f5f5f5
}

.author__articles h2 {
    padding: 0 16px
}

.overflow-hidden {
    overflow: hidden
}

.overflow-hidden {
    overflow: hidden
}

.aside-story {
    padding-bottom: 12px;
    display: flex;
    align-items: flex-start
}

.aside-story:last-child {
    padding-bottom: 0
}

.aside-story + .aside-story {
    padding-top: 16px;
    border-top: 1px solid #eceff1
}

.aside-story__name {
    color: #263238;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600
}

.aside-story__img {
    border-radius: 2px;
    width: 100%
}

.aside-story__img-wrapper {
    position: relative;
    width: 72px;
    min-width: 72px;
    border-radius: 2px;
    margin-right: 16px
}

.aside-story__info {
    display: flex;
    align-items: center
}

.aside-story__body {
    margin-top: -6px
}

.aside-story__row {
    align-items: center;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between
}

.aside-story__row-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: center
}

.aside-story__link {
    color: #263238;
    font-size: 13px;
    line-height: 1.9;
    font-weight: 500;
    margin-left: 8px;
    text-decoration: none;
    display: block
}

.aside-story__info {
    margin-left: 8px
}

.aside-story__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 2.1;
    letter-spacing: .015em;
    margin-top: 2px
}

.card {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 16px
}

.card:last-child {
    margin: 0
}

.card .btn--accent {
    width: 100%
}

.card--press--release .aside-story {
    display: none
}

.card--press--release .card__footer {
    border: 0;
    margin-bottom: 8px
}

.card--no-padding {
    padding: 0
}

.card__title {
    color: #263238;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    padding: 4px 16px;
    border-bottom: 1px solid #cfd8dc;
    margin: 0;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card__title-flame {
    font-weight: 600;
    border-bottom: 0;
    color: #f44336;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0
}

.card__title-flame:before {
    content: '';
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23F44336' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.5501 11.2C17.3201 10.9 17.0501 10.64 16.7901 10.38C16.1401 9.78 15.3901 9.35 14.7601 8.72C13.3001 7.26 13.0001 4.85 13.9101 3C13.0001 3.23 12.1601 3.75 11.4601 4.32C8.92009 6.4 7.92009 10.07 9.12009 13.22C9.16009 13.32 9.20009 13.42 9.20009 13.55C9.20009 13.77 9.05009 13.97 8.85009 14.05C8.63009 14.15 8.39009 14.09 8.21009 13.93C8.15009 13.88 8.11009 13.83 8.06009 13.76C6.96009 12.33 6.78009 10.28 7.53009 8.64C5.89009 10 5.00009 12.3 5.14009 14.47C5.18009 14.97 5.24009 15.47 5.41009 15.97C5.55009 16.57 5.81009 17.17 6.13009 17.7C7.17009 19.43 9.00009 20.67 10.9701 20.92C13.0701 21.19 15.3201 20.8 16.9301 19.32C18.7301 17.66 19.3801 15 18.4301 12.72L18.3001 12.46C18.1001 12 17.8301 11.59 17.5001 11.21L17.5501 11.2ZM14.4501 17.5C14.1701 17.74 13.7201 18 13.3701 18.1C12.2701 18.5 11.1701 17.94 10.5001 17.28C11.6901 17 12.3901 16.12 12.5901 15.23C12.7601 14.43 12.4501 13.77 12.3201 13C12.2001 12.26 12.2201 11.63 12.5001 10.94C12.6701 11.32 12.8701 11.7 13.1001 12C13.8601 13 15.0501 13.44 15.3001 14.8C15.3401 14.94 15.3601 15.08 15.3601 15.23C15.3901 16.05 15.0401 16.95 14.4401 17.5H14.4501Z' fill='%23F44336'/%3E %3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 8px
}

.card__desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9;
    margin-top: -4px;
    margin-bottom: 16px
}

.card__list-item {
    border-top: 1px solid #eceff1;
    padding-top: 8px;
    padding-bottom: 8px
}

.card__list-item:last-child {
    padding-bottom: 0
}

.card__list-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 8px
}

.card__list-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9
}

.card__social {
    min-height: 64px;
    display: flex;
    align-items: center
}

.card__social .social__link {
    margin-right: 24px
}

.card__footer {
    padding: 4px 16px;
    border-top: 1px solid #cfd8dc;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card__footer .btn {
    font-weight: 600;
    font-size: 15px
}

.card--something {
    padding: 0;
    border: 0;
    border-radius: 0;
    display: none
}

.card .text-tiny {
    color: #90a4ae
}

.card--article .card__body {
    padding: 0
}

.card__body {
    padding: 16px
}

.card__mark {
    color: #90a4ae;
    font-size: 13px;
    line-height: 1.8;
    font-weight: 500
}

.card--widget__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #263238;
    text-decoration: none
}

.card--widget__item:hover {
    color: #2196F3
}

.card--widget__item + .card--widget__item {
    margin-top: 24px
}

.card--widget__item .btn {
    width: 100%
}

.card--widget__item .btn--block {
    margin-left: 20px;
    width: auto
}

.card--widget__row {
    display: flex
}

.card--widget__info {
    margin-left: 8px
}

.card--widget__img-wrapper {
    max-width: 48px;
    min-width: 48px
}

.card--widget__img {
    max-width: 100%;
    display: block
}

.card--widget__title {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 700
}

.card--widget__signature {
    color: #263238;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500
}

.card--subscribe {
    background: transparent;
    border-radius: 0
}

.card__subscribe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.card__subscribe-item {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 8px
}

.card__subscribe-icon {
    padding: 16px;
    height: 56px
}

.card__subscribe-desc {
    padding: 0 12px;
    width: 100%;
    height: 56px
}

.card__subscribe-title {
    font-size: 15px;
    line-height: 33px;
    font-weight: 700;
    color: #fff
}

.card__subscribe-nick {
    font-size: 13px;
    line-height: 10px
}

.card__subscribe-fb .card__subscribe-icon {
    background: #3B5998
}

.card__subscribe-fb .card__subscribe-desc {
    background: #213256
}

.card__subscribe-tw .card__subscribe-icon {
    background: #1DA1F2
}

.card__subscribe-tw .card__subscribe-desc {
    background: #105B88
}

.card__subscribe-yb .card__subscribe-icon {
    background: red
}

.card__subscribe-yb .card__subscribe-desc {
    background: #8F0000
}

.card__subscribe-tm .card__subscribe-icon {
    background: #08C
}

.card__subscribe-tm .card__subscribe-desc {
    background: #069
}

.card__subscribe-em .card__subscribe-icon {
    background: #2979FF
}

.card__subscribe-em .card__subscribe-desc {
    background: #17448F;
    padding: 0 16px
}

.card__subscribe-em .card__subscribe-title {
    line-height: 56px
}

.card__subscribe-em {
    margin: 0
}

.amp-next-page-separator {
    border: none;
    margin: 24px 0
}

.share-and-up .share__social {
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(33, 150, 243, 0.5);
    border-radius: 8px;
    padding: .5rem;
    overflow: hidden;
    z-index: 202;
    display: flex;
    flex-direction: column
}

.share-and-up .share__circle {
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
}

.share-and-up .share__circle svg {
    display: block;
    width: 24px;
    height: 24px
}

.share-and-up {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 201;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

@media (min-width: 480px) {
    .hide-sm-up {
        display: none
    }

    .share__social {
        width: auto;
        margin-right: 24px
    }

    .aside-story__img-wrapper {
        width: 144px;
        min-width: 144px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }

    .hide-md-up {
        display: none
    }

    .mobile-menu__btn {
        display: none
    }

    .card--press--release .aside-story {
        display: flex
    }

    .card--widget__item {
        flex-wrap: wrap
    }

    .card--widget__item .btn--block {
        margin-top: 8px;
        margin-left: 0;
        width: 100%
    }

    .card--widget__item {
        flex-wrap: wrap
    }

    .card--widget__item .btn--block {
        margin-top: 8px;
        margin-left: 0;
        width: 100%
    }

    .aside-story__img-wrapper {
        width: 72px;
        min-width: 72px
    }

    .aside-story__row {
        align-items: flex-start
    }

    .event__info-label {
        min-width: 119px
    }

    .author__articles h2 {
        padding: 0
    }
}

@media (min-width: 888px) {
    .share-and-up .share__social {
        margin-top: -4rem;
        padding: 1rem .5rem
    }

    .share-and-up .share__circle + .share__circle {
        margin-top: 1rem;
        margin-left: 0
    }

    .share-and-up {
        left: 1rem;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }
}

@media (min-width: 1152px) {
    ul:not([class]) {
        margin: 32px 0 48px;
        padding-left: 24px
    }

    ul:not([class]) ul {
        margin: 24px 0 32px
    }

    .share-and-up .share__social {
        margin-right: 32px;
        margin-bottom: 0;
        width: auto
    }

    .card--something {
        display: block
    }

    .card__title {
        font-size: 15px
    }

    .card__desc {
        margin-top: -8px;
        margin-bottom: 16px
    }

    .card__list-item {
        padding-top: 16px;
        padding-bottom: 16px
    }

    .card__list-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 1.4
    }

    .card--something {
        display: block
    }

    .card--widget__item {
        flex-wrap: nowrap
    }

    .card--widget__item .btn--block {
        margin-top: 0;
        margin-left: 20px;
        width: auto
    }

    .card__subscribe-item {
        width: calc(50% - 4px)
    }

    .card__subscribe-em {
        width: 100%
    }

}

@media (max-width: 768px) {
    .card {
        display: none
    }

    .card--mobile-visible {
        display: block
    }

    .card__subscribe {
        padding: 0 16px
    }

    .card__subscribe-item {
        width: 49%
    }

    .card__subscribe-em {
        width: 100%
    }

    .card--tweet {
        padding-top: 16px
    }

    .card--press--release:first-child {
        display: flex
    }
}

@media (max-width: 479px) {
    .card--widget .card__title {
        margin-top: 0
    }

    .card__subscribe-item {
        width: 100%
    }

}

@media (max-width: 887px) {
    .share-and-up .share__social {
        display: flex;
        flex-direction: row
    }

    .share-and-up .share__circle + .share__circle {
        margin-left: 1rem
    }
}