.article {
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.article .image-popup-vertical-fit {
  display: block;
  margin-bottom: 1.5rem;
}

.article__summary {
  flex-wrap: wrap;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.article__summary-device {
  display: block;
  margin-top: 1.1rem;
  margin-bottom: .8rem;
}

.article__summary-bookmarks {
}

.article__summary-bookmarks:before {
}

.article__label {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.article__label:before {
  content: '';
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: .5rem;
}

.article__label--original:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23263238' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M8.25 19.5C4.5 19.5 1.5 16.5 1.5 12.75V4.5H6V12.75C6 13.95 7.05 15 8.25 15C9.45 15 10.5 13.95 10.5 12.75V4.5H15V12.75C15 16.5 12 19.5 8.25 19.5ZM22.5 7.5C22.5 5.85 21.15 4.5 19.5 4.5C17.85 4.5 16.5 5.85 16.5 7.5C16.5 9.15 17.85 10.5 19.5 10.5C21.15 10.5 22.5 9.15 22.5 7.5ZM21 7.5C21 8.4 20.4 9 19.5 9C18.6 9 18 8.4 18 7.5C18 6.6 18.6 6 19.5 6C20.4 6 21 6.6 21 7.5Z'/%3E %3C/svg%3E");
}

.article__label--interviews:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23263238' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M9 3C11.2 3 13 4.8 13 7H5C5 4.8 6.8 3 9 3ZM11.8 9.8L11 18H10V19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19V14C14 11.8 15.8 10 18 10H20L19 11L20 12H18C16.9 12 16 12.9 16 14V19C16 21.2 14.2 23 12 23C9.8 23 8 21.2 8 19V18H7L6.2 9.8C5.7 9.3 5.3 8.7 5.1 8H12.8C12.7 8.7 12.3 9.3 11.8 9.8ZM9 11C8.4 11 8 11.4 8 12C8 12.6 8.4 13 9 13C9.6 13 10 12.6 10 12C10 11.4 9.6 11 9 11Z'/%3E %3C/svg%3E");
}

.article__label--tweet:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%231DA1F2' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M22.5001 6C21.7001 6.3 20.9001 6.6 20.0001 6.7C20.9001 6.2 21.6001 5.3 21.9001 4.3C21.1001 4.8 20.1001 5.1 19.2001 5.4C18.4001 4.5 17.3001 4 16.0001 4C13.6001 4 11.7001 5.9 11.7001 8.3C11.7001 8.6 11.7001 9 11.8001 9.3C8.3001 9.1 5.1001 7.4 3.0001 4.8C2.6001 5.4 2.4001 6.2 2.4001 6.9C2.4001 8.4 3.2001 9.7 4.3001 10.5C3.6001 10.5 2.9001 10.3 2.4001 10C2.4001 12.1 3.9001 13.8 5.8001 14.2C5.4001 14.3 5.1001 14.4 4.7001 14.4C4.4001 14.4 4.2001 14.4 3.9001 14.3C4.4001 16 6.0001 17.2 7.9001 17.3C6.4001 18.5 4.6001 19.1 2.6001 19.1C2.3001 19.1 1.9001 19.1 1.6001 19C3.4001 20.3 5.7001 21 8.1001 21C16.0001 21 20.3001 14.5 20.3001 8.8C20.3001 8.6 20.3001 8.4 20.3001 8.2C21.2001 7.6 21.9001 6.9 22.5001 6Z'/%3E %3C/svg%3E");
}

.article__info {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.article__panel {
  margin-bottom: 2.1rem;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
}

.article__panel-separator {
  background: #CFD8DC;
  height: 1px;
  width: 100%;
  margin: .4rem 0;
}

.article__panel-row {
  padding: .7rem 0 .4rem;
  width: 100%;
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article__panel-col {
  width: 100%;
  display: flex;
  align-items: center;
}

.article__panel-col + .article__panel-col {
  margin-top: .4rem;
}

.article__panel .humble {
  font-size: 0.8125rem;
  line-height: 2.1;
  font-weight: 600;
}

.article__panel .humble--liked {
  color: #263238;
}

.article__panel .humble--liked:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%232979FF' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M5 9V21H1V9H5ZM9 21C7.9 21 7 20.1 7 19V9C7 8.4 7.2 7.9 7.6 7.6L14.2 1L15.3 2.1C15.6 2.4 15.7 2.7 15.7 3.1V3.4L14.7 8H21C22.1 8 23 8.9 23 10V12C23 12.3 23 12.5 22.9 12.7L19.9 19.8C19.6 20.5 18.9 21 18.1 21H9ZM9 19H18L21 12V10H12.2L13.3 4.7L9 9V19Z'/%3E %3C/svg%3E");
}

.article__panel .humble--bookmark {
  color: #263238;
}

.article__panel .humble--bookmark:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%232979FF' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17 3H7C5.9 3 5 3.9 5 5V21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z'/%3E %3C/svg%3E");
}

.article .social__link {
  margin-right: 1.5rem;
}

.article__title {
  margin-top: 0;
  margin-bottom: .8rem;
}

.article__title-mark {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 2.1;
  letter-spacing: .015em;
  color: #263238;
  margin-left: .4rem;
}

.article .card {
  margin: 1rem 0;
}

.article__mark {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 2.1;
  color: #263238;
  margin-top: 0;
  margin-bottom: 1rem;
}

.article__main {
  background-color: #fff;
  padding: 1.5rem 1rem;
}

.article__main .card--miners {
  border: 1px solid #CFD8DC;
  margin: 1.5rem -1rem;
}

.article__main .card--miners .aside-story__img-wrapper {
}

.article__main .card--miners .aside-story--miners {
}

.article_main-info {
  margin-bottom: .5rem;
}

.article_main-info__humble {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.article_main-info__humble .humble {
  font-size: 0.8125rem;
}

.article_main-info__humble .mark {
}

.article__main-img-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 0 1.5rem;
}

.article__main-img-wrapper figcaption {
  margin-bottom: 0;
}

.article__content iframe {
  margin: 1.5rem 0;
  max-width: 728px;
  width: 100% !important;
}

.article__content h2 em,.article__content h3 em {
  display: inline-flex;
  align-items: center;
  font-style: normal;
}

.article__content h2 em:after,.article__content h3 em:after {
  content: 'Promoted';
  color: #B0BEC5;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  padding: 0 .5rem;
  border-radius: 2px;
  border: 1px solid #CFD8DC;
  font-style: normal;
  margin-left: 1rem;
}

.article__contents {
  margin: 2rem 0;
}

.article__contents-title {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
}

.article__contents-list {
  margin-bottom: 1.45rem;
}

.article__contents-item {
  padding-left: 2rem;
  position: relative;
}

.article__contents-item + .article__contents-item {
  margin-top: 1rem;
}

.article__contents-item:before {
  content: "•";
  color: #2979FF;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: .5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.article__contents-link {
  border-bottom: 0;
  color: #2979FF;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.8;
}

.article__related {
  margin: 1.7rem 0;
}

.article__related-flame {
  color: #F44336;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.8;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: -10px;
}

.article__related-flame:before {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23F44336' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.5501 11.2C17.3201 10.9 17.0501 10.64 16.7901 10.38C16.1401 9.78 15.3901 9.35 14.7601 8.72C13.3001 7.26 13.0001 4.85 13.9101 3C13.0001 3.23 12.1601 3.75 11.4601 4.32C8.92009 6.4 7.92009 10.07 9.12009 13.22C9.16009 13.32 9.20009 13.42 9.20009 13.55C9.20009 13.77 9.05009 13.97 8.85009 14.05C8.63009 14.15 8.39009 14.09 8.21009 13.93C8.15009 13.88 8.11009 13.83 8.06009 13.76C6.96009 12.33 6.78009 10.28 7.53009 8.64C5.89009 10 5.00009 12.3 5.14009 14.47C5.18009 14.97 5.24009 15.47 5.41009 15.97C5.55009 16.57 5.81009 17.17 6.13009 17.7C7.17009 19.43 9.00009 20.67 10.9701 20.92C13.0701 21.19 15.3201 20.8 16.9301 19.32C18.7301 17.66 19.3801 15 18.4301 12.72L18.3001 12.46C18.1001 12 17.8301 11.59 17.5001 11.21L17.5501 11.2ZM14.4501 17.5C14.1701 17.74 13.7201 18 13.3701 18.1C12.2701 18.5 11.1701 17.94 10.5001 17.28C11.6901 17 12.3901 16.12 12.5901 15.23C12.7601 14.43 12.4501 13.77 12.3201 13C12.2001 12.26 12.2201 11.63 12.5001 10.94C12.6701 11.32 12.8701 11.7 13.1001 12C13.8601 13 15.0501 13.44 15.3001 14.8C15.3401 14.94 15.3601 15.08 15.3601 15.23C15.3901 16.05 15.0401 16.95 14.4401 17.5H14.4501Z' fill='%23F44336'/%3E %3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: .5rem;
}

.article__related-blockquote {
  color: #263238;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.8;
  font-style: italic;
  border-left: 4px solid #F44336;
  padding: .5rem 1rem;
}

.article twitter-widget {
  overflow: hidden;
  max-width: 500px !important;
  width: 100% !important;
}

.article table {
  max-width: 736px;
  width: 100% !important;
  display: block;
  overflow-x: auto;
  border-top: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.article table td {
  min-width: 170px;
}

.article table::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #78909c;
  width: 6px;
}

.article table::-webkit-scrollbar {
  height: 8px;
  border-radius: 10px;
  background-color: #78909c;
}

.article table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4e616d;
}

.article__fact,.article h4 {
  background: #F5F5F5;
  padding: 1.3rem 2rem;
  margin-top: 2.6rem;
  margin-bottom: 2.2rem;
}

.article__fact-title,.article__fact strong,.article h4 strong,.article h4-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: .6rem;
  display: block;
}

.article__fact-text,.article__fact p,.article h4 p,.article h4-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 2.1;
  text-align: center;
  color: #263238;
  margin-bottom: 0;
}

.article__tags {
  margin-bottom: 0;
}

.article__recommended {
  margin-top: 1.5rem;
}

.article__recommended-header {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.article__recommended-title {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-right: 1.5rem;
}

.article__recommended .article__recommended-item-title {
  background-color: transparent;
  margin: 1rem 0 0 0;
  padding: 0;
  color: #263238;
  font-size: 0.8125rem;
  line-height: 1.8;
  font-weight: 500;
}

.article__recommended-list {
  flex-wrap: nowrap;
  overflow: auto;
  display: flex;
  align-items: flex-start;
}

.article__recommended-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  width: 6px;
}

.article__recommended-list::-webkit-scrollbar {
  height: 8px;
  border-radius: 10px;
  background-color: transparent;
}

.article__recommended-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}

.article__recommended-list:after {
  content: "";
  display: block;
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
}

.article__recommended-list-slide {
  margin: 1rem -1rem 0;
  overflow: hidden;
}

.article__recommended-list-slide--yellow {
  background-color: #fffcc0;
  margin: 0 -1rem 1rem;
  padding: 1rem;
}

.article__recommended-list-slide--yellow .article__recommended-item {
  background-color: #fffcc0;
}

.article__recommended-list-slide--yellow .article__recommended-item:last-child {
}

.article__recommended-item {
  width: 185px;
  min-width: 185px;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 0;
}

.article__recommended-item:first-child {
}

.article__recommended-item:last-child {
  margin-bottom: 0;
}

.article__recommended-img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
}

.article__recommended-wrapper--img {
  position: relative;
}

.article__recommended-link {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
  margin-bottom: .1rem;
  display: flex;
  flex-direction: column;
}

.article__recommended-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.article__recommended .btn {
  margin: 1.5rem 0 0;
  box-shadow: 0px 16px 24px rgba(33, 150, 243, 0.35);
}

.article .something--content {
}

.article--mobile-visible {
  display: block;
}

.author_block {
  margin: 2rem 0;
  position: relative;
  border: 1px solid #C4C4C4;
  border-radius: 0 8px 8px 8px;
  padding: 1rem;
  position: relative;
}

.author_block:before {
  content: '';
  position: absolute;
  top: 0;
  left: -13px;
  border: 8px solid transparent;
  border-right: 8px solid #FFFFFF;
  border-top: 8px solid #FFFFFF;
  display: block;
  width: 0;
  height: 0;
  z-index: 2;
}

.author_block:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -16px;
  border: 8px solid transparent;
  border-right: 8px solid #C4C4C4;
  border-top: 8px solid #C4C4C4;
  display: block;
  width: 0;
  height: 0;
}

.author_block .author__item-msg {
}

.author_block .author__item-msg p {
  color: #263238;
  font-size: 0.9375rem;
  line-height: 1.8;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}

.author__item-header {
  display: flex;
}

.author__item-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  min-width: 40px;
  margin-right: 1rem;
}

.author__item-user img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
}

.author__item-name {
  color: #263238;
  font-size: 0.9375rem;
  line-height: 1.4;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  white-space: normal;
  display: block;
}

.author__item-wrapper {
  flex-wrap: wrap;
  margin-bottom: 1rem;
  display: flex;
}

.disclaimer {
  margin-top: .8rem;
}

.disclaimer_text {
  color: #90A4AE;
  font-size: .8125rem;
  line-height: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.about-author {
  background-color: #f5f5f5;
  position: relative;
  padding: 1rem;
  margin: 2rem -1rem;
}

.about-author_row {
  display: flex;
}

.about-author .about-author_title {
  margin: 0;
  padding: 0;
}

.about-author_data {
  margin-top: .5rem;
  display: flex;
  align-items: center;
}

.about-author_info {
}

.about-author_info.content--open p {
  max-height: 100%;
}

.about-author_name {
  color: #2979FF;
  font-size: 0.8125rem;
  line-height: 1.8;
  font-weight: 600;
  font-variant: none;
  text-decoration: none;
}

.about-author_avatar {
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin-right: 1.2rem;
  display: block;
}

.about-author_avatar img {
  border-radius: 2px;
}

.about-author .social {
  display: flex;
}

.about-author .social__link {
  margin-right: 1.5rem;
}

.about-author p {
  font-size: 0.8125rem;
  line-height: 1.8;
  font-weight: 500;
  margin: .5rem 0 0;
  margin-left: -55px;
  margin-top: .5rem;
  max-height: 81px;
  overflow: hidden;
}

.about-author .btn {
  font-weight: 600;
  margin-left: -55px;
}

.about-author .btn:before {
  content: '';
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 50%);
  height: 64px;
  position: absolute;
  display: block;
  bottom: 38px;
  left: 1rem;
  right: 1rem;
}

main:not(.scroll-end) > .article:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  height: 100vh;
  background: linear-gradient(180deg, #263238 0%, rgba(38, 50, 56, 0) 100%);
  opacity: 0;
  transition: .5s ease;
  pointer-events: none;
  margin-left: -50vw;
  margin-right: -50vw;
}

main > .article:nth-last-child(2) {
  z-index: 4;
}

main > .article:nth-last-child(2):after {
  opacity: 1;
}

.article-infinite-scroll {
  position: relative;
  z-index: 1;
}

.article-infinite-scroll .article {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.article--scroll-show {
  max-height: 9999px !important;
  position: fixed;
  z-index: 5;
  top: 35vh;
  width: auto;
  opacity: 1 !important;
  transition: opacity .2s ease;
}

.article--full-show {
  position: relative;
  top: 0;
}

.comments {
  padding: 0 1rem 1.3rem;
  border-bottom: 8px solid #F5F5F5;
}

.comments h2 {
  color: #263238;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
}

.comments .comment-wrapper .js-ajax-comments-messages {
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.comments .comment-wrapper div[aria-label="Error message"] {
  background-color: #f8d7da;
}

.comments .comment-wrapper div[aria-label="Status message"] {
  background-color: #d4edda;
}

.comments .comment-wrapper .form-img--wrapper {
  margin-right: 1.5rem;
  border-radius: 50%;
  border: 1px solid #CFD8DC;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d2d5da url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1.5 4V5.5C1.5 9.65 3.71 13.28 7 15.3V20H22V18C22 15.34 16.67 14 14 14C14 14 13.83 14 13.75 14C9 14 5 10 5 5.5V4H1.5ZM14 4C12.9391 4 11.9217 4.42143 11.1716 5.17157C10.4214 5.92172 10 6.93913 10 8C10 9.06087 10.4214 10.0783 11.1716 10.8284C11.9217 11.5786 12.9391 12 14 12C15.0609 12 16.0783 11.5786 16.8284 10.8284C17.5786 10.0783 18 9.06087 18 8C18 6.93913 17.5786 5.92172 16.8284 5.17157C16.0783 4.42143 15.0609 4 14 4Z'/%3E %3C/svg%3E") no-repeat center / 30px;
  display: block;
}

.comments .comment-wrapper .form-img--wrapper img {
  border-radius: 50%;
}

.comments .comment-wrapper > div .js-form-item {
  width: 100%;
}

.comments .comment-wrapper > div .form-submit {
  margin-left: 0;
}

.comments .comment-wrapper > div .comment-form {
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.comments .comment-wrapper > div .form-submit {
  margin-right: .3rem;
}

.comments .comment-wrapper > div .js-form-item p {
  margin-left: 0;
  margin-top: -10px;
}

.comments #social-login-block-form {
  border-bottom: 1px solid #CFD8DC;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.comments #social-login-block-form .plugin .footer {
  display: none;
}

.comments #social-login-block-form .plugin #providers .provider {
  display: none;
}

.comments .validation__panel {
  font-size: 0.8125rem;
  line-height: 1.6;
  font-weight: 600;
  border-radius: 2px 2px 0 0;
  text-align: center;
  padding: .1rem 0;
  position: relative;
  bottom: -2px;
}

.comments .validation__successful {
  background-color: #d4edda;
  color: #155724;
}

.comments .validation__error {
  background-color: #f8d7da;
  color: #721c24;
}

.comments textarea.form-textarea {
  order: 1;
  padding: .5rem 1rem;
  font-weight: 500;
  resize: none;
}

.comments textarea.form-textarea::-webkit-input-placeholder {
  font-weight: 500;
}

.comments textarea.form-textarea::-ms-input-placeholder {
  font-weight: 500;
}

.comments textarea.form-textarea::placeholder {
  font-weight: 500;
}

.comments textarea.form-textarea:active::-webkit-input-placeholder,.comments textarea.form-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.comments textarea.form-textarea:active::-ms-input-placeholder,.comments textarea.form-textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.comments textarea.form-textarea:active::placeholder,.comments textarea.form-textarea:focus::placeholder {
  color: transparent;
}

.comments textarea.form-textarea:valid {
  border: 1px solid #CFD8DC;
}

.comments textarea.form-textarea:hover {
  border-color: #2979FF;
}

.comments textarea.form-textarea:focus {
  border-color: #2196F3;
}

.comments .form-submit {
  cursor: pointer;
  min-height: 32px;
  max-width: 81px;
  margin-top: .5rem;
}

.comments .comment-form {
  border-bottom: 1px solid #CFD8DC;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.comments .comment-form a {
  border: 1px solid #CFD8DC;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d2d5da url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1.5 4V5.5C1.5 9.65 3.71 13.28 7 15.3V20H22V18C22 15.34 16.67 14 14 14C14 14 13.83 14 13.75 14C9 14 5 10 5 5.5V4H1.5ZM14 4C12.9391 4 11.9217 4.42143 11.1716 5.17157C10.4214 5.92172 10 6.93913 10 8C10 9.06087 10.4214 10.0783 11.1716 10.8284C11.9217 11.5786 12.9391 12 14 12C15.0609 12 16.0783 11.5786 16.8284 10.8284C17.5786 10.0783 18 9.06087 18 8C18 6.93913 17.5786 5.92172 16.8284 5.17157C16.0783 4.42143 15.0609 4 14 4Z'/%3E %3C/svg%3E") no-repeat center / 30px;
  display: block;
  float: left;
  margin-right: 1.5rem;
}

.comments .comment-form .formError {
  display: none !important;
}

.comments article img {
  border-radius: 50%;
}

.comments .js-form-item {
  width: 100%;
}

.comments .js-form-item > div {
  display: flex;
  flex-direction: column;
}

.comments .js-form-item p {
  color: #263238;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: .5rem;
}

.comments .js-comment {
  margin: 1.5rem 0;
}

.comments .js-comment:last-child {
  margin-bottom: 0;
}

.comments .js-comment > div {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  order: 1;
  color: #263238;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.comments .js-comment > div > div > div {
  display: none;
}

.comments .js-comment footer {
  display: flex;
}

.comments .js-comment footer article {
  margin-right: 1.5rem;
  border: 1px solid #CFD8DC;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d2d5da url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1.5 4V5.5C1.5 9.65 3.71 13.28 7 15.3V20H22V18C22 15.34 16.67 14 14 14C14 14 13.83 14 13.75 14C9 14 5 10 5 5.5V4H1.5ZM14 4C12.9391 4 11.9217 4.42143 11.1716 5.17157C10.4214 5.92172 10 6.93913 10 8C10 9.06087 10.4214 10.0783 11.1716 10.8284C11.9217 11.5786 12.9391 12 14 12C15.0609 12 16.0783 11.5786 16.8284 10.8284C17.5786 10.0783 18 9.06087 18 8C18 6.93913 17.5786 5.92172 16.8284 5.17157C16.0783 4.42143 15.0609 4 14 4Z'/%3E %3C/svg%3E") no-repeat center / 30px;
}

.comments .js-comment footer > p {
  color: #78909C;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.comments .js-comment footer > p a,.comments .js-comment footer > p span {
  color: #263238;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 600;
  display: inline-flex;
  margin-right: .1rem;
}

.comments ul.links.inline {
  order: 2;
}

.comments ul.links.inline .comment-reply a {
  color: #B0BEC5;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.comments ul.links.inline .comment-forbidden {
  color: #B0BEC5;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.comments ul.links.inline .comment-forbidden a {
  color: #2979FF;
  font-weight: 600;
}

.comments .indented {
  margin: 1rem 0 1rem 2.5rem;
}

.comments .indented .js-form-item {
  width: 100%;
}

.comments .indented .form-submit {
  margin-left: 0;
}

.comments .indented .comment-form {
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.comments .indented .js-form-item p {
  margin-left: 0;
  margin-top: -10px;
}

.comments .indented .form-submit {
  margin-right: .3rem;
}

.comments .visually-hidden {
  display: none;
}

.cels__widget {
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 0 24px rgba(33, 150, 243, 0.15);
  border-radius: 16px;
  margin: .5rem 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cels__widget-info {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: .625rem;
  display: flex;
  align-items: center;
}

.cels__widget-select {
  display: flex;
}

.cels__widget-option {
  text-transform: uppercase;
}

.cels__widget-img--wrapper {
  display: block;
  max-width: 44px;
  min-width: 44px;
  margin-right: 1.5rem;
}

.cels__widget-caption {
  color: #32325D;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  text-shadow: 0 8px 24px rgba(33, 150, 243, 0.15);
  margin-right: .75rem;
  display: block;
}

.cels__widget-signature {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}

.cels__widget-output {
  flex-wrap: wrap;
  padding: .625rem;
  width: 100%;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 24px rgba(33, 150, 243, 0.15);
  background-color: #32325D;
  display: flex;
  align-items: center;
}

.cels__widget-output--value {
  color: #20C589;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  max-width: 75px;
  text-overflow: clip;
}

.cels__widget-list {
  display: flex;
}

.cels__widget-item {
  width: auto;
}

.cels__widget-item + .cels__widget-item {
}

.cels__widget .form--row {
  margin-top: .75rem;
  display: flex;
}

.cels__widget .form--row .input {
  margin-right: .75rem;
  margin-bottom: 0;
  display: flex;
}

.cels__widget .form--row .input:last-child {
  margin-right: 0;
}

.cels__widget .input__elem {
  max-width: 60px;
  min-width: 60px;
  border: 1px solid #CFD8DC;
  -moz-appearance: textfield;
}

.cels__widget .input__elem::-webkit-inner-spin-button,.cels__widget .input__elem::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cels__widget .input__select {
  max-width: 88px;
  min-width: 88px;
  text-transform: uppercase;
}

.cels__widget #interest_per_week:before,.cels__widget #interest_per_year:before,.cels__widget .interest_per_week:before,.cels__widget .interest_per_year:before {
  content: '$';
  color: #20C589;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.cels__widget #interest_rate:after,.cels__widget .interest_rate:after {
  content: '%';
  color: #20C589;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.cels__widget .widget__mark {
  position: absolute;
  bottom: -1.5rem;
  font-size: 0.6875rem;
  line-height: 1.8;
  width: 100%;
  text-align: center;
}

figure {
  margin: 2.3rem 0 2.1rem;
}

.img.caption,figcaption {
  color: #78909C;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
  margin: .5rem 0 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.img.caption a,figcaption a {
  color: #2979FF;
}

ol {
  list-style-type: decimal;
  margin: 2rem 0;
  padding: 0;
  padding-left: 1.1rem;
}

ol ol {
  margin: 1rem 0;
}

ol li {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
}

ol li + li {
  margin-top: 1rem;
}

ul:not([class]) {
  margin: 2rem 0;
  padding: 0;
  padding-left: 1.1rem;
  list-style: none;
}

ul:not([class]) ul {
  margin: 1rem 0;
}

ul:not([class]) li {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
  position: relative;
}

ul:not([class]) li + li {
  margin-top: 1rem;
}

ul:not([class]) li:before {
  content: "•";
  display: block;
  position: absolute;
  left: -1.1rem;
}

p {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
  margin: 0;
  margin-bottom: 1.7rem;
}

.article__content,.article__content p {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.8;
  margin: 0;
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.article__content + img,.article__content p + img {
  margin-bottom: 1.7rem;
}

.article ol:not([class]),.article ul:not([class]) {
  margin: 2rem 0;
}

.article ol:not([class]) li,.article ul:not([class]) li {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.8;
}

p + ol,p + p,p + ul {
  margin-top: -0.7rem;
}

.content-block__title,.content-block h1,.content-block h2 {
  font-size: 17px;
  line-height: 19px;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px solid #CFD8DC;
  margin-bottom: 0;
}

.content-block p {
  margin: 0 0 1.5rem;
  font-size: 0.8125rem;
  line-height: 1.8;
  font-weight: 500;
}

.content-block p:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  margin-bottom: 1.7rem;
  border-collapse: collapse;
  border-radius: 2px;
  border: 1px solid #CFD8DC;
}

table td {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
  padding: .75rem 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

html body li p,html body td p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.9;
}

h2 span {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
}

transition {
  display: none;
}

@media (min-width: 380px) {
  .cels__widget-info {
    flex-wrap: nowrap;
  }

  .cels__widget .form--row {
    margin-top: 0;
  }
}

@media (min-width: 480px) {
  .article__panel .humble {
    font-size: 0.9375rem;
  }

  .article__main .card--miners {
    margin: 1.7rem 0;
  }

  .article__recommended-list:after {
    min-width: 1px;
    width: 1px;
    height: 1px;
  }

  .article__recommended-list-slide {
    margin: 1rem 0 0;
  }

  .article__recommended-list-slide--yellow {
    margin: 0 -1rem 1rem;
  }

  .article__recommended-item {
    width: calc(45% - 1rem);
    min-width: calc(45% - 1rem);
  }

  .about-author {
    padding: 2rem 2rem 1rem;
    margin: 2rem 0;
  }

  .about-author_name {
    font-size: 0.9375rem;
  }

  .about-author_avatar {
    max-width: 64px;
    min-width: 64px;
    width: 64px;
    height: 64px;
  }

  .about-author p {
    font-size: 0.9375rem;
    margin-left: -82px;
    margin-top: 1rem;
  }

  .about-author .btn {
    margin-left: -82px;
  }

  .about-author .btn:before {
    left: 2rem;
    right: 2rem;
  }

  .comments {
    padding: 1.5rem 1rem 1.5rem;
    margin: 0 -1rem;
    border-top: 16px solid #F5F5F5;
    border-bottom: 16px solid #F5F5F5;
  }

  .comments .comment-wrapper .form-img--wrapper {
    float: left;
    min-width: 56px;
    max-width: 56px;
    height: 56px;
  }

  .comments .comment-wrapper > div .comment-form {
    margin-left: 80px;
    margin-top: -1rem;
  }

  .comments .comment-wrapper > div .form-submit {
    margin-right: 1rem;
  }

  .comments #social-login-block-form {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .comments .form-submit {
    margin-left: 80px;
  }

  .comments .comment-form {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .comments .comment-form a {
    min-width: 56px;
    max-width: 56px;
    height: 56px;
  }

  .comments .js-form-item p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .comments .js-comment {
    margin: 2rem 0;
  }

  .comments .js-comment > div {
    margin-top: -25px;
    margin-left: 80px;
    font-size: 0.9375rem;
    line-height: 2rem;
  }

  .comments .js-comment footer article {
    min-width: 56px;
    max-width: 56px;
    height: 56px;
  }

  .comments ul.links.inline .comment-reply a {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .comments ul.links.inline .comment-forbidden {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .comments .indented {
    margin: 1.5rem 0 1.5rem 80px;
  }

  .comments .indented .comment-form {
    margin-left: 80px;
    margin-top: -1rem;
  }

  .comments .indented .form-submit {
    margin-right: 1rem;
  }

  .cels__widget-img--wrapper {
    margin-right: 2rem;
  }

  .cels__widget-output {
    flex-wrap: nowrap;
  }

  .cels__widget-item {
    width: 33%;
  }

  .content-block__title,.content-block h1,.content-block h2 {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 785px) {
  .article__summary {
    margin-bottom: 1.3rem;
  }

  .article__label {
    margin-right: 1.5rem;
  }

  .article__panel-row {
    margin-top: 1.2rem;
  }

  .article__recommended .article__recommended-item-title {
    margin: 0 0 0 1rem;
  }

  .article__recommended-list {
    flex-wrap: wrap;
    margin-right: -.51rem;
    margin-left: -.5rem;
    overflow: hidden;
  }

  .article__recommended-item {
    width: 100%;
    min-width: 100%;
    margin-bottom: 1rem;
  }

  .article__recommended-wrapper--img {
    max-width: 208px;
    min-width: 208px;
  }

  .article__recommended-link {
    display: flex;
    flex-direction: row;
  }

  .article--mobile-visible {
    display: none;
  }

  .author_block {
    padding: 1.5rem 1.5rem 1rem;
  }

  .author_block .author__item-msg p {
    font-size: 1.0625rem;
  }

  .author__item-user {
    width: 64px;
    height: 64px;
    min-width: 64px;
    margin-right: 1.5rem;
  }

  .about-author_avatar {
    margin-right: 2rem;
  }

  .about-author p {
    margin-left: -95px;
  }

  .about-author .btn {
    margin-left: -95px;
  }

  .article--scroll-show {
    width: 480px;
  }

  .cels__widget {
    margin: 1rem 0 3.5rem;
  }
}

@media (min-width: 1152px) {
  .article__summary-device {
    display: none;
  }

  .article__label {
    margin-right: 2rem;
  }

  .article__info {
    margin-bottom: 1.3rem;
  }

  .article__panel {
    margin-bottom: 2.5rem;
  }

  .article__panel-separator {
    height: 46px;
    width: 1px;
    margin: 0 1.1rem;
  }

  .article__panel-row {
    padding: 0;
  }

  .article__panel-col {
    width: auto;
  }

  .article__panel-col + .article__panel-col {
    margin-top: 0;
  }

  .article__mark {
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.9;
    margin-bottom: 1.4rem;
  }

  .article__main .card--miners {
    margin: 2.5rem 0;
  }

  .article_main-info__humble .humble {
    font-size: 0.9375rem;
  }

  .article__contents {
    margin: 2.5rem 0;
  }

  .article__contents-title {
    font-size: 1.375rem;
  }

  .article__contents-link {
    font-size: 1.0625rem;
  }

  .article__related {
    margin: 2.5rem 0;
  }

  .article__related-flame {
    font-size: 1.0625rem;
  }

  .article__related-blockquote {
    font-size: 1.0625rem;
  }

  .article table {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .article__fact,.article h4 {
    padding: 3.4rem 2rem;
    margin-top: 3.3rem;
    margin-bottom: 3.1rem;
  }

  .article__fact-title,.article__fact strong,.article h4 strong,.article h4-title {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.5;
    margin-bottom: 2.4rem;
  }

  .article__fact-text,.article__fact p,.article h4 p,.article h4-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.9;
  }

  .article__recommended .article__recommended-item-title {
    margin: 1rem 0 0 0;
  }

  .article__recommended-list-slide--yellow .article__recommended-item {
    margin-bottom: 0;
  }

  .article__recommended-item {
    width: calc(100% / 3 - 1rem);
    min-width: calc(100% / 3 - 1rem);
    margin-bottom: 0;
  }

  .article__recommended-wrapper--img {
    max-width: 100%;
    min-width: 1px;
  }

  .article__recommended-link {
    display: flex;
    flex-direction: column;
  }

  .author__item-name {
    font-size: 1.0625rem;
  }

  .about-author {
    margin: 2.4rem 0 3rem;
  }

  .about-author_info {
    position: relative;
  }

  .about-author_name {
    font-size: 1.0625rem;
  }

  .about-author .social__link {
    margin-right: 0;
    margin-left: 1.5rem;
  }

  .about-author p {
    margin-left: 0;
    margin-top: .5rem;
  }

  .about-author .btn {
    margin-left: 0;
  }

  .about-author .btn:before {
    width: 100%;
    bottom: 31px;
    left: 0;
    right: 0;
  }

  .article--scroll-show {
    width: 736px;
  }

  .cels__widget-info {
    justify-content: flex-start;
    width: 50%;
  }

  .cels__widget-output {
    padding: .625rem .625rem .625rem 1.5rem;
    width: 50%;
    border-radius: 0 16px 16px 0;
  }

  figure {
    margin: 2.7rem 0;
  }

  ol {
    margin: 2.1rem 0 3rem;
    padding-left: 1rem;
  }

  ol ol {
    margin: 1.5rem 0 2rem;
  }

  ol li {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 2.1;
  }

  ol li + li {
    margin-top: 1.5rem;
  }

  ul:not([class]) {
    margin: 2.1rem 0 3rem;
    padding-left: 1.5rem;
  }

  ul:not([class]) ul {
    margin: 1.5rem 0 2rem;
  }

  ul:not([class]) li {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 2.1;
  }

  ul:not([class]) li + li {
    margin-top: 1.5rem;
  }

  ul:not([class]) li:before {
    left: -1.5rem;
  }

  p {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 2.1;
    margin-bottom: 2.5rem;
  }

  .article__content,.article__content p {
    font-size: 1.0625rem;
  }

  .article__content + img,.article__content p + img {
    margin-bottom: 2.5rem;
  }

  .article ol:not([class]),.article ul:not([class]) {
    margin: 2.1rem 0 3rem;
  }

  .article ol:not([class]) li,.article ul:not([class]) li {
    font-size: 1.0625rem;
  }

  p + ol,p + p,p + ul {
    margin-top: -1rem;
  }

  .content-block__title,.content-block h1,.content-block h2 {
    font-size: 22px;
    line-height: 24px;
  }

  .content-block p {
    margin: 0 0 2rem;
    font-size: 0.9375rem;
    line-height: 2.2;
  }

  table {
    margin-bottom: 2.5rem;
  }

  table td {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 2.1;
  }

  html body li p,html body td p {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 2.1;
  }
}

@media (max-width: 1151px) {
  .article__summary-bookmarks {
    font-size: 0;
  }

  .article__summary-bookmarks:before {
    margin-right: 0;
  }

  .article__main .card--miners .aside-story__img-wrapper {
    margin-top: 0;
  }

  .article__main .card--miners .aside-story--miners {
    align-items: center;
  }

  .article__content iframe {
    height: 300px;
  }

  .article__recommended-list-slide--yellow .article__recommended-item:last-child {
    margin-bottom: 0;
  }

  .about-author .about-author_title {
    font-size: 0.9375rem;
  }

  .about-author_data {
    flex-wrap: wrap;
  }

  .about-author .social {
    width: 100%;
    margin-top: .5rem;
    justify-content: flex-start;
  }

  .cels__widget-output {
    justify-content: space-between;
  }

  .cels__widget-list {
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .article__panel .humble {
    margin-right: .7rem;
  }

  .article_main-info__humble .mark {
    display: none;
  }

  .article__main-img-wrapper {
    margin: 0 -1rem 1rem;
  }

  .article__fact,.article h4 {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .article__recommended-list-slide {
    padding: 0 1rem;
  }

  .article__recommended-list-slide--yellow {
    padding: 1rem;
  }

  .article .something--content {
    margin: 1.5rem -1rem;
  }

  .disclaimer {
    padding: 0 1rem;
  }

  .article--scroll-show {
    left: 0;
    right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .comments {
    margin: 0 -1rem;
  }

  .comments .js-form-item > div {
    margin-top: 1.5rem;
  }

  .comments .js-form-item p {
    position: relative;
    top: 5px;
    margin-top: -30px;
    margin-left: 56px;
  }

  .comments ul.links.inline {
    margin-top: .4rem;
  }

  .comments ul.links.inline .comment-forbidden {
    margin-top: 0.5rem;
  }

  .cels__widget-list {
    width: 100%;
  }

  .cels__widget-item + .cels__widget-item {
    margin-left: 2rem;
  }

  figure {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .img.caption,figcaption {
    margin-left: 1rem;
  }
}

@media (max-width: 784px) {
  .article_main-info__humble .humble {
    margin-right: .7rem;
  }

  .article__recommended-item:first-child {
    margin-left: 0;
  }

  .article__recommended-item:last-child {
    margin-right: 0;
  }

  .author_block .author__item-msg {
    margin: 2rem 0 0 -55px;
  }
}