.header{
    margin-bottom: 0;
}

.something{
    flex-direction: column;
    background-color: transparent;
}

.breaking {
    background: #FFFFFF;
    color: #263238;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.breaking__label {
    padding-right: 24px;
}

.breaking__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
}

.breaking__title:after {
    content: "";
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23F44336' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10 17L15 12L10 7L10 17Z'/%3E %3C/svg%3E");
    width: 17px;
    height: 17px;
    margin-left: .4rem;
    margin-top: -8px;
}

.btn--lightning-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M7 2V13H10V22L17 10H13L17 2H7Z'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 20px;
}

.card--widget__item{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #263238;
    text-decoration: none;
}

.card--widget__item:hover{
    color: #2196F3;
}

.card--widget__item + .card--widget__item{
    margin-top: 24px;
}

.card--widget__item .btn{
    width: 100%;
}

.card--widget__item .btn--block{
    margin-left: 20px;
    width: auto;
}

.card--widget__row{
    display: flex;
    align-items: center;
}

.card--widget__info{
    margin-left: 8px;
}

.card--widget__img-wrapper{
    max-width: 48px;
    min-width: 48px;
}

.card--widget__img{
    max-width: 100%;
    display: block;
}

.card--widget__title{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 700;
}

.card--widget__signature{
    color: #263238;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
}

.btn--asset{
    border-color: #20AAA4;
    background-color: #20AAA4;
    color: #fff;
    font-weight: 600;
    z-index: 2;
    white-space: nowrap;
}

.asset{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 1.7rem 0;
    overflow: hidden;
}

.asset__wrapper{
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.asset__info{
    display: flex;
    align-items: center;
}

.asset__info .asset__descr{
    margin: 0 24px 0 0;
    color: #fff;
}

.asset__descr{
    font-size: 15px;
    line-height: 1.3;
}

.asset__img-wrapper{
    margin: -16px 16px;
    max-width: 63px;
    min-width: 63px;
}

.asset__img{
    max-width: 100%;
    display: block;
}

.asset__rating{
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.asset__rating-value{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    color: #90A4AE;
    display: block;
    margin-right: 8px;
}

.asset__rating-img--wrapper{
    max-width: 67px;
    min-width: 67px;
    height: 18px;
}

.article__main-img-wrapper .asset{
    bottom: 8px;
}

.article__main-img-wrapper .asset__img{
    margin-bottom: 0;
}

.article__main-img-wrapper .asset__rating{
    margin-right: 16px;
}

.card--asset .asset{
    margin: 0;
}

.card--asset .asset__rating{
    flex-direction: column;
}

.card--asset .asset__rating-value{
    margin: 0;
}

.card--asset .asset__info .asset__descr{
    margin-right: 10px;
}

.ref {
    color: #78909C;
    font-size: 13px;
    text-align: center;
    margin: 0 0 16px 0;
    line-height: 20px;
}

.ref a:not([class]){
    color: #78909C;
    text-decoration: underline;
}

.statistics-counter{
    display: none;
}

.promoted__mark,.sponsored__mark {
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding: 0 .5rem;
    text-shadow: -2px 2px 8px black;
    border-radius: 0 0 0 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.hide-md-up{
    display: block;
}

.hide-sm-up{
    display: block;
}

.currencies {
    padding: 0;
    position: relative;
    z-index: 997;
    background: #263238;
}

.currencies__container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.currencies__slide {
    overflow: auto;
    margin-right: 0;
    padding-bottom: 3rem;
    display: flex;
}

.currencies__slide-wrapper {
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
}

.currencies__link {
    color: #263238;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
    font-variant: none;
    text-transform: uppercase;
    display: flex;
    padding: .1rem 0;
    flex-wrap: nowrap;
}

.currencies__link + .currencies__link {
    margin-left: 1rem;
}

.currencies__name {
    margin-right: .5rem;
    margin-bottom: .1rem;
    height: 15px;
    display: inline-block;
    color: #FFFFFF;
}

.currencies__info {
    display: flex;
}

.currencies__trand {
    color: #8bc34a;
}

.currencies__trand--down {
    color: #F44336;
}

.currencies__price {
    color: #78909C;
    width: 100%;
    margin-left: .5rem;
}

.currencies__currency {
    display: none;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.currencies__currency span {
    width: 33px;
}

.article__content h2 em,.article__content h3 em {
    display: inline-flex;
    align-items: center;
    font-style: normal;
}

.article__content h2 em:after,.article__content h3 em:after {
    content: 'Promoted';
    color: #B0BEC5;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    padding: 0 .5rem;
    border-radius: 2px;
    border: 1px solid #CFD8DC;
    font-style: normal;
    margin-left: 1rem;
}

@media (min-width: 480px) {
    .article__main-img-wrapper .asset{
        top: -55px;
        margin: 0 0 -55px;
    }

    .hide-sm-up{
        display: none;
    }
}

@media (min-width: 785px) {
    .breaking {
        flex-wrap: nowrap;
    }

    .breaking__label {
        margin-right: 1.5rem;
    }

    .card--widget__item{
        flex-wrap: wrap;
    }

    .card--widget__item .btn--block{
        margin-top: 8px;
        margin-left: 0;
        width: 100%;
    }

    .hide-md-up{
        display: none;
    }

    .currencies__slide {
        justify-content: space-between;
    }

    .currencies__link + .currencies__link {
        margin-left: 1.5rem;
    }
}

@media (min-width: 1151px) {
    .breaking__title {
        font-weight: 600;
        font-size: 17px;
        line-height: 1.4;
    }

    .article__main-img-wrapper .asset__wrapper{
        padding: 8px 32px;
    }

    .card--widget__item .btn--block{
        margin-left: 16px;
        margin-top: 0;
        width: auto;
    }

    .main-news-block {
        width: 760px;
    }
}

@media (max-width: 1152px) {
    .btn--asset{
        width: 100%;
        margin-top: 16px;
    }

    .asset__info{
        flex-wrap: wrap;
    }

    .asset__wrapper{
        flex-wrap: wrap;
    }

    .asset__rating{
        margin-left: 0;
    }

    .asset__info .asset__descr{
        max-width: 300px;
    }

    .asset__img-wrapper{
        position: relative;
        top: 10px;
    }

    .card--asset .asset__info .asset__descr{
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center;
    }

    .card--asset .asset__info{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card--asset .asset__img-wrapper{
        margin-top: 0;
        margin-bottom: 0;
        position: static;
    }

    .article__main-img-wrapper .asset{
        margin: 0;
    }

    .article__main-img-wrapper .btn--asset{
        display: none;
    }
}

@media (max-width: 768px) {
    .breaking__label {
        margin-bottom: .7rem;
        width: 100%;
        justify-content: space-between;
    }

    .asset__img-wrapper{
        position: static;
    }

    .article__main-img-wrapper .asset__img-wrapper{
        margin-top: -16px;
        margin-bottom: -16px;
    }

    .asset__info{
        width: 100%;
        justify-content: space-between;
    }

    aside{
        margin-bottom: 16px;
    }
}

@media (max-width: 479px) {
    .asset{
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .asset__info{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .asset__info .asset__descr{
        margin: 0 92px 0 0;
    }

    .asset__rating{
        margin-left: 0;
        width: 100%;
    }

    .asset__img-wrapper{
        position: absolute;
        right: 8px;
        top: 16px;
    }

    .article__main-img-wrapper .asset__img-wrapper{
        margin: -8px 0 0;
    }

    .article__main-img-wrapper{
        margin-left: -16px;
        margin-right: -16px;
    }

    .main-news-block .card--widget {
        margin: 0 -1rem;
        border-top: 16px solid #f5f5f5;
        border-bottom: 16px solid #f5f5f5;
    }

    .card--widget .card__title{
        margin-top: 0;
    }
}