.currencies {
  padding: 0;
  position: relative;
  z-index: 997;
  background: #263238;
}

.currencies__container {
  display: flex;
  justify-content: space-between;
}

.currencies__slide {
  overflow: auto;
  margin-right: 0;
  padding-bottom: 3rem;
  display: flex;
}

.currencies__slide-wrapper {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
}

.currencies__link {
  color: #263238;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 600;
  font-variant: none;
  text-transform: uppercase;
  display: flex;
  padding: .1rem 0;
  flex-wrap: nowrap;
}

.currencies__link + .currencies__link {
}

.currencies__name {
  margin-right: .5rem;
  margin-bottom: .1rem;
  height: 15px;
  display: inline-block;
  color: #FFFFFF;
}

.currencies__info {
  display: flex;
}

.currencies__trand {
  color: #8bc34a;
}

.currencies__trand--down {
  color: #F44336;
}

.currencies__price {
  color: #78909C;
  width: 100%;
  margin-left: .5rem;
}

.currencies__currency {
  display: none;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.currencies__currency span {
  width: 33px;
}

@media (min-width: 768px) {
  .currencies__slide {
    justify-content: space-between;
  }
}

@media (max-width: 1152px) {
  .currencies__link + .currencies__link {
    margin-left: 1.5rem;
  }
}