.submit-event__form {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.table-plan {
  margin-bottom: 1.9rem;
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}

.table-plan__footer,.table-plan__header,.table-plan__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table-plan__footer .table-plan__col,.table-plan__header .table-plan__col,.table-plan__row .table-plan__col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table-plan__footer .table-plan__col:nth-child(1),.table-plan__header .table-plan__col:nth-child(1),.table-plan__row .table-plan__col:nth-child(1) {
  width: 100%;
}

.table-plan__footer .table-plan__col:nth-child(2),.table-plan__footer .table-plan__col:nth-child(3),.table-plan__footer .table-plan__col:nth-child(4),.table-plan__header .table-plan__col:nth-child(2),.table-plan__header .table-plan__col:nth-child(3),.table-plan__header .table-plan__col:nth-child(4),.table-plan__row .table-plan__col:nth-child(2),.table-plan__row .table-plan__col:nth-child(3),.table-plan__row .table-plan__col:nth-child(4) {
  width: 50%;
  text-align: center;
  align-items: center;
}

.table-plan__footer .table-plan__col:nth-child(4),.table-plan__header .table-plan__col:nth-child(4),.table-plan__row .table-plan__col:nth-child(4) {
  width: 50%;
}

.table-plan__header {
  border-bottom: 1px solid #CFD8DC;
  top: 0;
  background: #fff;
}

.table-plan__header .table-plan__col:nth-child(1) {
}

.table-plan__footer,.table-plan__header {
  padding: .5rem 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
}

.table-plan__footer {
  padding-bottom: .5rem;
}

.table-plan__footer .table-plan__col {
  white-space: nowrap;
}

.table-plan__footer .table-plan__col:nth-child(1) {
}

.table-plan__footer .table-plan__col:nth-child(2),.table-plan__footer .table-plan__col:nth-child(3) {
  align-items: flex-start;
  flex-direction: row;
}

.table-plan__footer .table-plan__tip {
  margin-top: .5rem;
}

.table-plan__footer .table-plan__tip:first-child {
  margin-top: 1rem;
}

.table-plan__legend {
  padding-bottom: 0;
}

.table-plan__legend .table-plan__tip {
}

.table-plan__legend .table-plan__col {
  padding-top: 0;
}

.table-plan__col {
  padding: .75rem 0;
}

.table-plan__col .icon {
  display: block;
}

.table-plan__row:not(:last-child) {
  border-bottom: 1px solid #CFD8DC;
}

.table-plan__row .table-plan__col {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
}

.table-plan__tip {
  color: #78909C;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
  margin-top: -6px;
  margin-bottom: -1px;
}

.table-plan__old-price {
  color: #78909C;
  display: inline;
  margin-right: 11px;
  text-decoration: line-through;
}

.table-plan--three .table-plan__col:nth-child(2),.table-plan--three .table-plan__col:nth-child(3),.table-plan--three .table-plan__col:nth-child(4) {
  width: 33%;
}

.table-plan--three .table-plan__col:nth-child(4) {
  width: 33%;
}

@media (min-width: 768px) {
  .table-plan {
    margin-bottom: 2.6rem;
  }

  .table-plan__footer,.table-plan__header,.table-plan__row {
    display: flex;
    justify-content: space-between;
  }

  .table-plan__footer .table-plan__col:nth-child(1),.table-plan__header .table-plan__col:nth-child(1),.table-plan__row .table-plan__col:nth-child(1) {
    width: 40%;
  }

  .table-plan__footer .table-plan__col:nth-child(2),.table-plan__footer .table-plan__col:nth-child(3),.table-plan__footer .table-plan__col:nth-child(4),.table-plan__header .table-plan__col:nth-child(2),.table-plan__header .table-plan__col:nth-child(3),.table-plan__header .table-plan__col:nth-child(4),.table-plan__row .table-plan__col:nth-child(2),.table-plan__row .table-plan__col:nth-child(3),.table-plan__row .table-plan__col:nth-child(4) {
    width: 120px;
  }

  .table-plan__footer .table-plan__col:nth-child(4),.table-plan__header .table-plan__col:nth-child(4),.table-plan__row .table-plan__col:nth-child(4) {
    width: 136px;
  }

  .table-plan__footer,.table-plan__header {
    padding: .7rem 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.4;
  }

  .table-plan__footer {
    padding-bottom: .3rem;
  }

  .table-plan__legend {
    padding-bottom: .5rem;
  }

  .table-plan__row .table-plan__col {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
  }

  .table-plan__tip {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.9;
    margin-top: -2px;
    margin-bottom: 5px;
  }

  .table-plan--three .table-plan__col:nth-child(2),.table-plan--three .table-plan__col:nth-child(3),.table-plan--three .table-plan__col:nth-child(4) {
    width: 120px;
  }

  .table-plan--three .table-plan__col:nth-child(4) {
    width: 136px;
  }
}

@media (min-width: 1152px) {
  .table-plan {
    margin-top: -1.2rem;
  }
}

@media (max-width: 768px) {
  .table-plan__footer .table-plan__col:nth-child(1),.table-plan__header .table-plan__col:nth-child(1),.table-plan__row .table-plan__col:nth-child(1) {
    padding-top: 1rem;
    padding-bottom: 0;
    align-items: center;
  }

  .table-plan__header {
    position: -webkit-sticky;
    position: sticky;
  }

  .table-plan__header .table-plan__col:nth-child(1) {
    display: none;
  }

  .table-plan__footer .table-plan__col:nth-child(1) {
    padding-top: .8rem;
    padding-bottom: .3rem;
  }

  .table-plan__legend {
    padding-top: .2rem;
    text-align: center;
  }

  .table-plan__legend .table-plan__tip {
    margin-bottom: .3rem;
  }
}