.category-item
    .category-item__body
        .category-item__info
            a.category-item__info-link.humble.humble--link(href="#!")
                amp-img.humble__img(src="https://dummyimage.com/24x24/d8dbde/aaa" layout="fixed" width="24" height="24")
                .truncate Konstantin Konstanovichkonstanovich
            .humble Yesterday, 10:40PM

        h2
            a.category-item__title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
        .category-item__desc Crypto events are beginning to invite more women speakers, but tend to feature them in separate Women in Crypto panels

        .category-item__info
            .humble.humble--icon 123.5k
                .humble__inner-text.hide-xl-down views
                include ../../img/icons/eye_bold.svg

            .humble.humble--icon 256
                .humble__inner-text.hide-xl-down comments
                include ../../img/icons/comment_bold.svg

    a.category-item__img-wrapper(href="#!")
        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-03/11111.jpg?itok=nlU-SVSw" layout="responsive" width="224" height="140")