.events
    .events__info
        h1.events__info-title Cryptocurrency and DeFi Events Calendar - U.Today

        .btn--block.btn--block-event
            a.btn.btn--accent.btn--large.btn--event(href="#!") Submit Event for Free

    .events__col
        h2.events__col-title Preffered by U.Today

        .events__card
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/item_1.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                .btn--block.btn--block-event.hide-sm-down.events__card-btn-bg
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

                    .promocode
                        .promocode__title Promocode:
                        .promocode__value WWWWWWWWW

            .events__card-info
                a.humble.humble--bg(href="#!") Blockspot Conference Europe 2018
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span 1 March 2018

                    li
                        span Location:
                        span Zurich, Switzerland

                    li
                        span Venue:
                        span Kaskaden-Halle

                .btn--block.btn--block-event.hide-sm-only.events__card-btn-bg
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

                    .promocode
                        .promocode__title Promocode:
                        .promocode__value WWWWWWWWW

        .events__card
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/item_2.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

            .events__card-info
                a.humble.humble--bg(href="#!") Tron Price ‘Ready to Fly’
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span 1 March 2018

                    li
                        span Location:
                        span Zurich, Switzerland

                    li
                        span Venue:
                        span Kaskaden-Halle

        .events__card
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/item_3.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                .btn--block.btn--block-event.hide-sm-down
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

            .events__card-info
                a.humble.humble--bg(href="#!") Lorem ipsum dolor sit amet
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span 1 March 2018

                    li
                        span Location:
                        span Zurich, Switzerland

                    li
                        span Venue:
                        span Kaskaden-Halle

                .btn--block.btn--block-event.hide-sm-only
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

        .events__card
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/item_4.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                .btn--block.btn--block-event.hide-sm-down
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

            .events__card-info
                a.humble.humble--bg(href="#!") Lorem ipsum dolor sit amet
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span 1 March 2018

                    li
                        span Location:
                        span Zurich, Switzerland

                    li
                        span Venue:
                        span Kaskaden-Halle

                .btn--block.btn--block-event.hide-sm-only
                    a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

        .events__card
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/item_5.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

            .events__card-info
                a.humble.humble--bg(href="#!") Lorem ipsum dolor sit amet
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span 1 March 2018

                    li
                        span Location:
                        span Zurich, Switzerland

                    li
                        span Venue:
                        span Kaskaden-Halle

    .events__col
        h2.events__col-title All events

        .events__card.events__card-medium
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/small_item_1.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

            .events__card-info
                a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span Jul 22, 2020 - Jul 23, 2020

                    li
                        span Location:
                        span Zurich, Switzerland

        .events__card.events__card-medium
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/small_item_2.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

            .events__card-info
                a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span Jul 22, 2020 - Jul 23, 2020

                    li
                        span Location:
                        span Zurich, Switzerland

        .events__card.events__card-medium
            .events__card-left
                .events__card-img
                    amp-img(src="img/content/events/small_item_3.png" layout="responsive" width="224" height="132" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

            .events__card-info
                a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                ul
                    li
                        span Dates:
                        span Jul 22, 2020 - Jul 23, 2020

                    li
                        span Location:
                        span Zurich, Switzerland