.category-item
    a.category-item__img-wrapper(href="#!")
        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/400/public/2019-11/1269.jpg?itok=TAl2iO6R" layout="responsive" width="218" height="136")
        .promoted__mark Promoted

    .category-item__info
        .humble__row
            a.humble(href="#!") News
            .humble.humble--time 21 hours 31 minutes ago

        a.category-item__title-link(href="#!")
            h3.category-item__title Tron CEO Justin Sun Teases "Huge" Secret Guest at Upcoming NiTROn Summit

        .humble__row.humble--between
            a.humble.humble--author(href="#!")
                amp-img.humble__img(src="https://u.today/sites/default/files/2019-11/yuri-ava.jpg" layout="fixed" width="24" height="24")
                | Yuri Molchan

            .humble.humble--icon.humble--icon-large
                include ../../img/icons/comment.svg
                | 0