.article
    a.article__label.article__label-sponsored(href="#!") Sponsored
        include ../../img/icons/sponsored.svg
    a.article__label(href="#!") U.TODAY Original Article
        include ../../img/icons/article__label-u.svg
    a.article__label(href="#!") Tweet-based article
        include ../../img/icons/social/twitter.svg

    h1.article__title Women of Crypto at the Crypto Invest Summit: Separate but Hopeful

    .share.share--row
        amp-social-share.social__link.social__link-fb(type="facebook" width="48" height="48" layout="responsive" aria-label="share facebook")
            include ../../img/icons/social/facebook-white.svg

        amp-social-share.social__link.social__link-tw(type="twitter" width="48" height="48" layout="responsive" aria-label="share twitter")
            include ../../img/icons/social/twitter-white.svg

        amp-social-share.social__link.social__link-rd(type="reddit" data-share-endpoint="https://www.reddit.com/submit" data-param-text="TITLE - CANONICAL_URL" width="48" height="48" layout="responsive" aria-label="share reddit")
            include ../../img/icons/social/reddit-white.svg

    .article__header
        .article__header--row
            a.humble.humble--icon(href="#!") News
                include ../../img/icons/label/news.svg
            .humble.author__item-time Oct 27’2018, 11:27 AM
            .humble.humble--icon 123k
                include ../../img/icons/eye-bold.svg
            .humble.humble--icon 31
                include ../../img/icons/liked-bold.svg
            .humble.humble--icon 256
                include ../../img/icons/comment-bold.svg

    .article__lead
        a.article__lead-img--wrapper(href="#!")
            amp-img.article__lead-img(src='https://u.today/sites/default/files/2019-03/den-sergeychuk_0.jpg' alt="Denys Serhiichuk" layout='fixed' width='40' height='40')

        .article__lead-info
            a.article__lead-name(href="#!") Denys Serhiichuk
            .article__lead-desc We spoke with CEO Dio Ianakiara about TronWallet’s success, goals and upcoming plans. Here is our exclusive interview!

    .article__main-img-wrapper
        figcaption Cover image via <a href="#!"> www.tronwallet.me </a>
        amp-img(src='https://u.today/sites/default/files/styles/736x/public/2020-03/2493.jpg.webp', alt="main-img", layout='responsive', width='736', height='460')

        .disclaimer
            p.disclaimer_text Disclaimer: The opinion expressed here is not investment advice – it is provided for informational purposes only. It does not necessarily reflect the opinion of U.Today. Every investment and all trading involves risk, so you should always perform your own research prior to making decisions. We do not recommend investing money you cannot afford to lose.

    .something.something--content
        .something__content-long
            amp-img(src="img/something/something__central-728.png" alt="Something central" layout="intrinsic" width="728" height="90")

        .something__content-square
            amp-img(src="img/something/something__central-336.png" alt="Something central" layout="intrinsic" width="300" height="250")

    .article__content
        .article__contents
            .article__contents-title Contents

            ul.article__contents-list
                each content in articleContents
                    li.article__contents-item
                        a.article__contents-link.link-pseudo(href="#!")= content

        p
            | In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low, but in the last couple of years, every major crypto and Blockchain event diligently features a Women in Crypto panel. The second
            a(href='#!') Crypto Invest Summit
            | , which took place this week at LA’s Convention Center, was no exception; indeed, the conference went all out for a full Women of Crypto track.

        h2
            em Women of Crypto as opening act

        p It’s worth noting, however, that the Women’s track took place on the day before the actual conference began. To avoid confusion, the event’s agenda page ran the following missive in red capitals: “No conference and expo on Monday. Conference and expo days are Tuesday and Wednesday. Monday is Women of Crypto pre-conference track and kickoff party.”

        p(dir="ltr")
            .article__related
                a.article__related-desc(href="#!")
                    .article__related-flame Related
                    .article__related-blockquote Tron CEO Justin Sun Gets His Account Closed by Bank of America after PayPal’s Roelof Botha

        amp-img(src="https://u.today/sites/default/files/styles/1200x/public/inline-images/twit-example%201.jpg?itok=89jS47Fu" alt="IMG" width="371" height="240" layout="intrinsic")

        p
            | As one would expect under such circumstances, the audience for the track was a fraction of that which was expected to attend the summit proper. On the upside, just about half of the crowd comprised men, something the organizers noted as being a very encouraging sign of support from across the aisle.

        ul
            li(dir='ltr') Name: Bitcoin
            li(dir='ltr') Ticker: BTC
            li(dir='ltr') Market Cap: $148 229 848 980
            li(dir='ltr') Price: $8 163,79
            li(dir='ltr') Volume (24h): $23 837 066 530
            li(dir='ltr') Change (7d): 9.12%

        blockquote
            p
                | This is a quote example. During that time, TRON announced a $1 million dollar fund to support developers, as well as the TRON Accelerator coding competition. After carefully reviewing TRON’s code, we loved the blockchain’s architecture and high performance, and quickly understood that a huge investment in terms of money and development had been put into the project.
                a(href='#!') made up roughly 20 percent
                |  of the speakers.

        amp-img(src="https://u.today/sites/default/files/styles/736x/public/inline-images/2_60.jpg?itok=U4w1Tsy4" layout='intrinsic', width='736', height='270' alt="IMG")
        figcaption Cover image via <a href="#!"> 123rf.com </a>

        table
            thead
                tr
                    td Table thead table cell
                    td Table thead table cell
                    td Table thead table cell

            tbody
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell
                tr
                    td Test table cell
                    td Test table cell
                    td Test table cell

    .article__panel
        .article__tags.btns-spacer
            a.btn.btn--hash-tag(href="#!") #tag
            a.btn.btn--hash-tag(href="#!") #tronnews
            a.btn.btn--hash-tag(href="#!") #cryptocurrency

    .share.share--row
        amp-social-share.social__link.social__link-fb(type="facebook" width="48" height="48" layout="responsive" aria-label="share facebook")
            include ../../img/icons/social/facebook-white.svg

        amp-social-share.social__link.social__link-tw(type="twitter" width="48" height="48" layout="responsive" aria-label="share twitter")
            include ../../img/icons/social/twitter-white.svg

        amp-social-share.social__link.social__link-rd(type="reddit" data-share-endpoint="https://www.reddit.com/submit" data-param-text="TITLE - CANONICAL_URL" width="48" height="48" layout="responsive" aria-label="share reddit")
            include ../../img/icons/social/reddit-white.svg

    .about-author
        .about-author_row
            a.about-author_avatar(href="#!author")
                amp-img(src="https://dummyimage.com/64x64/d8dbde/aaabad" alt="Konstantin Konstantinopolsky" layout='fixed', width='40', height='40')
                span Konstantin Konstantinopolsky

            .about-author_info
                .about-author_title About the author
                .about-author_data
                    a.about-author_name(href="#!author") Konstantin Konstantinopolsky
                    .social
                        a.social__link.social__link--fb(href="#!")
                            include ../../img/icons/social/facebook.svg
                            | Facebook

                        a.social__link.social__link--tg(href="#!")
                            include ../../img/icons/social/telegram.svg
                            | Telegram

                        a.social__link.social__link--tw(href="#!")
                            include ../../img/icons/social/twitter.svg
                            | Twitter

                        a.social__link.social__link--ln(href="#!")
                            include ../../img/icons/social/LinkedIn.svg
                            | LinkedIn

                        a.social__link.social__link--insta(href="#!")
                            include ../../img/icons/social/Instagram.svg
                            | Instagram

                        a.social__link.social__link--em(href="#!")
                            include ../../img/icons/social/email.svg
                            | Email

                p As one would expect under such circumstances, the audience for the track was a fraction of that which was expected to attend the summit proper.

    .card.card--widget.hide-sm-up
        h4.card__title Top tranding bot
            span.card__mark Promoted

        .card__body
            a.card--widget__item(href="#!" target="_blank" rel="nofollow noopener")
                .card--widget__row
                    .card--widget__img-wrapper
                        amp-img.card--widget__img(src="img/content/crypt/IQ-Mining.png", alt="IQ-Mining" layout='fixed', width="48px", height="48px")

                    .card--widget__info
                        .card--widget__title IQ Mining
                        span.card--widget__signature 40% discount till 8 march

                .btn--block
                    .btn.btn--small.btn--accent-3 Website

            a.card--widget__item(href="#!" target="_blank" rel="nofollow noopener")
                .card--widget__row
                    .card--widget__img-wrapper
                        amp-img.card--widget__img(src="img/content/crypt/CryptoUniverse.png", alt="CryptoUniverse" layout='fixed', width="48px", height="48px")

                    .card--widget__info
                        .card--widget__title CryptoUniverse
                        span.card--widget__signature Cashback up to 20%

                .btn--block
                    .btn.btn--small.btn--accent-3 Website
