.article__related
  .article__related-body
    .article__related-title 💼 Related Article

    a.article__related-link.link-plain(href="#!") Africa’s Blockchain Potential Limitless But Its Implementation the True Struggle
      .title-mark 🔥 Hot

    .article__related-panel
      .humble.humble--tiny Nov 07
      a.humble.humble--comments.humble--tiny(href="#!") 256
      button.humble.humble--share.humble--tiny.humble--single-icon

  a(href="#!")
    img.article__related-img(src="https://u.today/sites/default/files/styles/600x/public/2018-11/The%20red%20market%20is%20dragging%20NANO%20down.jpg?itok=Vk_rsYGp")