.article__related
  .article__related-body
    .article__related-link.link-plain
      | &#x1F449;
      span.red MUST READ
      h4.article__related-title
        a(rel='nofollow', target='_blank', href='/bitcoin-price-prediction-how-much-will-btc-cost-in-2019?from=card') Bitcoin Price Prediction: How Much Will BTC Cost in 2019? - Updated
  .article__related_img
    a(href='/bitcoin-price-prediction-how-much-will-btc-cost-in-2019?from=card')
      img.article__related-img(alt='Bitcoin Price Prediction: How Much Will BTC Cost in 2019? - Updated', src='https://u.today/sites/default/files/styles/300/public/2019-05/Bitcoin%20Price%20Prediction%20for%202019.jpg?itok=7_eqJ233')
