section.article__recommended
  .article__recommended-header
    .article__recommended-title &#x1F453; Recommended articles
  .article__recommended-list-slide.article__recommended-list-slide--yellow
    .article__recommended-list
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/IQ_Mining_Review_or_how_to_make_500_from_100_0.jpg?itok=RQrZzAfT')
            .promoted__mark Promoted
          h4.article__recommended-item-title What Is Decentralized Application (dApp): Explanation for Beginners
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/5%20Best%20Ethereum%20Cloud%20Mining%20Sites%20in%202019.jpg?itok=uKNJtR9Y')
            .promoted__mark Promoted
          h4.article__recommended-item-title Ethereum Breakout in Full Force
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/10%20Best%20Cloud%20Mining%20Sites%20in%202019.jpg?itok=AmHFtuAs')
            .promoted__mark Promoted
          h4.article__recommended-item-title Bitcoin Cash Slingshots to the Moon?
  .article__recommended-list-slide
    .article__recommended-list
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/IQ_Mining_Review_or_how_to_make_500_from_100_0.jpg?itok=RQrZzAfT')
            .promoted__mark Promoted
          h4.article__recommended-item-title What Is Decentralized Application (dApp): Explanation for Beginners
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/5%20Best%20Ethereum%20Cloud%20Mining%20Sites%20in%202019.jpg?itok=uKNJtR9Y')
            .promoted__mark Promoted
          h4.article__recommended-item-title Ethereum Breakout in Full Force
      article.article__recommended-item
        a.article__recommended-link(href='#!')
          .article__recommended-wrapper--img
            img.article__recommended-img(src='https://u.today/sites/default/files/styles/1200x/public/2019-06/10%20Best%20Cloud%20Mining%20Sites%20in%202019.jpg?itok=AmHFtuAs')
            .promoted__mark Promoted
          h4.article__recommended-item-title Bitcoin Cash Slingshots to the Moon?
  a.btn.btn--accent.btn--large.btn--full(href='#!')
    span.btn--text Show more articles