.news-featured
  .news-featured__header
    .news-featured__title Konstantin’s articles

  .news-featured__list
    each item in newsFeatured
      article.news-featured__item
        a.news-featured__item-link(href="#!")
          .news-featured__item-img-wrapper
            img.news-featured__item-img(src="https://u.today/sites/default/files/styles/large/public/2018-11/photo_2018-11-19_22-11-32.jpg?itok=wQ4KYJ9y")
            .sponsored__mark Sponsored
          .news-featured__item-title= item.title