.article__subscribe
  .article__subscribe-col
    .article__subscribe-title ✉ Sign up to daily updates

    form.form--row.article__subscribe-form(action="#" method="get")
      .input.article__subscribe-input
        input.input__elem(type="text" name="email" placeholder="Email" required)

      button.btn.btn--wide.btn--input(type="submit") Subscribe

  .article__subscribe-col
    .article__subscribe-title Follow us:

    .social.social--border
      a.social__link.social__link--fb(href="#!")
      a.social__link.social__link--tg(href="#!")
      a.social__link.social__link--tw(href="#!")

  .article__subscribe-agree By pressing the “Subscribe button” you agree with our 
    a(href="#!") Privacy Policy