section.card.card--press--release.card--mobile-visible
  .card__title Press Releases
  .card__body
    article.aside-story
      a.aside-story__img-wrapper(href="#!")
        img.aside-story__img(src="https://u.today/sites/default/files/styles/150/public/2019-09/Will_New_Exchanges_Be_Able_to_Break_the_Crypto.JPG.jpg?itok=QbeGuWKq")
        .promoted__mark.promoted__mark-top-left Promo
      .aside-story__body
        a.aside-story__link(href="#!") Norwegian Bitcoin Millionaire Proves Why You Shouldn’t Brag About Your Crypto Riches

        .aside-story__info
          time.humble.humble--tiny 12:25 AM

    article.aside-story
      a.aside-story__img-wrapper(href="#!")
        img.aside-story__img(src="https://u.today/sites/default/files/styles/150/public/2019-09/Will_New_Exchanges_Be_Able_to_Break_the_Crypto.JPG.jpg?itok=QbeGuWKq")
        .sponsored__mark.sponsored__mark-bottom-right Promo
      .aside-story__body
        a.aside-story__link(href="#!") Norwegian Bitcoin Millionaire Proves Why You Shouldn’t Brag About Your Crypto Riches

        .aside-story__info
          time.humble.humble--tiny 12:25 AM

  a.btn.btn--accent(href="#!") Submit Press Release

section.card
  .card__title Popular
  .card__body
    each hot in hots
      article.aside-story
        a.aside-story__img-wrapper(href="#!")
          img.aside-story__img(src="https://u.today/sites/default/files/styles/40/public/2019-03/The%20Best%20Cryptocurrency%20to%20Invest%20in%202019.jpg?itok=Pqr1SqcJ")
          .sponsored__mark.sponsored__mark-bottom-right Promo
        .aside-story__body
          a.aside-story__link(href="#!")= hot

          .aside-story__info
            time.humble.humble--tiny 12:25 AM

  a.show-more.btn--arrow-right(href="#!") Show all

section.card
  .card__body
    .advertising
      a.advertising_link(href="#!") About us
      a.advertising_link(href="#!") Adverstizement
      a.advertising_link(href="#!") Press realeases
    form.form--col(action="#" method="get")
      .form-subscribe
        .title Subscribtion
        .toggle-checkbox
          input(type="checkbox" class="toggle" id="toggle-checkbox_1" value="")
          label(for="toggle-checkbox_1") Push notifications
      .input
        input.input__elem(type="text" name="email" placeholder="Email" required)

      .input
        button.btn.btn--input(type="submit") Subscribe
    .text-tiny By pressing the “Subscribe button” you agree with our Privacy Policy
    .follow__block
      .title Follow & contact
      .social
        a.social__link.social__link--fb(href="#!fb")
        a.social__link.social__link--tg(href="#!tg")
        a.social__link.social__link--tw(href="#!tw")
        a.social__link.social__link--em(href="#!em")

section.card.card--something
  .something
    img(src="img/content/banner.png" width="360" height="156" alt="something-square")

section.card
  .card__title Upcoming events

  .card__body
    each event in events
      article.aside-story.aside-story--events
        .aside-story__body
          a.aside-story__link(href="#!")= event

          .aside-story__info
            time.humble.humble--tiny Oct 31, 2018
            .humble.humble--tiny Las Vegas, USA

  .card__footer
    a.btn.btn--arrow-right(href="#!") See all



