.category-item
  .category-item__body
    h2
      a.category-item__title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners

  a.category-item__img-wrapper(href="#!")
    img.category-item__img(src="https://u.today/sites/default/files/styles/large/public/2018-11/Pic%201_4.jpg?itok=ZixJNx2j")