.category-info
  .category-info__body
    .category-info__title
      h1 #Hashtag or Category
    .category-info__desc Some short description - recommended, but optional. Crypto space is all about ideas so find here thought-provoking pinions, experts blogs. When it comes to company assets, intangible ones are dynamic and fluid, and are becoming

  .category-info__img-wrapper
    img.category-info__img(src="https://u.today/sites/default/files/styles/736x/public/2019-12/YouTube%20cover.jpg?itok=WSNITDFF")
    figcaption Image via <a rel="nofollow" href="#!"> 123rf.com </a>