.category-item
  .category-item__body
    h2.category-item__title Bitcoin (BTC) guide

    ul.category-item__list
      each item in categoryItemList
        li.category-item__list-item
          a.category-item__list-link(href="#!")= item

  .category-item__img-wrapper
    img.category-item__img(src="https://u.today/sites/default/files/styles/large/public/2018-11/Pic%201_4.jpg?itok=ZixJNx2j")