.category-item
  .category-item__body
    .category-item__info
      a.category-item__info-link.humble.humble--link(href="#!")
        img.humble__img(src="https://dummyimage.com/24x24/d8dbde/aaa")
        .truncate Konstantin Konstanovichkonstanovich
      time.humble Yesterday, 10:40PM

    h2
      a.category-item__title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
    .category-item__desc Crypto events are beginning to invite more women speakers, but tend to feature them in separate Women in Crypto panels

    .category-item__info
      .humble.humble--views 123.5k
        .humble__inner-text.hide-xl-down views
      a.humble.humble--comments(href="#!") 256
        .humble__inner-text.hide-xl-down comments
      button.humble.humble--bookmark
        .hide-xl-down Add to bookmarks

  a.category-item__img-wrapper(href="#!")
    img.category-item__img(src="https://u.today/sites/default/files/styles/large/public/2018-11/Pic%201_4.jpg?itok=ZixJNx2j")