.category-info
  .category-info__body
    h1.category-info__title #Hashtag or 🌎 Category
    .category-info__desc Some short description - recommended, but optional. Crypto space is all about ideas so find here thought-provoking pinions, experts blogs. When it comes to company assets, intangible ones are dynamic and fluid, and are becoming
    button.category-info__btn.btn.btn--arrow-down-before.btn--pseudo(onclick="showMore('.category-info__desc')") Show more

  .category-info__img-wrapper
    img.category-info__img(src="https://u.today/sites/default/files/styles/large/public/2018-11/Pic%201_4.jpg?itok=ZixJNx2j")