.category-item
    a.category-item__img-wrapper(href="#!")
        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-03/11111.jpg?itok=nlU-SVSw" alt="Title category")

    .category-item__info
        .humble__row
            a.humble(href="#!") News
            .humble.humble--time 2 days 1 hour ago

        a.category-item__title-link(href="#!")
            .category-item__title Crypto Trading CEO Eyes Boom as Coronavirus Volatility Upends Demand

        .humble__row.humble--between
            a.humble.humble--author(href="#!")
                img.humble__img(src="https://u.today/sites/default/files/2019-11/yuri-ava.jpg" alt="Yuri Molchan")
                | Yuri Molchan

.something.something--content
    .something__content-long
        img(src="img/something/something__central-728.png" alt="Something central")

    .something__content-square
        img(src="img/something/something__central-336.png" alt="Something central")

.category-item
    a.category-item__img-wrapper(href="#!")
        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/2963.jpg?itok=l2-ezqge" alt="Title category")

    .category-item__info
        .humble__row
            a.humble(href="#!") Stories
            .humble.humble--time 2 hours ago

        a.category-item__title-link(href="#!")
            .category-item__title How to Protect Your Identity and Bitcoin Wallet From Tracking

        .humble__row.humble--between
            a.humble.humble--author(href="#!")
                img.humble__img(src="https://u.today/sites/default/files/2019-11/vlad-ava.jpg" alt="Vladislav Sopov")
                | Vladislav Sopov

.category-item
    a.category-item__img-wrapper(href="#!")
        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/Bestchange.jpg?itok=HE4b8Qf1" alt="Title category")

    .category-item__info
        .humble__row
            a.humble(href="#!") Interviews
            .humble.humble--time 4 hours ago

        a.category-item__title-link(href="#!")
            .category-item__title How To Exchange Crypto with BestСhange

        .humble__row.humble--between
            a.humble.humble--author(href="#!")
                img.humble__img(src="https://u.today/sites/default/files/2019-03/Heewon-Jang_0.jpg" alt="Heewon Jang")
                | Heewon Jang