section.comments
  h2 Log in to leave comment:
  form#social-login-block-form(region='footer', action='/bitcoin-jobs-continue-to-grow-exponentially-despite-price-fluctuations-indeed-study', method='post', accept-charset='UTF-8', data-drupal-form-fields='oa_social_login_frame_72470')
    .social_login(style='margin:20px 0 10px 0')
      #social_login_providers_9899517(data-processed='true', style='min-height: 81px;')
        iframe#oa_social_login_frame_72470(frameborder='0', scrolling='no', allowtransparency='true', data-processed='true', title='Login with Social Networks', name='OneAll Social Login', src='https://app-945800-1.api.oneall.com/socialize/login/frame/?oakk=72470&oakv=f8ad3cf62230eac7baec2fd575c6766253701e9a226debc5778d232b8eeb66b1f7e428e1351dcaea15de35fe4e520fe17b9823d7d866d1a5e5c9f5db5be5a954c53c630ddd5128ad9bbac513b885bc3b5800f42fac376ece8832513e662695954dcf77a8d239d9d0de0a2f7bb55ab6d24d1b47112a6882f6a060aab27b05e60e646189fa2d0da21ccb58b0ee4aed808351da2e989d0077b0d75602671c36858498393c623b3b1cb52de0421e9c838a71deaf4d069ebd42c3d0afb16cafddb2faa109c924a70412c87068559ffcf8223c58eaaf5b2325b3e0f4099cabb55caf7cdc387ef7973c6a1c1a202332cd92f7ed6da591e77977a3a4ee4d4361b390025e77214d4728c3feba70e1c7d3f240c4526979674bcdca403fed64d093dd826b7441e1abfd03347e67ccbbd93247b9d53526a3fcb7e62aa7b3fdf8253a964deaab7714180c78d1a2580a5eb4b546b0ccd5a3589514a4303800cf357eb54cf605fc9ddfd66a65456b9e6a249ffd84c62132ec69534c865d218fc1f801837a2722a11e1a2f079fc8496486b4f06e1e8307d17cee8ad49cb3ed22da1bdf56cb3a9044d9b1b2822064e96f043b41f450511626a5a7f05958d8519c299e4a254c2b2230ea1438a979316eb687b52206ba8bb15e17249b4f36efb674f48a9555a6014bccf672d9315cab3c32bf5c511b76d80dc409c3704697ca44c5eaa1f26f25f9bba102985cddb2e1efc8742731d2354bdf143276da211fcd7c65611276dea2a5cad2e69e32e084f7100ca7250741430851feb35d6099b0feba2b350674e2e4f70fecec38577f3653e2955decd3fb22d634a56abe1432c3b536bf&lang=ru', style='border: 0px none; width: 1344px; height: 81px; background-color: transparent;')
    script(type='text/javascript').
      var _oneall = _oneall || [];
      _oneall.push(["social_login", "set_providers", ['facebook','google','twitter']]);
      _oneall.push(["social_login", "set_callback_uri", "https://cdntrack.com/social_login/callback?origin=https%3A//cdntrack.com/bitcoin-jobs-continue-to-grow-exponentially-despite-price-fluctuations-indeed-study"]);
      _oneall.push(["social_login", "set_force_re_authentication", false]);
      _oneall.push(["social_login", "do_render_ui", "social_login_providers_9899517"]);
    input(autocomplete='off', data-drupal-selector='form-iypgjxrwfonp2mrm5f9jlin4mbrvlcvrzbbdjl5mnw8', type='hidden', name='form_build_id', value='form-IypgjxRwfonP2Mrm5f9JLin4MbrVlCvRzbbdJL5mNw8')
    input(data-drupal-selector='edit-social-login-block-form', type='hidden', name='form_id', value='social_login_block_form')

  section#node-story-field-comments.field.field--name-field-comments.field--type-comment.field--label-hidden.comment-wrapper
    // h2.title.comment-form__title LEAVE A COMMENT
    form#ajax-comments-reply-form-node-17794-field-comments-0-0.comment-comments-form.comment-form.ajax-comments-reply-form-node-17794-field_comments-0-0.ajax-comments-form-add(data-drupal-selector='comment-form-2', action='/comment/reply/node/17794/field_comments', method='post', accept-charset='UTF-8', data-drupal-form-fields='edit-field-comment-0-value--2,edit-ajax-comments-reply-form-node-17794-field-comments-0-0')
      article
        a(href='/user/15921')
          img(src='https://cdntrack.com/sites/default/files/styles/thumbnail/public/pictures/2019-11/picture-15921-1574011897.jpeg?itok=wPsyFV4a', alt='Profile picture for user sergey.sergeychik', itemprop='image')
        input(data-drupal-selector='edit-form-html-id', type='hidden', name='form_html_id', value='ajax-comments-reply-form-node-17794-field-comments-0-0')
        input(data-drupal-selector='edit-wrapper-html-id', type='hidden', name='wrapper_html_id', value='node-story-field-comments')
        input(autocomplete='off', data-drupal-selector='form-ftylw58-o3eo7xlxcb0q1gsj-oochhsjdjasilnuwga', type='hidden', name='form_build_id', value='form-ftylW58-O3EO7XlxCb0Q1GSJ_OoCHHsjdjAsILnuwGA')
        input(data-drupal-selector='edit-comment-comments-form-form-token-2', type='hidden', name='form_token', value='Ca93UEKnhvhX9hbpdQzN7dWEBIq-CViWwDDhOzVgzHU')
        input(data-drupal-selector='edit-comment-comments-form-2', type='hidden', name='form_id', value='comment_comments_form')
        .js-form-item.form-item.js-form-type-textarea.form-item-field-comment-0-value.js-form-item-field-comment-0-value
          // label.label_v2(for='edit-field-comment-0-value--2') Comment
          p sergey.sergeychik
          div
            textarea#edit-field-comment-0-value--2.js-text-full.text-full.form-textarea.input_v3(data-drupal-selector='edit-field-comment-0-value', class="validate[required]" name='field_comment[0][value]', rows='3', cols='60', placeholder='Your comment')
        input#edit-ajax-comments-reply-form-node-17794-field-comments-0-0.button.button--primary.js-form-submit.form-submit.btn_v2.btn_violette_2.create_release_btn(data-drupal-selector='edit-ajax-comments-reply-form-node-17794-field-comments-0-0', type='submit', name='op', value='Send')
    a#new
    a#comment-2
    article.js-ajax-comments-id-2.js-comment.new(data-comment-user-id='1')
      // mark(data-comment-timestamp='1574279326') new
      footer
        article
          a(href='/user/15921')
            img(src='img/content/comments/avatar_1.png', alt='Profile picture for user 1', itemprop='image')
        p(style='')
          a(href="#!") foradmin
          |  on Wed, 11/20/2019 - 19:48
        // <a href="/comment/2#comment-2" hreflang="en">Permalink</a>
      div(style='padding:10px;')
        // <h3><a href="/comment/2#comment-2" class="permalink" rel="bookmark" hreflang="en">test</a></h3>
        ul.links.inline
          li.comment-reply
            a.use-ajax.js-use-ajax-comments.js-ajax-comments-reply.js-ajax-comments-reply-17794-field_comments-2(href='/ajax_comments/reply/node/17794/field_comments/2', data-wrapper-html-id='node-story-field-comments') Reply
        div
          div Comment
          | Africa has been baying for a system which it can shape and built on its own without being beholden to former colonizers Or other systems, and Blockchain can be such a system, but it needs to be more than another copy-job, it needs to be a truly African solution.
    .indented
      a#comment-3
      article.js-ajax-comments-id-3.js-comment.new(data-comment-user-id='1')
        // mark(data-comment-timestamp='1574279361') new
        footer
          article
            a(href='/user/15936')
              img(src='https://cdntrack.com/sites/default/files/styles/thumbnail/public/pictures/2019-11/picture-15936-1574323814.jpeg?itok=LLewDXff', alt='Profile picture for user Михаил.Маркович', itemprop='image')
          p(style='')
            a(href="#!") foradmin
            |  on Wed, 11/20/2019 - 19:49
          p.visually-hidden
            | In reply to
            a.permalink(href='/comment/2#comment-2', rel='bookmark', hreflang='en') test
            |  by
            span foradmin
          // <a href="/comment/3#comment-3" hreflang="en">Permalink</a>
        div(style='padding:10px;')
          // <h3><a href="/comment/3#comment-3" class="permalink" rel="bookmark" hreflang="en">reply on test</a></h3>
          ul.links.inline
            li.comment-reply
              a.use-ajax.js-use-ajax-comments.js-ajax-comments-reply.js-ajax-comments-reply-17794-field_comments-3(href='/ajax_comments/reply/node/17794/field_comments/3', data-wrapper-html-id='node-story-field-comments') Reply
          div
            div Comment
            | You’re so full of shiness

      div
        form#ajax-comments-reply-form-node-17793-field-comments-7-0--IWqEjcyC5cY.comment-comments-form.comment-form.ajax-comments-reply-form-node-17793-field_comments-7-0.ajax-comments-form-reply(data-drupal-selector='comment-form-v1djc4dbih0', action='/ajax_comments/reply/node/17793/field_comments/7', method='post', accept-charset='UTF-8', data-drupal-form-fields='edit-field-comment-0-value--O5ZTFK7P2aA,edit-ajax-comments-reply-form-node-17793-field-comments-7-0--G7OPEi9lBj8,edit-cancel--edjJ0pt4g3c')
          input(data-drupal-selector='edit-form-html-id', type='hidden', name='form_html_id', value='ajax-comments-reply-form-node-17793-field-comments-7-0--IWqEjcyC5cY')
          input(data-drupal-selector='edit-wrapper-html-id', type='hidden', name='wrapper_html_id', value='node-story-field-comments')
          input(autocomplete='off', data-drupal-selector='form-ceuvsecmnldxtcqpyjxk4p1sarvnqzratc-hdkl4-ha', type='hidden', name='form_build_id', value='form-CEuvsecMNLDxTCqPyJXk4p1SARvNqZratC_hDKl4_hA')
          input(data-drupal-selector='edit-comment-comments-form-form-token-vtrvbn6-tdu', type='hidden', name='form_token', value='FZU3tppHA3QOp1a12Ix202DoObwp7oLI0dmyitoZYN8')
          input(data-drupal-selector='edit-comment-comments-form-m76ha2z6cmk', type='hidden', name='form_id', value='comment_comments_form')
          .js-form-item.form-item.js-form-type-textarea.form-item-field-comment-0-value.js-form-item-field-comment-0-value
            // label.label_v2(for='edit-field-comment-0-value--O5ZTFK7P2aA') Comment
            div
              textarea#edit-field-comment-0-value--O5ZTFK7P2aA.js-text-full.text-full.form-textarea.input_v3(data-drupal-selector='edit-field-comment-0-value', class="validate[required]", name='field_comment[0][value]', rows='5', cols='60', placeholder='')
          input#edit-ajax-comments-reply-form-node-17793-field-comments-7-0--G7OPEi9lBj8.button.button--primary.js-form-submit.form-submit.btn_v2.btn_violette_2.create_release_btn(data-drupal-selector='edit-ajax-comments-reply-form-node-17793-field-comments-7-0-g7opei9lbj8', type='submit', name='op', value='Save')
          input#edit-cancel--edjJ0pt4g3c.button.js-form-submit.form-submit.btn_v2.btn_violette_2.create_release_btn(data-drupal-selector='edit-cancel', type='submit', name='op', value='Cancel')

    a#comment-4
    article.js-ajax-comments-id-4.js-comment.new(data-comment-user-id='1')
      // mark(data-comment-timestamp='1574279381') new
      footer
        article
          a(href='/user/15921')
            img(src='img/content/comments/avatar_2.png', alt='Profile picture for user 2', itemprop='image')
        p(style='')
          a(href="#!") foradmin
          |  on Wed, 11/20/2019 - 19:49
        // <a href="/comment/4#comment-4" hreflang="en">Permalink</a>
      div(style='padding:10px;')
        // <h3><a href="/comment/4#comment-4" class="permalink" rel="bookmark" hreflang="en">comment 2</a></h3>
        ul.links.inline
          li.comment-reply
            a.use-ajax.js-use-ajax-comments.js-ajax-comments-reply.js-ajax-comments-reply-17794-field_comments-4(href='/ajax_comments/reply/node/17794/field_comments/4', data-wrapper-html-id='node-story-field-comments') Reply
    a#comment-8
    article.js-ajax-comments-id-8.js-comment.new(data-comment-user-id='15921')
      // mark(data-comment-timestamp='1574342762') new
      footer
        article
          a(href='/user/15921')
            img(src='https://cdntrack.com/sites/default/files/styles/thumbnail/public/pictures/2019-11/picture-15921-1574011897.jpeg?itok=wPsyFV4a', alt='Profile picture for user sergey.sergeychik', itemprop='image')
        p(style='')
          span sergey.sergeychik
          |  on Thu, 11/21/2019 - 13:26
        // <a href="/comment/8#comment-8" hreflang="en">Permalink</a>
      div(style='padding:10px;')
        // <h3><a href="/comment/8#comment-8" class="permalink" rel="bookmark" hreflang="en">(No subject)</a></h3>
        ul.links.inline
          li.comment-reply
            a.use-ajax.js-use-ajax-comments.js-ajax-comments-reply.js-ajax-comments-reply-17794-field_comments-8(href='/ajax_comments/reply/node/17794/field_comments/8', data-wrapper-html-id='node-story-field-comments') Reply
        div
          div Comment
          |         май коммент
