section.card.card--tweet
  .card__title CryptoTweets

  .card__body
    each item in cryptoTweets
      article.aside-story.aside-story--tweets
        .aside-story__img-wrapper
          img.aside-story__img(src="https://dummyimage.com/40x40/d8dbde/aaa")

        .aside-story__body
          a.aside-story__link(href="#!")= item.login
          time.text-small= item.time

        .aside-story__text= item.text

  .card__footer
    a.btn.btn--arrow-right(href="#!") See all