.currencies
  .currencies__container.container

    .currencies__slide-wrapper
      .currencies__slide
        each currencie in currencies
          a.currencies__link(href="#!")
            .currencies__info
              .currencies__name= currencie.name
              .currencies__trand(class=[ currencie.down ? 'currencies__trand--down' : '' ])= currencie.trand
            .currencies__price= currencie.price

    select.currencies__currency.input__select.input__select--tiny
      option(selected) USD
      option(value="") EUR
      option(value="") RUB