.currencies
    .currencies__container.container

        amp-list.currencies__slide-wrapper(height="24" width="auto" src="currencies.json")
            template.currencies__slide(type="amp-mustache")
                a.currencies__link(href="{{url}}")
                    .currencies__info
                        .currencies__name {{title}}
                        .currencies__trand(class="{{down}}") {{trand}}
                    .currencies__price {{price}}