main.main-block
  .event
    h1.event__title Blockspot Conference Europe 2018

    .event__mark Crypto events are beginning to invite more women speakers, but tend to feature them in separate Women in Crypto panels

    .event__main-img-wrapper
      img.event__main-img(src="https://dummyimage.com/736x464/d8dbde/aaa")

    h2 About this event / Press release subtitle

    p Description. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

    p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.

    section.event__info
      .event__info-row
        .event__info-label Place
        .event__info-text Zurich, Switzerland
      .event__info-row
        .event__info-label Start Date
        .event__info-text 1 March 2018
      .event__info-row
        .event__info-label End Date
        .event__info-text 3 March 2018
      .event__info-row
        .event__info-label Ticket from
        .event__info-text $100
      .event__info-row
        .event__info-label Ticket to
        .event__info-text $300
      .event__info-row
        .event__info-label Website
        .event__info-text
          a.link-decorate(href="#!") https://cocacola.com
      .event__info-row
        .event__info-label Organization
        .event__info-text CocaCola
      .event__info-row
        .event__info-label Contacts
        .event__info-text Leah Callon-Butler Chief Impact Officer: 
          a.link-decorate(href="mailto:leah@cocacola.com") leah@cocacola.com
      .event__info-row
        .event__info-label Social links
        .event__info-text
          a.link-decorate.link-icon.link-icon--fb(href="#!") Facebook
          a.link-decorate.link-icon.link-icon--tw(href="#!") Twitter
          a.link-decorate.link-icon.link-icon--tg(href="#!") Telegram
          a.link-decorate.link-icon.link-icon--yt(href="#!") Youtube
          a.link-decorate.link-icon.link-icon--rd(href="#!") Reddit

    h2 Speakers (if event)

    ul.event__speakers
      li.event__speakers-item
        .event__speakers-icon John Smith, enterpreneur
      li.event__speakers-item
        .event__speakers-icon Mike O’Neil, CryptoLuck founder
      li.event__speakers-item
        a.event__speakers-link.event__speakers-icon(href="#!") John Smith, enterpreneur
      li.event__speakers-item
        a.event__speakers-link.event__speakers-icon(href="#!") John Smith, enterpreneur
      li.event__speakers-item
        .event__speakers-icon Kevin Mallowne, Dash accountant
      li.event__speakers-item
        .event__speakers-icon Kevin Mallowne, Dash accountant

    h2 Some other stuff

    p Description. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

    p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.