.modal#subscribe-form
  .modal__square.modal__square-tiny
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title Sign up for crypto digest

      form(action="#" method="get")
        .input.article__subscribe-input
          input.input__elem(type="text" name="email" placeholder="Email" required)

        button.btn.btn--wide.btn--input(type="submit") Subscribe

        .modal__square-agree By pressing the “Subscribe button” you agree with our
          a(href="#!") Privacy Policy

.modal#rus-version
  .modal__square.modal__lang
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title Доступен русский язык!

      .modal__square-text Russian version is available!

      .btn--column
        a.btn.btn--lang(href="#!")
          .icon.icon--rus
          span Перейти на русский сайт

        a.btn.btn--lang(href="#!")
          .icon.icon--eng
          span Keep reading in English

.modal#eng-version
  .modal__square.modal__lang
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title English version is available!

      .btn--column
        a.btn.btn--lang(href="#!")
          .icon.icon--eng
          span Go to English website

        a.btn.btn--lang(href="#!")
          .icon.icon--rus
          span Остаться на русском