.modal#rus-version
  .modal__square.modal__lang
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title Доступен русский язык!

      .modal__square-text Russian version is available!

      .btn--column
        a.btn.btn--lang(href="#!")
          .icon.icon--rus
          span Перейти на русский сайт

        a.btn.btn--lang(href="#!")
          .icon.icon--eng
          span Keep reading in English

.modal#eng-version
  .modal__square.modal__lang
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title English version is available!

      .btn--column
        a.btn.btn--lang(href="#!")
          .icon.icon--eng
          span Go to English website

        a.btn.btn--lang(href="#!")
          .icon.icon--rus
          span Остаться на русском