.modal#subscribe-form
  .modal__square
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-content
      .modal__square-title Sign up for crypto digest

      form(action="#" method="get")
        .input.article__subscribe-input
          input.input__elem(type="text" name="email" placeholder="Email" required)

        button.btn.btn--wide.btn--input(type="submit") Subscribe

        .modal__square-agree By pressing the “Subscribe button” you agree with our 
          a(href="#!") Privacy Policy