.modal__yb
    button.btn.btn--light.btn--cross.modal__close

    .modal__yb-desc
        .modal__yb-title “Ripple Was Always Scam Coin.” Exclusive Interview with Tone Vays
        a.btn.btn--light.btn--yb(href="https://www.youtube.com/" target="_blank") Subscribe to U.Today

    iframe(width="1206" height="678" src="https://www.youtube.com/embed/LXb3EKWsInQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)