.modal#subscribe-form
  .modal__item
    button.modal__close.btn.btn--light.btn--cross-white(data-close-modal)

    .modal__item-header
      .modal__item-header-title All crypto news for
      .modal__item-logo

    .modal__item-body
      .modal__item-icon ✉
      .modal__item-text Sign up for crypto digest

      form(action="#" method="get")
        .input.article__subscribe-input
          input.input__elem(type="text" name="email" placeholder="Email" required)

        button.btn.btn--wide.btn--input(type="submit") Subscribe

        .modal__item-agree By pressing the “Subscribe button” you agree with our 
          a(href="#!") Privacy Policy


.modal#subscribe-form-title
  .modal__square
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-img

    .modal__square-content
      .modal__square-icon ✉
      .modal__square-title Get the latest news, tips and good insights to your inbox

      form(action="#" method="get")
        .input.article__subscribe-input
          input.input__elem(type="text" name="email" placeholder="Email" required)

        button.btn.btn--wide.btn--input(type="submit") Subscribe

        .modal__square-agree By pressing the “Subscribe button” you agree with our 
          a(href="#!") Privacy Policy


.modal#subscribe-form-text
  .modal__square.modal__square--text
    button.modal__close.btn.btn--light.btn--cross(data-close-modal)

    .modal__square-img

    .modal__square-content
      .modal__square-icon ✉
      .modal__square-title What will be your next move?
      .modal__square-text Sign up for crypto-trading tips & hints:

      form(action="#" method="get")
        .input.article__subscribe-input
          input.input__elem(type="text" name="email" placeholder="Email" required)

        button.btn.btn--wide.btn--input.btn--accent(type="submit") Subscribe

        .modal__square-agree By pressing the “Subscribe button” you agree with our 
          a(href="#!") Privacy Policy

.modal#log_in
  .modal__square.modal__entrance
    button.modal__close.btn.btn--light.btn--cross-blue(data-close-modal)

    .modal__entrance-header
      .modal__entrance-title Log in

    .modal__entrance-content
      form.modal__log_in-form(action="#" method="get")
        .input
          input(type="text" class="input__elem validate[required]" maxlength="12" name="name" placeholder="Account name")
        .input
          input(type="password" class="input__elem validate[required]"  name="password" placeholder="Brain key")
        button.btn.btn--input.btn_step(type="submit" disabled="") Log in
      .btn__block
        button.btn.btn--wide.btn--input.register(data-modal="register") Register

.modal#register
  .modal__square.modal__entrance
    button.modal__close.btn.btn--light.btn--cross-back(data-back-modal)
    button.modal__close.btn.btn--light.btn--cross-blue(data-close-modal)
    .modal__entrance-header
      .modal__entrance-title Step 1
    .modal__entrance-content
      form.modal__entrance-form(action="#" method="get")
        .input
          input(type="text" class="input__elem validate[required,custom[email]]" name="email" placeholder="Email")
        .input.input-account--name
          span.internet-dog @
          input(type="text" data-field="item" class="input__elem validate[custom[onlyLetterSp], required, minSize[12]" maxlength="12" name="account_name" placeholder="Account name").
          .input-account--name_counter
            span.counter(data-field="target") 0
            span.counter /12
        .modal__entrance-caption Exactly 12 characters, lower case, latin symbols and digits 1-5 only.
        .checkbox__block
          .checkbox__block_item
            input.checkbox(type='checkbox')
            label I accept <a class="modal__entrance-link" href="#!">Terms and Conditions</a>
        button.btn.btn--wide.btn--input.btn_step(type="submit" disabled) generate brainkey
      .btn__block
          button.btn.btn--input.sign_in(data-modal="log_in") Or Sign In
  .modal__square.modal__entrance
    button.modal__close.btn.btn--light.btn--cross-back(data-back-modal)
    button.modal__close.btn.btn--light.btn--cross-blue(data-close-modal)
    .modal__entrance-header
      .modal__entrance-title Step 2
    .modal__entrance-content
      .modal__entrance-text The Brainkey is the seed phrase from which your public-private key pairs are generated. You can restore the public-private key pairs from your Brainkey if you lose the keys.
      .modal__entrance-text.bold The Brainkey itself cannot be restored once lost!
      .modal__entrance-text ⚠ Write it down on a paper and make a photo:
      .modal__entrance-hashtags
        span.modal__entrance-hashtag bedfoot
        span.modal__entrance-hashtag fueler
        span.modal__entrance-hashtag indrawn
        span.modal__entrance-hashtag naw
        span.modal__entrance-hashtag mutely
        span.modal__entrance-hashtag judo
        span.modal__entrance-hashtag cajuput
        span.modal__entrance-hashtag ounds
        span.modal__entrance-hashtag soum
        span.modal__entrance-hashtag turr
        span.modal__entrance-hashtag bail
        span.modal__entrance-hashtag gunshot
      form.modal__entrance-form(action="#" method="get")
        .checkbox__block
          .checkbox__block_item
            input.checkbox(type='checkbox')
            label I accept <a class="modal__entrance-link" href="#!">I recorded my Brainkey</a>
        button.btn.btn--input.btn--wide.btn_step(type="submit" disabled) Finish
  .modal__square.modal__entrance
    button.modal__close.btn.btn--light.btn--cross-back(data-back-modal)
    button.modal__close.btn.btn--light.btn--cross-blue(data-close-modal)
    .modal__entrance-header
      .modal__entrance-title Registration completed
    .modal__entrance-content
      .modal__successfully-icon
      .modal__successfully-text Your registration was successfully completed

