section.news
  .news__header
    .news__title News: 29 April, Monday

  ul.news__list
    each item, i in news
      li.news__item
        .news__item-time-wrapper
          time.news__item-time.humble 1 hour ago

        .news__item-title-wrapper
          h2.title
            a.news__item-title(href="#!")= item.title

          .news__item-info
            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7

  .btn--block
    button.btn.btn--arrow-down.btn--big Load more news