section.news
  .news__header
    h1.news__title ☕ News: 29 April, Monday
    // a.btn.btn--arrow-right.hide-md-down(href="#!") See all

  ul.news__list
    each item, i in news
      li.news__item
        .news__item-title-wrapper
          h2.title
            a.news__item-title(href="#!")= item.title

          .news__item-info
            .news__item-time-wrapper
              time.news__item-time.humble 11:05 AM
            a.humble.humble--comments.humble--tiny(href="#!") 463
            a.humble.humble--liked.humble--liked_small(href="#!") 7

  .news__footer
    a.show-more.btn--arrow-bottom(href="#!") Show more