section.news-categories
  .news-categories__title Categories

  ul.news-categories__list
    each item, i in newsCategories
      li.news-categories__item
        a.news-categories__item-link(href="#!" class=[ i == 2 ? 'news-categories__item-link--singularity' : ''])= item
        .humble 28 articles
