.pag-nav
    - var pag_nav_value = 2;

    ul.pag-nav__list
        li.pag-nav__item
            span.btn--light.pag-nav__btn.pag-nav__btn-active 1

        while pag_nav_value < 40
            li.pag-nav__item
                a.btn--light.pag-nav__btn(href="#" + pag_nav_value)= pag_nav_value++

