.press-releases.press-releases-long

    .press-releases__header

        .press-releases__info
            h3.press-releases__title Press releases

            .btn--block
                a.btn.btn--pseudo(href="#!See all") See all
                a.btn.btn--pseudo(href="#!Submit") Submit

        .slider__nav
            button.slider__nav-arrow.slider__nav-prev
            button.slider__nav-arrow.slider__nav-next

    .press-releases__slider-long
        each pressRelease, i in pressReleases
            a.press-releases__item(href="#!" + i)
                .press-releases__inner
                    .press-releases__item-img--wrapper
                        img(src="" + pressRelease.src)
                        .sponsored__mark Promo

                    h4.press-releases__item-name= pressRelease.name



