.something.something--footer
    button.btn.btn--light.btn--cross.btn--close-something
    .something__footer-long(style="background-color: #032e61")
        img(src="img/something/long.png" alt="something-wide")
