section.card.card--miners.card--mobile-visible
    .card__title.card__title--border Top tranding bot
        span.card__mark Promoted

    .card__body.card__body-counter
        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") HaasOnline
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/haasonline.png")

                .btn--block
                    a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") Margin
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/margin.png")

                .btn--block
                    a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") Zignaly
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/zignaly.png")

                .btn--block
                    a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") CryptoHopper
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/crypto-hopper.png")

                .btn--block
                    a.btn.btn--small(href="#!" target="_blank" rel="nofollow noopener") Website

        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") LiveTrader
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/live-trader.png")

                .btn--block
                    a.btn.btn--small(href="#!" target="_blank" rel="nofollow noopener") Website

        .aside-story.aside-story--miners
            .aside-story__body.aside-story__row
                .aside-story__descr
                    .aside-story__row-center
                        a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") Daxrobot
                        a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                            img.aside-story__img(src="img/content/crypt/daxrobot.png")

                .btn--block
                    a.btn.btn--small(href="#!" target="_blank" rel="nofollow noopener") Website