extends layouts/layout.pug

block title
    title About Us | u.today

block content
    .main-container
        .error-404(style="text-align:center;background:#fff;padding:32px 16px 64px")
            h1(style="color:#ECEFF1;font-size:128px;line-height:1.2;font-weight:800;margin:0 0 24px") 404

            p(style="font-size:17px;line-height:1.7;font-weight:700") Page not found. Go to <a href="https://u.today/">main page</a>

            img(src="img/icons/logo.svg" style="width:130px;margin:32px auto 0" width="130" height="19" alt="UTODAY")
