extends layouts/layout.pug

block title
    title About Us New | u.today

block content
    .main-container
        .content-container
            main.main-block
                section.content-block
                    .content-block__title About Us
                    .content-block__descr
                        p U.Today is a news, analysis and educational platform that covers the crypto industry, Blockchain and new gen tech. It was founded by editors with extensive experience in both high-quality journalism and the crypto industry, who have developed some very successful media projects. We’re proud to serve the crypto community keeping it tuned to what’s up and new in the field by heeding the core journalistic values- clear thinking, accuracy, impartiality and independence.

                        p We run daily crypto market reviews, ICO analytics, interviews with the best experts and major newsmakers, in-depth feature stories and thought-provoking opinion. On the educational side, we’re giving the newcomers step-by-step trading guides, crypto tips and WikiCoin references that help them cope with crypto economics and learn more.

                        p We appreciate when members of our audience share with us their expertise through social media or by other means. Stay tuned and let’s build a better community together!
                section.content-block
                    .content-block__title Business Information
                    .content-block__descr
                        p © 2019 U.Today. All rights reserved.

                        p https://u.today website is operated by AKSELERATOR, LLC, address: 111395, Moscow, Moldagulova Street, Building 10, Building 2

                        p Official U.Today BTC wallet: 1EXCmnrTvohJwzymCufkLqw6zVrNvhApQN
                section.content-block
                    .content-block__title Corrections or feedback?
                    .content-block__descr
                        p If a story contains inaccuracies or breaches of our ethical code, please reach out to our Chief Editor Samburaj Das by email: samburaj@ccn.com, or phone: +91 988 63 63808.

                        p If a story has been corrected and a grave error has been made by CCN Markets, the correction and explanation will be published under the category CCN Apology.
                section.content-block
                    .content-block__title Regular staff
                    .staff__list
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-05/Aliya-Prokofieva.jpg?itok=XneRBbMI")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Konstantin Konstantinopolsiy
                                        a.staff__post(href="#!") Editor-in-Chief

                                    .social
                                        a.social__link.social__link--ln(href="#!ln")
                                        a.social__link.social__link--insta(href="#!insta")
                                        a.social__link.social__link--em(href="#!email")
                                        a.social__link.social__link--tg(href="#!tg")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-05/Alex.jpg?itok=xbAwW_Ky")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Alexander Borodich
                                        a.staff__post(href="#!") Financial Analyst
                                    .social
                                        a.social__link.social__link--tg(href="#!tg")
                                        a.social__link.social__link--tw(href="#!tw")
                                        a.social__link.social__link--fb(href="#!fb")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-03/brian_1.jpg?itok=YjGXLn0j")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Alexander Goborov
                                        a.staff__post(href="#!") Editor-in-Chief
                                    .social
                                        a.social__link.social__link--em(href="#!email")
                                        a.social__link.social__link--tg(href="#!tg")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-03/cyril.jpg?itok=B4DTzpuI")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Aliya Prokofieva
                                        a.staff__post(href="#!") Financial Analyst
                                    .social
                                        a.social__link.social__link--ln(href="#!ln")
                                            a.social__link.social__link--em(href="#!email")
                                            a.social__link.social__link--fb(href="#!fb")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-03/George-Shnurenko_1.jpg?itok=DpBxrdn8")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Andrew Strogoff
                                        a.staff__post(href="#!") Financial Analyst
                                    .social
                                        a.social__link.social__link--ln(href="#!ln")
                                            a.social__link.social__link--insta(href="#!insta")
                                            a.social__link.social__link--em(href="#!email")
                                            a.social__link.social__link--fb(href="#!fb")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .staff__item
                            a.staff__img-wrapper(href="#!")
                                img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-05/Rajashi%20Mitra.jpg?itok=-XBa93Io")

                            .staff__info
                                .staff__row
                                    .personal__info
                                        a.staff__name(href="#!") Angel Di Matteo
                                        a.staff__post(href="#!") Editor-in-Chief
                                    .social
                                        a.social__link.social__link--em(href="#!email")
                                        a.social__link.social__link--tw(href="#!tw")
                                        a.social__link.social__link--fb(href="#!fb")
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                section.content-block
                    .content-block__title Outsource
                    .team__list
                        each i in [1,2,3,4,5,6,7,8,9]
                            a.team__item(href="#!")
                                .team__img-wrapper
                                    img.team__img(src="https://u.today/sites/default/files/styles/profile_teaser/public/2018-06/borodich.jpg?itok=F_DxIVHf")

                                .team__name Angel Di Matteo
                                .team__post Editor-in-Chief
            aside.aside-block.aside-block--mobile-visible
                section.card
                    .card__title Contacts

                    .card__desc If you would like to give us some editorial feedback, have a partnership idea or would like to request permission for reprints, please use the contacts here.

                    .card__list
                        each item in contactEmails
                            .card__list-item
                                .card__list-title= item.title
                                a.card__list-link(href="mailto:" + item.email)= item.email
