extends layouts/amp-layout.pug

block title
    title Article | U

block content
    .main-aside-container
        .main-news-block
            include blocks/amp-article.pug

            .category-item
                a.category-item__img-wrapper(href="#!")
                    amp-img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/2963.jpg?itok=l2-ezqge" alt="How to Protect Your Identity and Bitcoin Wallet From Tracking" layout="responsive" width="218" height="136")
                    span How to Protect Your Identity and Bitcoin Wallet From Tracking

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Stories
                        .humble.humble--time 2 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title How to Protect Your Identity and Bitcoin Wallet From Tracking

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            amp-img.humble__img(src="https://u.today/sites/default/files/2019-11/vlad-ava.jpg" alt="Vladislav Sopov" layout="fixed" width="24" height="24")
                            | Vladislav Sopov

                        .humble.humble--icon.humble--icon-large
                            include ../img/icons/comment.svg
                            | 2

            .category-item
                a.category-item__img-wrapper(href="#!")
                    amp-img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/Bestchange.jpg?itok=HE4b8Qf1" alt="Beginner’s Guide to Bluzelle — The Decentralized Data Network" layout="responsive" width="218" height="136")
                    span Beginner’s Guide to Bluzelle — The Decentralized Data Network
                    .promoted__mark Promo

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Interviews
                        .humble.humble--time 4 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title How To Exchange Crypto with BestСhange

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            amp-img.humble__img(src="https://u.today/sites/default/files/2019-03/Heewon-Jang_0.jpg" alt="Heewon Jang" layout="fixed"  width="24" height="24")
                            | Heewon Jang

                        .humble.humble--icon.humble--icon-large
                            include ../img/icons/comment.svg
                            | 12

            .category-item
                a.category-item__img-wrapper(href="#!")
                    amp-img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/Bluzelle.jpg?itok=ZFAJHkl_" alt="Beginner’s Guide to Bluzelle — The Decentralized Data Network" layout="responsive" width="218" height="136")
                    span Beginner’s Guide to Bluzelle — The Decentralized Data Network

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Price Prediction
                        .humble.humble--time 1 day 23 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title Beginner’s Guide to Bluzelle — The Decentralized Data Network

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            amp-img.humble__img(src="https://u.today/sites/default/files/2019-11/vera-ava.jpg" alt="Vera Yurina" layout="fixed" width="24" height="24")
                            | Vera Yurina

                        .humble.humble--icon.humble--icon-large
                            include ../img/icons/comment.svg
                            | 123

        include blocks/amp-aside.pug



