extends layouts/amp-layout.pug

block title
    title Events | U

block content
    .main-aside-container
        .main-block
            include blocks/amp-events.pug

        include blocks/amp-aside.pug