extends layouts/amp-layout.pug

block title
    title Partners | U

block content
    .main-aside-container
        .main-block
            .partners__lead
                h1.partners__title U.Today Crypto News Partner’s Content Distribution Network

                p U.Today Crypto News has a large partner’s content distribution network. Currently, we provide our content to more than 50 top blockchain and market news aggregators and mobile applications.
                p Millions of users can now read our articles from all over the world instantly every day - we have our partners to thank for this.
                p Among our partners are the most famous and reliable companies committed to providing their readers with the most up to date world news and economic analytical articles, crypto and forex news, and useful financial instruments.
                p We are proud to be a part of this amazing ecosystem and invite you to join us!
                p If you want to become a partner, send an email to partners@u.today

                .partners__lead-list
                    .partners__lead-item
                        .partners__lead-mark
                            include ../img/icons/crown.svg
                            | Premium Partner
                        amp-img(src="img/content/partners/item_1.svg" layout="fixed" width="167" height="50")
                        p Tron is a blockchain-based decentralized platform that aims to build a free, global digital content entertainment system with distributed storage technology, and allows easy and cost-effective sharing of digital content.
                        p Tron was founded in September 2017 by a Singapore based non-profit organization called the Tron Foundation. It is headed by CEO Justin Sun and has a dedicated in-house development team that includes renowned technology stalwarts.
                        a(href="#!") www.tron.network

                    .partners__lead-item
                        .partners__lead-mark
                            include ../img/icons/crown.svg
                            | Premium Partner
                        amp-img(src="img/content/partners/item_2.svg" layout="fixed" width="244" height="37")
                        p TradingView is a comprehensive, all-in-one financial platform where users analyze, discuss & trade financial instruments. Millions of self-directed traders & investors use the platform on a daily basis.
                        p TradingView’s open and free chart components are unsurpassed on the financial web and have been integrated into thousands of websites, exchanges & applications globally.
                        p For free charts for your website visit <a href="#!">www.tradingview.com/widget</a>
                        a(href="#!") www.tradingview.com

            .partners__list
                .partners__item
                    a.img-link(href="#!")
                        amp-img.partners__img(src="https://u.today/sites/default/files/styles/partner_teaser/public/2018-10/Decent.jpg?itok=3uiQCNgX" layout="responsive" width="350" height="87")
                    .partners__info
                        .partners__name Blockchain & Bitcoin Conference Stockholm
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .partners__row
                            a.partners__link.link(href="#!") https://stockholm.bc.events
                            .store
                                a.store__link(href="#!as")
                                    include ../img/icons/store-apple.svg

                .partners__item
                    a.img-link(href="#!")
                        amp-img.partners__img(src="https://u.today/sites/default/files/styles/partner_teaser/public/2018-09/shift_money_logo.png?itok=ee1f8RDF" layout="responsive" width="290" height="250")
                    .partners__info
                        .partners__name SophiaTX
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .partners__row
                            a.partners__link.link(href="#!") https://sophiatx.com
                            .store
                                a.store__link(href="#!pm")
                                    include ../img/icons/store-google.svg
                                a.store__link(href="#!as")
                                    include ../img/icons/store-apple.svg

                .partners__item
                    a.img-link(href="#!")
                        amp-img.partners__img(src="https://u.today/sites/default/files/styles/partner_teaser/public/2018-08/23.jpg?itok=PGCRBFdm" layout="responsive" width="250" height="94")
                    .partners__info
                        .partners__name BC Conference
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .partners__row
                            a.partners__link.link(href="#!") https://bc-conference.org
                            .store
                                a.store__link(href="#!as")
                                    include ../img/icons/store-apple.svg

                .partners__item
                    a.img-link(href="#!")
                        amp-img.partners__img(src="https://u.today/sites/default/files/styles/partner_teaser/public/2018-08/8_0.jpg?itok=Ub3J42ak" layout="responsive" width="250" height="65")
                    .partners__info
                        .partners__name Blockchain Futurist Conference
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .partners__row
                            a.partners__link.link(href="#!") https://bcfc.edu
                            .store
                                a.store__link(href="#!as")
                                    include ../img/icons/store-apple.svg

        include blocks/amp-aside.pug