extends layouts/amp-layout.pug

block title
    title Author | U

block content
    .main-aside-container
        .main-news-block
            include blocks/amp-author.pug

        include blocks/amp-aside.pug