extends layouts/amp-layout.pug

block title
    title Category | U

block content
    .main-aside-container
        .main-block
            .category
                include blocks/amp-category-info.pug

                amp-list(width="auto" height="568" src='author-articles-3.json' load-more="auto")
                    template(type='amp-mustache')
                        .category-item
                            a.category-item__img-wrapper(href="{{link}}")
                                amp-img.category-item__img(src="{{img}}" layout="responsive" width="218" height="136")
                                .promoted__mark {{label}}

                            .category-item__info
                                .humble__row
                                    a.humble(href="#!") {{category}}
                                    .humble.humble--time {{time}}

                                a.category-item__title-link(href="{{link}}")
                                    h3.category-item__title {{title}}

                                .humble__row.humble--between
                                    a.humble.humble--author(href="{{link-author}}")
                                        amp-img.humble__img(src="{{img-author}}" layout="fixed" width="24" height="24")
                                        | {{author}}

                                    .humble.humble--icon.humble--icon-large
                                        include ../img/icons/comment.svg
                                        | 2

        include blocks/amp-aside.pug