extends layouts/amp-layout.pug

block title
    title Event | U

block content
    .main-aside-container
        .main-news-block
            include blocks/amp-event.pug

        include blocks/amp-aside.pug