extends layouts/amp-layout.pug

block title
    title Press Release List | U

block content
    .main-aside-container
        .main-block
            .category
                .category-item
                    a.category-item__img-wrapper(href="#!")
                        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-04/2951.jpg?itok=QDpz_gP8" layout="responsive" width="218" height="136")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 2 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title Why Trade BTC Options Instead of BTC Futures?

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-04/coin24.jpg?itok=n4bzW05O" layout="responsive" width="218" height="136")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 4 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title How to Keep Funds Safe from Hacking While Trading

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-03/2642_0.jpg?itok=bXu9N8OO" layout="responsive" width="218" height="136")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 1 day 23 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title Bridging the Gap Between DEXs and CEXs

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        amp-img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-03/Data%20Storage.jpg?itok=oMoaeQK_" layout="responsive" width="218" height="136")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 2 days 1 hour ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title The Next Data Storage Generation: Decentralized Storage

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

        include blocks/amp-aside.pug