include inc/var.pug
doctype html
html(lang="en" dir="ltr" ⚡)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        link(rel='canonical', href='https://u.today/keybase-starts-supporting-stellar-wallets')

        script(async="" src="https://cdn.ampproject.org/v0.js")

        style(amp-boilerplate='').
            body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
        noscript
            style(amp-boilerplate='').
                body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

        script(custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js', async='')
        script(async='', custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')

        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")

        style(amp-custom="")
            include ../../../dest/styles/amp.css

        //- link(href="styles/amp.css" rel="stylesheet")

        script(type='application/ld+json').
            {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
            },
            "headline": "Article headline",
            "image": {
            "@type": "ImageObject",
            "url": "https://google.com/thumbnail1.jpg",
            "height": 800,
            "width": 800
            },
            "datePublished": "2015-02-05T08:00:00+08:00",
            "dateModified": "2015-02-05T09:20:00+08:00",
            "author": {
            "@type": "Person",
            "name": "John Doe"
            },
            "publisher": {
            "@type": "Organization",
            "name": "Google",
            "logo": {
            "@type": "ImageObject",
            "url": "https://google.com/logo.jpg",
            "width": 600,
            "height": 60
            }
            },
            "description": "A most wonderful article"
            }


    body

        amp-sidebar#sidebar.sidebar(layout='nodisplay', side='right')
            .sidebar__close(role='button' aria-label='close sidebar' on='tap:sidebar.toggle' tabindex='0')
                include ../img/icons/cross.svg

            .sidebar__social.social
                a.social__link.social__link--fb(href='#!fb')
                a.social__link.social__link--tg(href='#!tg')
                a.social__link.social__link--tw(href='#!tw')
                a.social__link.social__link--em(href='#!em')

            .sidebar__lang
                .sidebar__lang-item.active
                    a.sidebar__lang-link(href='#!en') English
                .sidebar__lang-item
                    a.sidebar__lang-link(href='#!es') Español

            nav.sidebar__nav
                ul.sidebar__nav-list
                    each category in navFooter
                        li.sidebar__nav-item
                            a.sidebar__nav-link(href="#!")= category.name

                            if category.childs
                                ul.sidebar__nav-child-list
                                    each child in category.childs
                                        li.sidebar__nav-child-item
                                            a.sidebar__nav-child-link(href="#!")= child.name

        .container.page-container.amp_page-container.article_new
            header.header
                a.header__logo(href="/")
                    include ../img/icons/logo.svg

                button.mobile-menu__btn(on="tap:sidebar.toggle")
                    include ../img/icons/burger.svg

            a.header_article.header_article-with-image(href="#!")
                .header_article__row
                    .header_article__image
                        amp-img(src='img/content/article_header/item_1.png', width="132px", height="64px", alt='')
                    .header_article__descr
                        .header_article__title You may also like: <span class="bold"> Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate' </span>
            a.header_article(href="#!")
                .header_article__row
                    .header_article__descr
                        .header_article__title 👋 You may also like: <span class="bold"> Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate' </span>
            .article
                .article_new__header
                    .row
                        time.author__item-time.humble Oct 27’2018, 11:27 AM
                        .humble.humble--views 123k
                        .humble.humble--like 31
                        .humble.humble--chat 256
                h1.article__title Women of Crypto at the Crypto Invest Summit: Separate but Hopeful

                section.author_block
                    ul.author__list
                        li.author__item
                            .author__item-header
                                a.author__item-user(href="#!")
                                    amp-img.author__item-user-avatar(src='https://dummyimage.com/40x40/d8dbde/aaa' width="40" height="40")
                                .right
                                    .author__item-wrapper
                                        a.author__item-name.humble(href="#!") Konstantin Konstantinopolsky
                                        .author__item-tag.humble ⭐ Featured
                                    .author__item-body
                                        .author__item-msg
                                            p
                                                | I did some quite research, checked a hefty load of sources and here’s my superb mining platforms overview. In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low.
                .article__main-img-wrapper
                    amp-img(src='https://u.today/sites/default/files/styles/880/public/2018-11/Colorado%20watchdog%20gets%20rid%20of%20fraud%20ICOs.jpg?itok=k4gorROz', layout='responsive', width='16', height='10')
                    .under_article__main-img
                        .title You may also like:
                        .under_main-img__list
                            a.under_main-img__item(href="#!")
                                | 🔥
                                span.red TOP STORY
                                |  Bitcoin Price Prediction for November: The Market Is Wound Up and Waiting
                            a.under_main-img__item(href="#!")
                                | 🚀 Original Bitcoin Fork, BCH, Gets Exchanges’ Seal of Approval for Upcoming Fork
                            a.under_main-img__item(href="#!")
                                | 💎 Brave Rewards Now Available for Android
                    .disclaimer
                        p.disclaimer_text Disclaimer: The opinion expressed here is not investment advice – it is provided for informational purposes only. It does not necessarily reflect the opinion of U.Today. Every investment and all trading involves risk, so you should always perform your own research prior to making decisions. We do not recommend investing money you cannot afford to lose.
                section.article__content
                    p
                        | In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low, but in the last couple of years, every major crypto and Blockchain event diligently features a Women in Crypto panel. The second
                        a.link-text(href='#!') Crypto Invest Summit
                        | , which took place this week at LA’s Convention Center, was no exception; indeed, the conference went all out for a full Women of Crypto track.
                    a.article__related(href='#!')
                        .article__related-body
                            .article__related-link
                                | 👉 <span class="red">MUST READ</span> Africa’s Blockchain Potential Limitless But Its Implementation the True Struggle
                        .article__related_img
                            amp-img.article__related-img(src='https://u.today/sites/default/files/styles/600x/public/2018-11/The%20red%20market%20is%20dragging%20NANO%20down.jpg?itok=Vk_rsYGp' width="88px" height="59px")
                    p
                        | As one would expect under such circumstances, the audience for the track was a fraction of that which was expected to attend the summit proper. On the upside, just about half of the crowd comprised men, something the organizers noted as being a very encouraging sign of support from across the aisle.
                    blockquote
                        p
                            | Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women
                            a.link-text(href='#!') made up roughly 20 percent
                            |  of the speakers.
                    table
                        tbody
                            tr
                                td Subunit
                                td Symbol
                                td Value (of 1 BTC)
                            tr
                                td 'millibit'
                                td mBTC
                                td 1/1000
                            tr
                                td ‘bit’
                                td μBTC
                                td 1⁄1000000
                            tr
                                td ‘satoshi’
                                td satoshi
                                td 1⁄100000000
                section.article__panel
                    section.article__tags.btns-spacer
                        a.btn.btn--hash-tag(href='#!') #MaltaBlockchainSummit
                        a.btn.btn--hash-tag(href='#!') #Bitcoin
                        a.btn.btn--hash-tag(href='#!') #Processor
                    .article__panel-row
                        .article__panel-col
                            .left
                                .humble.humble--views 123.5k
                                .humble.humble--like 31
                                .humble.humble--favorites 17
                section.about-author
                    .about-author_row
                        a.about-author_avatar(href="#!author")
                            amp-img(src="https://dummyimage.com/64x64/d8dbde/aaabad" layout='responsive', width='40', height='40')
                        .about-author_info
                            h4.about-author_title About the author
                            .about-author_data
                                a.about-author_name(href="#!author") Konstantin Konstantinopolsky
                                .social
                                    a.social__link.social__link--tg(href="#!tg")
                                    a.social__link.social__link--tw(href="#!tw")
                                    a.social__link.social__link--fb(href="#!fb")
                            p As one would expect under such circumstances, the audience for the track was a fraction of that which was expected to attend the summit proper.
                a.mega-history(href="#!" style="background-image: url(img/content/mega-history/item_1.png);")
                    .history_tag ⛏ Editor’s pick
                    .bottom_descr Tron’s Justin Sun Calls Binance Coin the New Bitcoin — Is Now the Time to Invest?
            .fix-block
                .row
                    .amp_descr-continue
                        a.btn(href="#!") <span class="icon">👉</span>Continue reading
            footer.footer
                .footer__container
                    .footer__row
                        .footer__follow-us
                            .footer__title Follow us and get all crypto news 24/7

                            .social.social--border.social--wide
                                a.social__link.social__link--fb(href="#!")
                                a.social__link.social__link--tg(href="#!")
                                a.social__link.social__link--tw(href="#!")
                                a.social__link.social__link--yt(href="#!")
                                a.social__link.social__link--rd(href="#!")
                                a.social__link.social__link--rs(href="#!")

                        .footer__subscribe
                            .footer__title ✉ Subscribe to daily newsletter

                            form.form--row.footer__subscribe-form(target="_top" action-xhr="https://example.com/subscribe" method="post")
                                .input
                                    input.footer__subscribe-input.input__elem(type="text" name="email" placeholder="Email" required)

                                .input
                                    button.btn.btn--wide.btn--input(type="submit") Subscribe

                                .footer__subscribe-agree By pressing the “Subscribe button” you agree with our
                                    a(href="#!") Privacy Policy

                    nav.footer__nav
                        ul.footer__nav-list
                            each category in navFooter
                                li.footer__nav-item
                                    a.footer__nav-link(href="#!")= category.name

                                    if category.childs
                                        ul.footer__nav-child-list
                                            each child in category.childs
                                                li.footer__nav-child-item
                                                    a.footer__nav-child-link(href="#!")= child.name
                    .footer__disclaimer
                        p.footer__disclaimer-text Disclaimer: Any financial advice given on U.TODAY is written for informational purpose only. Conduct your own research by contacting financial experts before making any investment decisions.
                    .footer__copy
                        .footer__copy-text © 2018 U.Today. All rights reserved
                        a.footer__copy-link(href="#!") Terms and conditions
                    .amp-subscribe.amp-subscribe_no-fix.non_amp_version
                        .subscribe__content.container
                            .subscribe_btn__block
                                a.subscribe_btn(href="#!") 👀 View non-AMP version