include inc/var.pug
doctype html
html(lang="en" dir="ltr" ⚡)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name='amp-script-src', content='sha384-X8xW7VFd-a-kgeKjsR4wgFSUlffP7x8zpVmqC6lm2DPadWUnwfdCBJ2KbwQn6ADE sha384-nNFaDRiLzgQEgiC5kP28pgiJVfNLVuw-nP3VBV-e2s3fOh0grENnhllLfygAuU_M sha384-u7NPnrcs7p4vsbGLhlYHsId_iDJbcOWxmBd9bhVuPoA_gM_he4vyK6GsuvFvr2ym')

        link(rel='canonical', href='https://u.today/keybase-starts-supporting-stellar-wallets')

        script(async="" src="https://cdn.ampproject.org/v0.js")

        style(amp-boilerplate='').
            body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}

        noscript
            style(amp-boilerplate='').
                body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

        script(async='', custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js')
        script(async='', custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')
        script(async='', custom-template="amp-mustache", src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" )
        script(async='', custom-element='amp-social-share', src='https://cdn.ampproject.org/v0/amp-social-share-0.1.js')
        script(async='', custom-element="amp-lightbox", src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js")
        script(async='', custom-element="amp-twitter", src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js")
        script(async='', custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js")
        script(async='', custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js")
        script(async='', custom-element='amp-bind', src='https://cdn.ampproject.org/v0/amp-bind-0.1.js')
        script(async='', custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js")

        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")

        style(amp-custom="")
            include ../../../dest/styles/amp.css

        script(type='application/ld+json').
            {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
            },
            "headline": "Article headline",
            "image": {
            "@type": "ImageObject",
            "url": "https://google.com/thumbnail1.jpg",
            "height": 800,
            "width": 800
            },
            "datePublished": "2015-02-05T08:00:00+08:00",
            "dateModified": "2015-02-05T09:20:00+08:00",
            "author": {
            "@type": "Person",
            "name": "John Doe"
            },
            "publisher": {
            "@type": "Organization",
            "name": "Google",
            "logo": {
            "@type": "ImageObject",
            "url": "https://google.com/logo.jpg",
            "width": 600,
            "height": 60
            }
            },
            "description": "A most wonderful article"
            }


    body
        amp-story(standalone title="Tron (TRX) Goes Live on McAfeeDEX after Week’s Delay" publisher="U.TODAY" publisher-logo-src="https://u.today/themes/contrib/amptheme/uamp/img/icons/logo.svg" poster-portrait-src="https://u.today/sites/default/files/styles/736x/public/2020-04/2965_0.jpg.webp")
            amp-story-page#slide_1
                amp-story-grid-layer(template="fill")
                    amp-img.amp-story__img(src="img/content/amp-stories/bg_item_1.png" layout="responsive" width="360" height="640")

                amp-story-grid-layer.amp-story__wrapper.amp-story__wrapper-bg(template="vertical")
                    .amp-story__header
                        a.humble.humble--author(href="#!")
                            amp-img.humble__img(src="https://u.today/sites/default/files/2019-11/vera-ava.jpg" layout="fixed" width="24" height="24")
                            | Vera Yurina

                        h2 Lorem ipsum dolor sit amet sed do eiusmod
                        p.amp-story__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita

                        .humble__row
                            a.humble(href="#!") Interviews
                            .humble Jul 22, 2020

            amp-story-page#slide_2
                amp-story-grid-layer(template="fill")
                    amp-img.amp-story__img(src="img/content/amp-stories/bg_item_2.png" layout="responsive" width="360" height="640")

                amp-story-grid-layer.amp-story__wrapper.amp-story__wrapper-bg.bottom(template="vertical")
                    .amp-story__header
                        a.humble.humble--author(href="#!")
                            amp-img.humble__img(src="https://u.today/sites/default/files/2019-11/vera-ava.jpg" layout="fixed" width="24" height="24")
                            | Vera Yurina

                        h3 Lorem ipsum dolor sit amet sed do eiusmod
                        p.amp-story__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita


            amp-story-bookend(src="stories-related.json" layout="nodisplay")