doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=5")
        block Bitcoin Is Going to Hit $100,000 and Will Destroy Anyone Who Gets in Its Way: Max Keiser | u.today

        block head
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap")
            link(rel="stylesheet" href="styles/article-iframe.css")

    body
        .article
            span.article__label.article__label--tweet Tweet-based article
                include ../img/icons/social/twitter.svg

            h1.article__title Bitcoin Is Going to Hit $100,000 and Will Destroy Anyone Who Gets in Its Way: Max Keiser

            .share.share--row
                a.social__link.social__link-fb(href="#!")
                    include ../img/icons/social/facebook-white.svg
                a.social__link.social__link-tw(href="#!")
                    include ../img/icons/social/twitter-white.svg
                a.social__link.social__link-rd(href="#!")
                    include ../img/icons/social/reddit-white.svg

            .article_main-info
                .article_main-info__humble
                    .humble News
                    .humble Thu, 07/09/2020 - 13:12

            .article__lead
                a.article__lead-img--wrapper(href="https://u.today/yuri-molchan" target="_blank")
                    img.article__lead-img(src='https://u.today/sites/default/files/2019-11/40x40xyuri-ava.jpg.pagespeed.ic.vuyCJcp-O6.webp' alt="Yuri Molchan")

                .article__lead-info
                    a.article__lead-name(href="https://u.today/yuri-molchan" target="_blank") Yuri Molchan
                    .article__lead-desc Max Keiser explained why Bitcoin is finally going to break $100,000 and what the PPP bailouts have to do with it. He also slammed XRP, Cardano and ShapeShift

            .article__main-img-wrapper
                img.article__main-img(src="https://u.today/sites/default/files/styles/736x/public/2020-07/xKesier,P20cover.jpg,qitok=VjO5_Cei.pagespeed.ic.dGeW9-Z3Vd.webp" alt="Bitcoin Is Going to Hit $100,000 and Will Destroy Anyone Who Gets in Its Way: Max Keiser")

            figcaption(title="https://www.youtube.com/watch?v=K_LMOP79rho&t=246s") Cover image via <a href="#!">www.youtube.com</a>

            .article__content
                .article__contents
                    .article__contents-title Contents

                    ul.article__contents-list
                        li.article__contents-item
                            a.article__contents-link.link-pseudo(href="#h20") Cardano, ConsenSys, Shapeshift taking the PPP money

                        li.article__contents-item
                            a.article__contents-link.link-pseudo(href="#h31") Max Keiser slams the PPP-receivers

                        li.article__contents-item
                            a.article__contents-link.link-pseudo(href="#h42") Comparing crypto companies in 2020 to banks in 2009

                        li.article__contents-item
                            a.article__contents-link.link-pseudo(href="#h53") Bitcoin to reach $100,000, ‘XRP is total garbage’

                p In his recent show on ‘Russia Today’, the prominent Bitcoin supporter and TV host, Max Keiser, talked Bitcoin and <a rel="nofollow target="_blank" href="https://twitter.com/maxkeiser/status/1281185846843015168">discussed the recent PPP bailouts</a> for businesses, saying that Bitcoin will now rise to $100,000 per coin and destroy anyone who gets in its way.

                h2#h20 Cardano, ConsenSys, Shapeshift taking the PPP money

                p Max Keiser reminded the audience of the recent PPP bailouts for US-based businesses, among which were <a rel="nofollow target="_blank" href="https://www.coindesk.com/consensys-polychain-tron-ciphertrace-blockchain-startups-got-18m-in-us-ppp-bailout-loans">75 blockchain companies</a>, including such giants as ShapeShift, IOHK USA LLC (the company behind Cardano), ConsenSys and Tron.

                p
                    iframe(width="100%" height="456" src="https://www.youtube.com/embed/-mgTx9HWTMQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                h2#h31 Max Keiser slams the PPP-receivers

                p Max Keiser has slammed these company heads, Joe Lubin and Erik Voorhees in particular, claiming that they are of weak character and mentioning that he also gave a seed investment to ShapeShift.

                p He rebuked the entrepreneurs for taking these loans from the Fed because when the bailouts had just started, Crypto Twitter was claiming that the printed cash was worthless.

                p As reported by U.Today, Max Keiser praised the principles and integrity of his ‘enemy’ on the Bitcoin field – Peter Schiff, who also bashed the PPP loans.

                .article__related
                    a.article__related-img--wrapper(rel="nofollow" target="_blank" href="https://u.today/max-keiser-sides-with-peter-schiff-while-bashing-cardanos-charles-hoskinson")
                        img(src="https://u.today/sites/default/files/styles/736x/public/2020-03/2323.jpg?itok=Fy7hW4Al" alt="Related")
                        span Tron CEO Justin Sun Gets His Account Closed by Bank of America after PayPal’s Roelof Botha

                    a.article__related-desc(rel="nofollow" target="_blank" href="https://u.today/max-keiser-sides-with-peter-schiff-while-bashing-cardanos-charles-hoskinson")
                        .article__related-flame Related
                        .article__related-blockquote Tron CEO Justin Sun Gets His Account Closed by Bank of America after PayPal’s Roelof Botha

                h2#h42 Comparing crypto companies in 2020 to banks in 2009

                p The reason Charles Hoskinson gave to Keiser when justifying IOHK taking the money was the fact that his rivals would get it anyway and he would have to take the PPP cash so as not to give them any chance at surpassing IOHK.

                p Max Keiser reminded the audience of the bailouts banks received back in the 2008-2009 crisis when the head of JP Morgan Jamie Dimon said that the Fed basically forced the bank to take the bailouts despite the bank not necessarily needing it.

                p The situation is repeating itself now, said Keiser, as renowned crypto companies are taking money from an organization they have basically been struggling against – the Fed and the US government – while they most likely do not need the money to support their payrolls.

                h2#h53 Bitcoin to reach $100,000, ‘XRP is total garbage’

                p Bitcoin is going to rise to $100,000 and destroy altcoin projects in 2020-2021, Keiser stated.

                blockquote
                    p “It’s going to go up to $100,000 per coin but it’s going to destroy everyone who gets in its way. So, all these altcoin posers and government subsidy-welfare bums will be eviscerated by the one true bitcoin. It’s about time…”

                blockquote
                    p “ShapeShift people, shame on you!”

                p Keiser stated that many of these altcoin companies are going to get their lunches eaten by Bitcoin – on this list Keiser also mentioned Ripple’s XRP (calling it total garbage) and EOS.

            .article__panel
                .article__tags.btns-spacer
                    a.btn.btn--hash-tag(rel="nofollow" target="_blank" href="https://u.today/latest-bitcoin-btc-news") #Bitcoin News
                    a.btn.btn--hash-tag(rel="nofollow" target="_blank" href="https://u.today/bitcoin-price-predictions-and-btc-forecasts") #Bitcoin Price Prediction
                    a.btn.btn--hash-tag(rel="nofollow" target="_blank" href="https://u.today/max-keiser") #Max Keiser
                    a.btn.btn--hash-tag(rel="nofollow" target="_blank" href="https://u.today/peter-schiff") #Peter Schiff
                    a.btn.btn--hash-tag(rel="nofollow" target="_blank" href="https://u.today/cardano-ada-coin-news") #Cardano News

            .about-author
                .about-author_row
                    a.about-author_avatar(rel="nofollow" target="_blank" href="https://u.today/yuri-molchan")
                        img(src="https://u.today/sites/default/files/2019-11/40x40xyuri-ava.jpg.pagespeed.ic.vuyCJcp-O6.webp" alt="Yuri Molchan")

                    .about-author_info
                        .about-author_title About the author

                        .about-author_data
                            a.about-author_name(rel="nofollow" target="_blank" href="https://u.today/yuri-molchan") Yuri Molchan

                            .social
                                a.social__link.social__link--tw(rel="nofollow" target="_blank" href="https://twitter.com/YuriM19516719")
                                    include ../img/icons/social/twitter-white.svg
                                a.social__link.social__link--em(rel="nofollow" target="_blank" href="mailto:yuri.molchan@u.today")
                                    include ../img/icons/social/email-white.svg

                        p Yuri is a journalist interested in technology and technical innovations. He has been in crypto since 2017. Believes that blockchain and cryptocurrencies have a potential to transform the world in the future. ‘Hodls’ cryptocurrencies. Has written for several crypto media. Currently is a news writer at U.Today, can be contacted at yuri.molchan@u.today.