extends layouts/layout.pug

block title
    title Article | u.today

block head
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="styles/defaults.css")
    link(rel="stylesheet" href="styles/article.css")

block content
    .something.something--content
        .something__content-long(style="background-color: #032e61")
            img(src="img/something/long.png" alt="something-wide")

        .something__content-square(style="background-color: #032e61")
            img(src="img/something/square.png" alt="something-square")
    .main-aside-container
        main.main-news-block
            include blocks/article.pug

        aside.aside-menu-block
            include blocks/aside-menu-block.pug

