extends layouts/layout.pug

block title
  title Article | u.today

block content
  a.header_article(href="#!")
    .header_article__row
      .header_article__descr
        .title-mark 🔥 TOP STORY
        .header_article__title
          | Ethereum Price Analysis from Twitter: From $145 to $200 and Higher? What’s the Chance of Ethereum Breaking Out?
      .header_article__image
        .image
          img(src='img/content/article_header/item_1.png', alt='')
  .content-container
    main.main-block
      include blocks/article.pug

    aside.aside-block
      include blocks/aside.pug

