extends layouts/layout.pug

block title
    title Author | u.today

block head
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet")
    link(href="styles/defaults.css" rel="stylesheet")
    link(href="styles/article.css" rel="stylesheet")

block content
    .main-aside-container
        main.main-news-block
            .article
                .article__main
                    h1.article__title Konstantin Konstantinopolsky
                    .article__main-img-wrapper
                        img(class="article__main-img" src="https://u.today/sites/default/files/styles/1200x/public/2019-03/den-sergeychuk.jpg?itok=DtWJkKoA")
                        figcaption Cover image via <a href="/">news.u.today</a>
                    .article__content
                        p Alex covers all things crypto — from major projects, which are fighting tooth and nail to gain the upper hand in the burgeoning industry, to the latest regulatory trends around the world.
                        p He’s a firm believer that Blockchain has the potential to reshape pretty much every business out there, and cryptocurrencies are only a stepping stone to the upcoming decentralized revolution.
                    .social
                        a.social__link.social__link--tg(href="#!tg")
                        a.social__link.social__link--insta(href="#!insta")
                        a.social__link.social__link--em(href="#!email")


    section.author-article
        include blocks/news-featured
