extends layouts/layout.pug

block title
  title Category subcategories | u.today

block content
  .main-aside-container
    aside.aside-menu-block
      .accordion.accordion--open
        .accordion__title(@click="accordionOpen") Subcategories
        .accordion__body
          ul.tabs.tabs--vertical
            each item, i in nav[0].childs
              li.tabs__item(class=[ i === 1 ? 'tabs__item--active' : '' ])
                a.tabs__btn.btn.btn--pseudo(href="#!")= item.name

                if i === 1
                  ul.tabs__sub.tabs__sub--dots
                    each itemChild, i in nav[1].childs
                      li.tabs__sub-item
                        a.tabs__btn.btn.btn--pseudo.link-plain(href="#!")= itemChild.name

    .main-category-block
      include blocks/category-info.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug

      a.btn.btn--block.btn--large(href="#!") Show more