extends layouts/layout.pug

block title
  title Category subcategories | u.today

block content
  .something.something--content
    .something__content-long(style="background-color: #032e61")
      img(src="img/something/long.png" alt="something-wide")

    .something__content-square(style="background-color: #032e61")
      img(src="img/something/square.png" alt="something-square")

  .main-aside-container.main-aside-container--vertical

    aside.aside-menu-block

      .accordion.accordion--horizontal
        .accordion__body
          ul.tabs.tabs--horizontal
            each item, i in nav[0].childs
              li.tabs__item(class=[i === 1 ? 'tabs__item--active' : ''])
                a.tabs__btn.btn.btn--pseudo(href="#!")= item.name

      <!— the start of content category —>
      .main-category-block
        include blocks/category-info.pug
        include blocks/category-item.pug
        include blocks/category-item.pug
        include blocks/category-item.pug
        include blocks/category-item.pug
      <!— the end of content category —>
