extends layouts/layout.pug

block title
    title Category | U

block content
    .main-aside-container
        .main-block
            .category
                include blocks/category-info.pug

                include blocks/categories.pug

                include blocks/pagination.pug

        include blocks/aside.pug