extends layouts/layout.pug

block title
  title Category subcategories | u.today

block content
  section.asset.asset-wide.bg-dark-1
    a.asset_link(target='_blank', href='https://www.cryptodailytrading.com/')
      img(src='https://u.today/img/datalight.jpg', alt='cryptodailytrading.com')
  .main-aside-container

    include blocks/aside-menu-block.pug

    <!— the start of content category —>
    .main-category-block
      include blocks/category-info.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
    <!— the end of content category —>

      a.btn.btn--block.btn--large(href="#!") Show more