extends layouts/layout.pug

block title
  title Category subcategories | u.today

block content
  .main-aside-container

    include blocks/aside-menu-block.pug


    <!— the start of content category —>
    .main-category-block
      include blocks/category-info.pug
      include blocks/category-item-list.pug
      include blocks/category-item-list.pug
      include blocks/category-item-list.pug
      include blocks/category-item-list.pug

      a.btn.btn--block.btn--large(href="#!") Show more
    <!— the end of content category —>

