extends layouts/layout.pug

block title
  title Category subcategories | u.today

block head
  link(href="styles/main.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'")

block content
  .something.something--content
    .something__content-long(style="background-color: #032e61")
      img(src="img/something/long.png" alt="something-wide")

    .something__content-square(style="background-color: #032e61")
      img(src="img/something/square.png" alt="something-square")

  .main-aside-container

    <!— the start of content category —>
    main.main-block
      include blocks/category-info.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
    <!— the end of content category —>

    aside.aside-menu-block
      include blocks/aside-menu-block.pug
