extends layouts/layout.pug

block title
  title Category simple | u.today

block content
  .main-aside-container
    <!— the start of content category —>
    .main-category-block
      include blocks/category-info.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug

      include blocks/category-item-simple.pug
      include blocks/category-item-simple.pug
      include blocks/category-item-simple.pug
      include blocks/category-item-simple.pug

      a.btn.btn--block.btn--large(href="#!") Show more

    <!— the end of content category —>

    <!— the start of sidebar —>
    aside.aside-category-block
      include blocks/aside.pug
    <!— the end of sidebar —>