extends layouts/layout.pug

block title
    title Consent settings | U

block content
    .main-aside-container
        .main-news-block
            .infoblock
                .infoblock__item
                    h1 Consent Settings

                    p Welcome to the consent settings center on U.Today.
                    p We use consent management provider solutions (CMPs) so that you can decide who you will allow to set third party advertising and affiliate link cookies on your browser or device.
                    p We explain what these are in section 10 of our privacy notice and cookie policy.
                    p To manage your consent preferences make choices on all CMPs listed below:

                .infoblock__item
                    h2 U.Today

                    p Quantcast Choice: <a href="https://u.today/?gdprconsent">EU Users</a> and <a href="https://u.today/?ccpa">California Users</a>
                    p <a href="https://u.today/?amp=1">AMP</a> (EU Users)

                    p <a href="mailto:consent@u.today">Forget me</a> – send request to erase your data

                .infoblock__item
                    h2 Further Guidance

                    p Browsers and devices usually have tools that allow control of most cookies through browser settings. To find out more about cookies and to see what cookies have been set go to: visit <a href="https://www.aboutcookies.org/">www.aboutcookies.org</a> or <a href="https://www.allaboutcookies.org/">www.allaboutcookies.org.</a>

                    p You can find out how to manage cookies on popular browsers by going to:

                    ul
                        li
                            a(href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en0") Google Chrome
                        li
                            a(href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy") Microsoft Edge
                        li
                            a(href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences") Mozilla Firefox
                        li
                            a(href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies") Microsoft Internet Explorer
                        li
                            a(href="https://www.opera.com/help/tutorials/security/privacy/") Opera
                        li
                            a(href="https://support.apple.com/kb/ph21411?locale=en_US") Apple Safari

                    p For other browsers, visit the browser developer's website.

                .infoblock__item
                    h2 Cookies

                    h3 What is a cookie?

                    p Cookies are small text files that are stored on your computer or mobile device.  They are widely used in order to make websites work, or work in a better, more efficient way.  They can do this because websites can read and write these files, enabling them to recognise you and remember important information that will make your use of a website more convenient (for example by remembering preference settings).

                    h3 What are “first party” cookies?

                    p We collect data from users of our websites and apps by placing a small piece of code known as a “first-party cookie” on your device when you access the website or app. First-party cookies collect data only for BuzzFeed; if an advertiser or other company wants to access this data, they must go to BuzzFeed and get permission. You can also delete them at any time via your browser settings (usually under “clearing cached cookies” or a similar setting). We do not use cookies that cannot be deleted via browser settings.

                    h3 What cookies do we use?

                    p Below we list the different types of cookies that may be used on the Site. Note that to the extent information collected through cookies constitutes personal information, the provisions in the Privacy Policy <a href="http://u.today/privacy-policy">http://u.today/privacy-policy</a> apply and complement this Cookie Policy.

                    h3 Essential Cookies.

                    p Essential cookies are necessary for the Site to work and enable you to move around it and to use its services and features.  Without these absolutely necessary cookies, the Site will not perform as smoothly for you as we would like it to and we may not be able to provide the Site or certain services or features you request.

                    h3 Preference Cookies.

                    p Preference cookies collect information about your choices and preferences, and allow us to remember language or other local settings and customise the Site accordingly.

                    h3 Social Plug-in Tracking Cookies.

                    p Such cookies are used to track members [and non-members] of social media networks for market research analytics, and product development.

                    h3 Analytics Cookies.

                    p Analytics cookies collect information about your use of the Site, and enable us to improve the way it works.  For example, analytics cookies show us which are the most frequently visited pages on the Site, help us record any difficulties you have with the Site, and show us whether our advertising is effective or not.  This allows us to see the overall patterns of usage on the Site, rather than the usage of a single person.

                    h3 Marketing Cookies.

                    p Advertising Cookies are used for marketing purposes.

                    h3 How do I manage cookies?

                    p In addition to the options provided above, you may refuse, accept or remove cookies from the Site at any time by activating or accessing the setting on your browser.  Information about the procedure to follow in order to enable, disable or remove cookies can be found on your Internet browser provider’s website via your help screen. You may wish to refer to <a href="http://www.allaboutcookies.org/manage-cookies/index.html">http://www.allaboutcookies.org/manage-cookies/index.html</a> for information on commonly used browsers. Please be aware that if cookies are disabled or removed, not all features of the Site may operate as intended.

                    h3 Do you collect sensitive personal data?

                    p U.Today does not collect and use information about people’s personal characteristics such as race/ethnicity, gender, age, or sexual orientation in order to target ads. Ad-targeting is based on a user’s interests in specific content, as guessed from their interaction history.

        include blocks/aside.pug
