extends layouts/layout_new.pug

block title
    title About Us New | u.today

block content
    .main-container
        .content-container
            .main-block_center
                main.main-block
                    section.content-block
                        .content-block__title Contact the core team
                        .content-block__descr
                            p If you would like to give us some editorial feedback, have a partnership idea or would like to request permission for reprints, please use the contacts here.
                            p Want to know more about us? Visit our about us page here.
                            .card__list
                                .card__list-item
                                    .card__list-title &#x270D; Editorial
                                    a.card__list-link(href='mailto:editorial@u.today') editorial@u.today
                                |
                                .card__list-item
                                    .card__list-title &#x1F4BC; Partnerships
                                    a.card__list-link(href='mailto:partners@u.today') partners@u.today
                                |
                                .card__list-item
                                    .card__list-title &#x1F4B5; Advertising
                                    a.card__list-link(href='mailto:sales@u.today') sales@u.today
                                |
                                .card__list-item
                                    .card__list-title &#x1F5D3; Events
                                    a.card__list-link(href='mailto:events@u.today') events@u.today
                                |
                                .card__list-item
                                    .card__list-title &#x2709; Other
                                    a.card__list-link(href='mailto:hello@u.today') hello@u.today
                    section.content-block
                        .content-block__title Business Information
                        .content-block__descr
                            p © 2019 U.Today. All rights reserved.

                            p https://u.today website is operated by AKSELERATOR, LLC, address: 111395, Moscow, Moldagulova Street, Building 10, Building 2

                            p Official U.Today BTC wallet: 1EXCmnrTvohJwzymCufkLqw6zVrNvhApQN