extends layouts/layout.pug

block title
    title Editorial policy | U

block content
    .main-aside-container
        .main-news-block
            .infoblock
                .infoblock__item
                    h1 Editorial policy

                    p U.Today strives to provide its readers with breaking news, analysis, exclusive interviews, and op-ed articles. Our goal is to become the go-to media outlet of crypto.

                .infoblock__item
                    h2 Our mission

                    p While there is a lot of FUD in the crypto space, we always get to the core of the problem to inform and educate our constantly growing user’s army. At the same time, our readers realize that we are not the first and last word in crypto. It's up to them to decide. Our job is fair and accurate reporting that this industry desperately needs. Every day we work with passion and soul, honestly review the market situation, and find out some new things together with our audience.

                .infoblock__item
                    h2 Copyright & attribution

                    p U.Today adheres to the highest journalist standards. All our content goes through a rigorous plagiarism check before publishing. If we a story that has been already covered by other outlets, we always refer to the original source that broke the news. We mainly rely on authoritative news agencies, such as CNBC and Bloomberg.

                .infoblock__item
                    h2 Fair reporting

                    p We are not going to cut people slack. You may occasionally spot controversial articles on U.Today, but we believe that it’s our obligation to shed light on projects or events. We are always ready to hear the other side of the story and act accordingly.

                .infoblock__item
                    h2 No fake news

                    p To make sure that every article and news is devoid of any biased opinions or false information. Our editorial team meticulously performs fact-checking. If we happen to make a mistake, we will always acknowledge it.

                .infoblock__item
                    h2 We cannot be bought

                    p Nobody controls our voice. U.Today always acts in the best interests of its users. We do not accept payments from other organizations for promoting their projects. Any op-ed article reflects the opinion of its author.

        include blocks/aside.pug
