extends layouts/layout.pug

block title
  title Events | u.today

block head
  link(href="styles/main.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'")

block content
  .main-aside-container
    include blocks/events.pug

    aside.aside-menu-block
      include blocks/aside.pug

