extends layouts/layout-franchise.pug

block title
    title Our Franchise | U

block content
    .landing
        .landing__section.landing__section-background
            .container
                h1.landing__title Создайте успешный криптобизнес с франшизой U.Today за 6 месяцев
                .landing__mark Откройте одно из самых быстрорастущих криптовалютных СМИ в вашем регионе

                .btn--block
                    a.btn.btn--accent-2.btn--large(href="#!") Стать франчайзи

        .landing__section
            .container
                h2.landing__subtitle Преимущества покупки франшизы

                .landing__benefits
                    ul.landing__benefits-list

                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-1.svg")
                            p.landing__benefits-name Бренд с хорошими показателями узнаваемости и авторитетностью домена в поиске Google
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-2.svg")
                            p.landing__benefits-name Оформление продукта под ключ
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-3.svg")
                            p.landing__benefits-name Настройка сайта со всеми его разделами и подразделами
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-4.svg")
                            p.landing__benefits-name Помощь в продвижении через наши социальные сети
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-5.svg")
                            p.landing__benefits-name Обучение ваших сотрудников и предоставление редакторского и других руководств
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-6.svg")
                            p.landing__benefits-name Помощь в продвижении через основной домен

        .landing__section
            .container.border-top
                h2.landing__subtitle Про U.Today
                h3.text-grey Мы - одно из самых быстро растущих медиа о криптовалюте

                p.landing__descr Проект основан в 2017 году. Наш бренд широко известен в мире криптовалюты - наши статьи цитируют такие люди, как Джон Макафи, Джастин Сан, Макс Кейзер, Чангпенг Чжао, Питер Брандт и многие другие.

        .landing__section.landing__section-background.landing__section-big
            .container
                .landing__statistics
                    ul.landing__statistics-list
                        li.landing__statistics-item
                            .landing__statistics-caption Уникальных пользователей в день
                            .landing__statistics-value 21 000 +
                        li.landing__statistics-item
                            .landing__statistics-caption Просмотров страниц в месяц
                            .landing__statistics-value 1  102 000
                        li.landing__statistics-item
                            .landing__statistics-caption Прирост аудитории в прошлом месяце
                            .landing__statistics-value + 19 % *

                span.landing__caption *По данным Similarweb: <a class="text-link" target="_blank" href="http://similarweb.com/website/u.today">similarweb.com/website/u.today</a>

        .landing__section
            .container
                p.landing__descr.landing-center-container Среди наших партнеров более 30 агрегаторов, включая TradingView, news.co.uk, Coinstats, coin360, CryptoPainc.

                .landing__partners
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-1.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-2.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-3.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-4.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-5.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-6.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-7.png")

        .landing__section
            .container.border-top
                h2.landing__subtitle Наши требования к франчайзи
                .landing__request
                    ul.landing__request-list

                        li.landing__request-item Своевременный перевод большей части контента из основных разделов
                        li.landing__request-item Создание уникального контента, связанного с финтех- и криптосферой, в вашей стране
                        li.landing__request-item Соблюдение редакционной политики и политики бренда
                        li.landing__request-item Продвижение проекта на местном рынке, в том числе в социальных сетях

        .landing__section.landing__section-background.landing__section-large
            .container.landing__section-background--map
                h2.landing__subtitle Предпочтительные регионы для сотрудничества

                .landing__location.landing-center-container
                    ul.landing__location-list
                        li.landing__location-item Франция
                        li.landing__location-item Италия
                        li.landing__location-item Испания
                        li.landing__location-item Южная Корея
                        li.landing__location-item Индонезия
                        li.landing__location-item Япония
                        li.landing__location-item Латинская Америка
                        li.landing__location-item Китай
                        li.landing__location-item Индия
                        li.landing__location-item Малайзия
                        li.landing__location-item Вьетнам
                        li.landing__location-item Германия

        .landing__section
            .container
                h2.landing__subtitle Контакты

                p.landing__descr Заполните форму ниже и наш специалист свяжется с вами в ближайшее время

                .btn--block
                    a.btn.btn--accent-2.btn--large(href="#!") Заполнить форму