extends layouts/layout.pug

block title
    title Jobs | U

block content
    .main-aside-container
        .main-news-block
            .infoblock
                .infoblock__item
                    h1 U.Today Jobs

                    p We truly do hope you're enjoying U.Today and we want to hear from you! Here you may find our current vacancies.

                    h3 Sales manager

                    p This brave person is hunting for a potential customers who willing to publish their articles on our website.

                    h3 Local representative

                    p Want to be an official U.Today representative in your region? Welcome to our U.Today family!

                    h3 Contributor

                    p This hero is writing articles about everything that is related to cryptoworld and blockchain.

                    p To contact us, please drop a line by sending an email to <a href="mailto:hello@u.today">hello@u.today</a>. If you didn’t find your vacancy here, do not hesitate to send us a letter with your CV.

        include blocks/aside.pug
