extends layouts/layout-landing.pug

block title
    title Landing | u.today

block content
    .landing
        section.landing__section.landing__section-background
            .container
                h1.landing__title Build Successful Crypto Business With U.Today Franchise in 6 Months
                .landing__mark Open one of the most rapidly growing crypto media in your region

                .btn--block
                    a.btn.btn--accent-2.btn--large(href="#!") Become a Franchise

        section.landing__section
            .container
                h2.landing__subtitle What you will get if become a Franchise Owner

                .landing__benefits
                    ul.landing__benefits-list

                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-1.svg")
                            p.landing__benefits-name A brand with good visibility indicators and domain authority in Google Search
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-2.svg")
                            p.landing__benefits-name We provide you with <br> a turn-key product
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-3.svg")
                            p.landing__benefits-name We configure the website, <br> all sections and sub-sections
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-4.svg")
                            p.landing__benefits-name We help you with promotion using <br> our Social Media
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-5.svg")
                            p.landing__benefits-name We train your staff and provide you with <br> editorial and other guides
                        li.landing__benefits-item
                            .landing__benefits-img--wrapper
                                img.landing__benefits-img(src="./img/content/landing/landing__benefits-6.svg")
                            p.landing__benefits-name We help you with promotion using <br> the main domain

        section.landing__section
            .container.border-top
                h2.landing__subtitle About U.today
                h3.text-grey We are one of the most rapidly growing crypto media

                p.landing__descr The project was founded in 2017, wide-known brand, such people as John McAfee, Justin Sun, Max Keiser, Changpeng Zhao, Peter Brandt, etc., know our source and share our articles

        section.landing__section.landing__section-background.landing__section-big
            .container
                .landing__statistics
                    ul.landing__statistics-list
                        li.landing__statistics-item
                            .landing__statistics-caption Unique users per day
                            .landing__statistics-value 25 000 +
                        li.landing__statistics-item
                            .landing__statistics-caption Monthly pageviews over
                            .landing__statistics-value 2 350 000
                        li.landing__statistics-item
                            .landing__statistics-caption Last month’s growth was
                            .landing__statistics-value + 100 % *

                span.landing__caption.text-grey *According to Similarweb: <a class="text-link" target="_blank" href="http://similarweb.com/website/u.today"> similarweb.com/website/u.today </a>

        section.landing__section
            .container
                p.landing__descr.landing-center-container More than 30 aggregators including TradingView, news.co.uk, Coinstats, coin360, CryptoPainc are among our partners

                .landing__partners
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-1.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-2.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-3.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-4.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-5.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-6.png")
                    .landing__partners-img--wrapper
                        img(src="./img/content/landing/landing__item-7.png")

        section.landing__section
            .container.border-top
                h2.landing__subtitle Our Requirements for a Franchisee
                .landing__request
                    ul.landing__request-list

                        li.landing__request-item Translate most of the content from the main sections timely
                        li.landing__request-item Create unique FinTech- and Crypto- related content in your country
                        li.landing__request-item Follow the Editorial Guides and Brand Policies
                        li.landing__request-item Promote the project on the local market, including Social Media

        section.landing__section.landing__section-background.landing__section-large
            .container.landing__section-background--map
                h2.landing__subtitle Preffered Regions

                .landing__location.landing-center-container
                    ul.landing__location-list
                        li.landing__location-item Indonesia
                        li.landing__location-item Indonesia
                        li.landing__location-item Indonesia
                        li.landing__location-item Japan
                        li.landing__location-item Japan
                        li.landing__location-item Japan
                        li.landing__location-item China
                        li.landing__location-item China
                        li.landing__location-item China
                        li.landing__location-item South Korea
                        li.landing__location-item South Korea
                        li.landing__location-item South Korea

        section.landing__section
            .container
                h2.landing__subtitle Contact Us

                p.landing__descr Still thinking ? Just ask all your questions our manager Rimma!

                .btn--block
                    a.btn.btn--accent-2.btn--large(href="#!") Contact Us