extends layouts/layout_new.pug

block title
    title Main New | u.today

block content
    .main-container
        section.asset.asset-wide.bg-dark-1(style="background-color: #192047;")
            a.asset_link(target='_blank', href='https://www.cryptodailytrading.com/')
                img(src='https://u.today/img/iqmblue.gif', alt='cryptodailytrading.com')
        .big_categories-story
            .big_categories-story_list
                .big_categories-story_item
                    .big_categories-story_item-header
                        .big_categories-story_mark 📰 Press releases
                        .news__item-time-wrapper
                            time.news__item-time.humble Aug 29
                        a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                        a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                    a.big_categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                        .sponsored__mark Sponsored
                    .big_categories-story_item-footer
                        a.big_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                        .mobile_humble.big_categories-story_item-header
                            .big_categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                .big_categories-story_item
                    .big_categories-story_item-header
                        .big_categories-story_mark 🎤 Interviews
                        .news__item-time-wrapper
                            time.news__item-time.humble Aug 29
                        a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                        a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                    a.big_categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                    .big_categories-story_item-footer
                        a.big_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
                        .mobile_humble.big_categories-story_item-header
                            .big_categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                .big_categories-story_item
                    .big_categories-story_item-header
                        .big_categories-story_mark 📊 Infographics
                        .news__item-time-wrapper
                            time.news__item-time.humble Jul 1
                        a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                        a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                    a.big_categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                    .big_categories-story_item-footer
                        a.big_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
                        .mobile_humble.big_categories-story_item-header
                            .big_categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
    .main-aside-container
        .main-news-block
            .news-block
                section.news
                    .news__header
                        h1.news__title ☕ News: 29 April, Monday
                    ul.news__list
                        each item, i in news
                            li.news__item
                                .news__item-title-wrapper
                                    h2.title
                                        a.news__item-title(href="#!")= item.title

                                    .news__item-info
                                        .news__item-time-wrapper
                                            time.news__item-time.humble 11:05 AM
                                        a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                                        a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                    .news__footer
                        a.show-more.btn--arrow-bottom(href="#!") Show more
            .top-story-block
                .top-story.slider_top-story
                    .top-story__item
                        .top-story_header
                            .row
                                .top-story__mark <span class="top-story__mark-icon">🔥</span> TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/400/public/2019-05/Ethereum_%28ETH%29_Cost_Still_Has_Chance_To_Hit_%24300_Soon.__Find_Out_How_To_Trade_ETH_This_Week.jpg?itok=aivI3tno")
                            .sponsored__mark Sponsored
                        .top-story_footer
                            .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                            .top-story_humble
                                a.humble.humble--link(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
                    .top-story__item
                        .top-story_header
                            .row
                                .top-story__mark <span class="top-story__mark-icon">🔥</span> TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/400/public/2019-05/Ethereum_%28ETH%29_Cost_Still_Has_Chance_To_Hit_%24300_Soon.__Find_Out_How_To_Trade_ETH_This_Week.jpg?itok=aivI3tno")
                        .top-story_footer
                            .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                            .top-story_humble
                                a.humble.humble--link(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
                    .top-story__item
                        .top-story_header
                            .row
                                .top-story__mark <span class="top-story__mark-icon">🔥</span> TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/400/public/2019-05/Ethereum_%28ETH%29_Cost_Still_Has_Chance_To_Hit_%24300_Soon.__Find_Out_How_To_Trade_ETH_This_Week.jpg?itok=aivI3tno")
                        .top-story_footer
                            .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                            .top-story_humble
                                a.humble.humble--link(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
            .new_categories
                include blocks/news-categories.pug
            .categories-story
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/2000x1314_1.png?itok=fWWKNiKG")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble 11:30 AM
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-04/Verge%20Price%20Prediction%20Will%20XVG%20Surprise%20Us.jpg?itok=KPgRl-My")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 🎤 Interviews
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Spring Shows Second-Best Quarterly Gain in 5 Years — Is Price Headed for New All-Time High?
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-05/2019.05.22.jpg?itok=6gWflEob")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 📊 Infographics
                            .news__item-time-wrapper
                                time.news__item-time.humble Jul 1
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Price Rally Caused Huge Increase in Mining Difficulty
            .top-story
                .top-story__item
                    .top-story_header
                        .row
                            .top-story__mark <span class="top-story__mark-icon">⭐</span>Featured
                            time.news__item-time.humble 11:05 AM
                        a.title__block(href="#!")
                            h2.top-story__title Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    a.top-story__img-wrapper(href="#!")
                        img.top-story__img(src="./img/content/top-story/item_1.png")
                    .top-story_footer
                        .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                        .top-story_humble
                            a.humble.humble--link(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                            .row
                                a.humble.humble--comments(href="#!") 463
                                a.humble.humble--liked(href="#!") 7
            section.asset.adsense-asset.bg-dark-2
                a.asset_link(target='_blank', href='https://twitter.com/Utoday_en')
                    img(src='https://u.today/img/satoshi-twitter.png', alt='u.today')
            .categories-story
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/5_Reasons_to_Invest_in_Ripple.jpg?itok=q3MhrJ70")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble 11:30 AM
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/BTCNEXT.png?itok=R-GZe0ff")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 🎤 Interviews
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Spring Shows Second-Best Quarterly Gain in 5 Years — Is Price Headed for New All-Time High?
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/Oracle_of_Bitcoin%E2%80%99_Predicts_Price_0.jpg?itok=2NO8jo-L")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 📊 Infographics
                            .news__item-time-wrapper
                                time.news__item-time.humble Jul 1
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Price Rally Caused Huge Increase in Mining Difficulty
            .top-story
                .top-story__item
                    .top-story_header
                        .row
                            .top-story__mark <span class="top-story__mark-icon">⭐</span>Featured
                            time.news__item-time.humble 11:05 AM
                        a.title__block(href="#!")
                            h2.top-story__title Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    a.top-story__img-wrapper(href="#!")
                        img.top-story__img(src="./img/content/top-story/item_2.png")
                    .top-story_footer
                        .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                        .top-story_humble
                            a.humble.humble--link(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                            .row
                                a.humble.humble--comments(href="#!") 463
                                a.humble.humble--liked(href="#!") 7
            .categories-story
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/How_To_Invest_In_Cryptocurrency_Profitable.jpg?itok=Cdveg5dY")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 📰 Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble 11:30 AM
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/How_To_Benefit_From_The_Pullback.jpg?itok=8mh1xnRx")
                    .categories-story_item-info
                        .categories-story_item-humble
                            .categories-story_mark 🎤 Interviews
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Spring Shows Second-Best Quarterly Gain in 5 Years — Is Price Headed for New All-Time High?
            .top-story
                .top-story__item
                    .top-story_header
                        .row
                            .top-story__mark <span class="top-story__mark-icon">🎱</span> Price Predictions
                            time.news__item-time.humble 11:05 AM
                        a.title__block(href="#!")
                            h2.top-story__title Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    a.top-story__img-wrapper(href="#!")
                        img.top-story__img(src="./img/content/top-story/item_3.png")
                        .sponsored__mark Sponsored
                    .top-story_footer
                        .top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                        .top-story_humble
                            a.humble.humble--link(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                            .row
                                a.humble.humble--comments(href="#!") 463
                                a.humble.humble--liked(href="#!") 7
        .aside-news-block
            section.card
                .card__title Popular
                .card__body
                    each hot in hots
                        article.aside-story
                            a.aside-story__img-wrapper(href="#!")
                                img.aside-story__img(src="https://u.today/sites/default/files/styles/40/public/2019-03/The%20Best%20Cryptocurrency%20to%20Invest%20in%202019.jpg?itok=Pqr1SqcJ")

                            .aside-story__body
                                a.aside-story__link(href="#!")= hot

                                .aside-story__info
                                    time.humble.humble--tiny 12:25 AM
                                    a.humble.humble--comments.humble--tiny(href="#!") 256
                                    a.humble.humble--liked.humble--tiny(href="#!") 7
                a.show-more.btn--arrow-right(href="#!") Show all
            section.card
                .card__body
                    .advertising
                        a.advertising_link(href="#!") About us
                        a.advertising_link(href="#!") Adverstizement
                        a.advertising_link(href="#!") Press realeases
                    form.form--col(action="#" method="get")
                        .form-subscribe
                            .title Subscribtion
                            .toggle-checkbox
                                input(type="checkbox" class="toggle" id="toggle-checkbox_1" value="")
                                label(for="toggle-checkbox_1") Push notifications
                        .input
                            input.input__elem(type="text" name="email" placeholder="Email" required)

                        .input
                            button.btn.btn--input(type="submit") Subscribe
                    .text-tiny By pressing the “Subscribe button” you agree with our Privacy Policy
                    .follow__block
                        .title Follow & contact
                        .social
                            a.social__link.social__link--fb(href="#!fb")
                            a.social__link.social__link--tg(href="#!tg")
                            a.social__link.social__link--tw(href="#!tw")
                            a.social__link.social__link--em(href="#!em")
            section.card.card--something
                .something
                    img(src="img/content/banner.png" width="360" height="156" alt="something-square")
            include blocks/crypto-tweets.pug
    .medium_categories-story
        .medium_categories-story_list
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 📰 Press releases
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                    .sponsored__mark Sponsored
                a.medium_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 🎤 Interviews
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                a.medium_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 📊 Infographics
                    .news__item-time-wrapper
                        time.news__item-time.humble Jul 1
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                a.medium_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 📰 Press releases
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                a.medium_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 🎤 Interviews
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                a.medium_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
            .medium_categories-story_item
                .medium_categories-story_item-header
                    .medium_categories-story_mark 📊 Infographics
                    .news__item-time-wrapper
                        time.news__item-time.humble Jul 1
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                a.medium_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
        .medium_categories__slider-nav
            .medium_categories__prev-button
            .medium_categories__next-button
