extends layouts/layout.pug

block title
    title Main | u.today

block content
    .big-story
        .big-story__item
            .big-story__header
                a.humble(href="#!") News
                .humble.big-story__mark Promoted

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="img/content/big-story/item_1.png" alt="Title big story")
                .promoted__mark Sponsored

            a.big-story__title.link-plain(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best

        .big-story__item
            .big-story__header
                a.humble(href="#!") News

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="img/content/big-story/item_2.png" alt="Title big story")

            a.big-story__title.link-plain(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes

        .big-story__item
            .big-story__header
                a.humble(href="#!") News

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="img/content/big-story/item_3.png" alt="Title big story")

            a.big-story__title.link-plain(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise

    .main-aside-container
        .main-block
            .news
                .news__header
                    .icon.icon--clock
                    .news__title Latest news
                    .btns-spacer
                        a.btn.btn--light(href="#!") See all

                .news__list
                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 3 minutes ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link John Bollinger on Bitcoin Price: We Need to See Follow-Through or We'll Be Setup for Real Trouble, a Head Fake

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 3 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Peter Schiff Insists Bitcoin Heading Lower in Spite of Recent Rally

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 4 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link XRP Price Analysis—Can a Retest to $0.19 Happen Until Rise Continues?

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 15 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum (ETH) Price Looks Very Close to Breaking Out: Investor Raoul Pal

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 16 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link S&P 500-Implied Bitcoin Price Should Be $25,000 Now: PlanB Analyst

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 17 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Once Bitcoin Breaks $10,200, I Expect Heavy Volatility to Kick in: Major Analyst

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 19 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Billionaire Paul Tudor Jones Was Wrong to Bet on Bitcoin, Peter Schiff Claims

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 20 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Bitcoin Likely to Be Toppled by Tether in Terms of Daily Transaction Volume. Here’s What It Means for BTC

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 21 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum Founder Vitalik Buterin Voices Support for New Fee Model

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 22 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum Founder Vitalik Buterin Voices Support for New Fee Model

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 3 minutes ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link John Bollinger on Bitcoin Price: We Need to See Follow-Through or We'll Be Setup for Real Trouble, a Head Fake

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 3 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Peter Schiff Insists Bitcoin Heading Lower in Spite of Recent Rally

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 4 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link XRP Price Analysis—Can a Retest to $0.19 Happen Until Rise Continues?

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 15 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum (ETH) Price Looks Very Close to Breaking Out: Investor Raoul Pal

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 16 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link S&P 500-Implied Bitcoin Price Should Be $25,000 Now: PlanB Analyst

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 17 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Once Bitcoin Breaks $10,200, I Expect Heavy Volatility to Kick in: Major Analyst

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 19 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Billionaire Paul Tudor Jones Was Wrong to Bet on Bitcoin, Peter Schiff Claims

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 20 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Bitcoin Likely to Be Toppled by Tether in Terms of Daily Transaction Volume. Here’s What It Means for BTC

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 21 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum Founder Vitalik Buterin Voices Support for New Fee Model

                    a.news__item.link-plain(href="#!")
                        .news__item-time-wrapper
                            .news__item-time.humble 22 hours ago

                        .news__item-title-wrapper
                            h2.news__item-title
                                .news__item-link Ethereum Founder Vitalik Buterin Voices Support for New Fee Model

                .btn--block
                    button.btn.btn--light.news__footer.btn--arrow-down-before.btn--show Show more news
                    a.btn.btn--light.news__footer.btn--show-all(href="https://u.today/latest-cryptocurrency-news") See all

                    .news__loading.loading--wrapper
                        .loading

            .press-releases

                .press-releases__header

                    .press-releases__info
                        h3.press-releases__title Press releases

                        .btn--block
                            a.btn.btn--light(href="#!See all") See all
                            a.btn.btn--light(href="#!Submit") Submit

                .press-releases__slider
                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_1.webp" alt="Title press release")
                                .promoted__mark Sponsored

                            h4.press-releases__item-name Crypto.com Secures an Australian Financial Service License

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_2.webp" alt="Title press release")

                            h4.press-releases__item-name Introducing SINOVATE: The Future of Decentralized Cloud Storage

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_3.webp" alt="Title press release")

                            h4.press-releases__item-name Best Uniswap Alternatives for 2021

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_4.webp" alt="Title press release")

                            h4.press-releases__item-name Pocket Gamer Connects Digital #5

            .story
                .story__header
                    .humble__row
                        a.humble(href="#!") TOP stories
                        .humble.humble--time 17 minutes ago

                    a.story__title-link.link-plain(href="#!")
                        h2.story__title Tron (TRX) Goes Live on McAfeeDEX after Week’s Delay

                a.story__img-wrapper.link-plain(href="#!")
                    img.story__img(src="img/content/story/item_1.png" alt="Tron (TRX) Goes Live on McAfeeDEX after Week’s Delay")
                    .promoted__mark Sponsored

                .story__footer
                    a.story__desc.link-plain(href="#!") John McAfee sends word that Tron’s TRX is finally supported on the recently launched SEC-criticized DEX

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Jeremy-O’Bernstahard.png" alt="Jeremy O’Bernstahard")
                            | Jeremy O’Bernstahard

            .something.something--content
                .something__content-long
                    img(src="img/something/something__central-728.png" alt="Something central")

                .something__content-square
                    img(src="img/something/something__central-336.png" alt="Something central")

            .category-item.category-item-sl
                a.category-item__img-wrapper(href="#!")
                    img.category-item__img(src="img/content/categories/item_1.png" alt="Title category")
                    .promoted__mark Sponsored

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Price Prediction
                        .humble.humble--time 1 day 23 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title Beginner’s Guide to Bluzelle — The Decentralized Data Network

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Vera-Yurina.jpg" alt="Vera Yurina")
                            | Vera Yurina

            .press-releases

                .press-releases__header

                    .press-releases__info
                        h3.press-releases__title Use cases

                        .btn--block
                            a.btn.btn--light(href="#!See all") See all

                .press-releases__slider
                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_1.webp" alt="Title press release")
                                .promoted__mark Sponsored

                            h4.press-releases__item-name Crypto.com Secures an Australian Financial Service License

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_2.webp" alt="Title press release")

                            h4.press-releases__item-name Introducing SINOVATE: The Future of Decentralized Cloud Storage

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_3.webp" alt="Title press release")

                            h4.press-releases__item-name Best Uniswap Alternatives for 2021

                    a.press-releases__item.link-plain(href="#!")
                        .press-releases__inner
                            .press-releases__item-img--wrapper
                                img.press-releases__item-img(src="img/content/press-releases/item_4.webp" alt="Title press release")

                            h4.press-releases__item-name Pocket Gamer Connects Digital #5

            .category-item
                a.category-item__img-wrapper(href="#!")
                    img.category-item__img(src="img/content/categories/item_1.png" alt="Title category")

                .category-item__info
                    .humble__row
                        a.humble(href="#!") News
                        .humble.humble--time 2 days 1 hour ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title Crypto Trading CEO Eyes Boom as Coronavirus Volatility Upends Demand

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Yuri-Molchan.webp" alt="Yuri Molchan")
                            | Yuri Molchan

            .upcoming
                .upcoming__header
                    h3.upcoming__title Upcoming events

                    .btn--block
                        a.btn.btn--light(href="#!See all") See all

                .upcoming__slider
                    .upcoming__item
                        .upcoming__item-img
                            img(src="img/content/upcoming/item_1.png" alt="Blockspot Conference Europe 2020")

                        .upcoming__item-info
                            .humble__row
                                .humble 1 Sep 2020

                            .upcoming__item-title Blockspot Conference Europe 2020
                            a.upcoming__item-link(href="#!") Read more

                            .btn--block.upcoming__item-btn-bg
                                a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

                                .promocode
                                    .promocode__title Promocode:
                                    .promocode__value WWWWWWWW

                    .upcoming__item
                        .upcoming__item-img
                            img(src="img/content/upcoming/item_2.png" alt="Sed ut perspiciatis unde accusantium doloremque")

                        .upcoming__item-info
                            .humble__row
                                .humble.humble--label Top Event
                                .humble 10 Sep 2020

                            .upcoming__item-title Sed ut perspiciatis unde accusantium doloremque
                            a.upcoming__item-link(href="#!") Read more

                    .upcoming__item
                        .upcoming__item-img
                            img(src="img/content/upcoming/item_3.png" alt="Lorem ipsum dolor sit amet")

                        .upcoming__item-info
                            .humble__row
                                .humble 20 Sep 2020

                            .upcoming__item-title Lorem ipsum dolor sit amet
                            a.upcoming__item-link(href="#!") Read more

                            a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

                    .upcoming__item
                        .upcoming__item-img
                            img(src="img/content/upcoming/item_1.png" alt="Blockspot Conference Europe 2020")

                        .upcoming__item-info
                            .humble__row
                                .humble 1 Sep 2020

                            .upcoming__item-title Blockspot Conference Europe 2020
                            a.upcoming__item-link(href="#!") Read more

                            a.btn.btn--accent.btn--big.btn--event(href="#!") Buy tickets

                            .promocode
                                .promocode__title Promocode:
                                .promocode__value WWWWWWWWWWWW

            .story
                .story__header
                    .humble__row
                        a.humble(href="#!") Cryptocurrency trading
                        .humble.humble--time 1 day 15 hours ago

                    a.story__title-link.link-plain(href="#!")
                        h2.story__title Tron Surpasses Rival Blockchains

                a.story__img-wrapper.link-plain(href="#!")
                    img.story__img(src="img/content/story/item_2.png" alt="Tron Surpasses Rival Blockchains")

                .story__footer
                    a.story__desc.link-plain(href="#!") Another 30 mln USDT moved from the Ethereum chain to Tron, reports Misha Lederman, a major Tron supporter as Justin Sun recommends Poloniex for USDT-Tron conversion
                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Diane-Nchang.png" alt="Diane Nchang")
                            | Diane Nchang

            .category-item
                a.category-item__img-wrapper(href="#!")
                    img.category-item__img(src="img/content/categories/item_3.png" alt="Title category")

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Stories
                        .humble.humble--time 2 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title How to Protect Your Identity and Bitcoin Wallet From Tracking

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Pean-Utbutah.png" alt="Pean Utbutah")
                            | Pean Utbutah

            .category-item
                a.category-item__img-wrapper(href="#!")
                    img.category-item__img(src="img/content/categories/item_4.png" alt="Title category")

                .category-item__info
                    .humble__row
                        a.humble(href="#!") Interviews
                        .humble.humble--time 4 hours ago

                    a.category-item__title-link(href="#!")
                        h3.category-item__title How To Exchange Crypto with BestСhange

                    .humble__row.humble--between
                        a.humble.humble--author(href="#!")
                            img.humble__img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")
                            | Roger Ver

        include blocks/aside.pug
