extends layouts/layout.pug

block title
  title Main | u.today

block content
  include blocks/breaking.pug

  .main-container
    .top-story-block
      include blocks/top-story.pug

    .news-block
      include blocks/news.pug

  include blocks/news-featured.pug

  .something.something--wide
    .something__wide-long
      img(src="img/something/long.png" width="728" height="90" alt="something-wide")

    .something__wide-square
      img(src="img/something/square.png" width="300" height="250" alt="something-square")

  .main-aside-container
    .main-news-block
      include blocks/news-category.pug

      +newsCategory(newsCategoryOpinions)
      +newsCategory(newsCategoryInterviews)

      .something__wrapper
        .something.something--content
          .something__content-long
            img(src="img/something/long.png" width="728" height="90" alt="something-wide")

          .something__content-square
            img(src="img/something/square.png" width="300" height="250" alt="something-square")

      +newsCategory(newsCategoryPress)

      include blocks/news-feed.pug

      include blocks/news-categories.pug

    .aside-news-block
      include blocks/crypto-tweets.pug
      include blocks/aside.pug

  .something--footer