extends layouts/layout.pug

block title
    title Main | u.today

block content
    include blocks/breaking.pug

    .something.something--content
        .ref U.today  is supported by its audience. When you purchase through links on our site, we may earn an affiliate commission. <a href="#!"> Learn more </a>

        a.something__content-long(href="#!" style="background-color: #e5edff")
            img(src="img/something/iqmining_2-long.png" alt="something-long")

        a.something__content-square(href="#!" style="background-color: #e5edff")
            img(src="img/something/iqmining_2-square.png" alt="something-square")

    .big_categories-story
        .big_categories-story_list
            .big_categories-story_item
                .big_categories-story_item-header
                    a.big_categories-story_mark(href="#!") Press releases
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    button.humble.humble--comments.humble--tiny.humble--comments_bold 44
                    button.humble.humble--liked.humble--tiny.humble--liked_bold 7
                a.big_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                    .sponsored__mark.sponsored__mark-top-right Sponsored
                .big_categories-story_item-footer
                    a.big_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    .mobile_humble.big_categories-story_item-header
                        a.big_categories-story_mark(href="#!") Press releases
                        .news__item-time-wrapper
                            time.news__item-time.humble Aug 29
            .big_categories-story_item
                .big_categories-story_item-header
                    a.big_categories-story_mark(href="#!") Interviews
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    button.humble.humble--comments.humble--tiny.humble--comments_bold 44
                    button.humble.humble--liked.humble--tiny.humble--liked_bold 7
                a.big_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                .big_categories-story_item-footer
                    a.big_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
                    .mobile_humble.big_categories-story_item-header
                        a.big_categories-story_mark(href="#!") Press releases
                        .news__item-time-wrapper
                            time.news__item-time.humble Aug 29
            .big_categories-story_item
                .big_categories-story_item-header
                    a.big_categories-story_mark(href="#!") Infographics
                    .news__item-time-wrapper
                        time.news__item-time.humble Jul 1
                    button.humble.humble--comments.humble--tiny.humble--comments_bold 44
                    button.humble.humble--liked.humble--tiny.humble--liked_bold 7
                a.big_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                .big_categories-story_item-footer
                    a.big_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
                    .mobile_humble.big_categories-story_item-header
                        a.big_categories-story_mark(href="#!") Press releases
                        .news__item-time-wrapper
                            time.news__item-time.humble Aug 29

    include blocks/press-releases-long

    .main-aside-container
        main.main-news-block
            .something.something--content(style="background-color: #e5edff")
                a.something__content-long(href="#!")
                    img(src="img/something/iqmining_1-long.png" alt="something-long")

                a.something__content-square(href="#!")
                    img(src="img/something/iqmining_1-square.png" alt="something-square")
            <!— the start of news —>
            .news-block
                include blocks/news.pug
            <!— the end of news —>

            include blocks/news-calendar.pug

            .tooltip
                button.btn.btn--accent.btn--huge.btn--tooltip.btn--full Tooltip Nexo

                .tooltip__content
                    .tooltip__content-img--wrapper
                        img.tooltip__content-img(src="img/content/crypt/nexo.svg")

                    p Cryptoassets are complex instruments and investments carry a high risk of losing value. You should educate yourself in how cryptomarkets work before making any investments. Always invest responsibly and be prepared for the risks associated with investing in or using cryptoassets.

            include blocks/press-releases.pug

            .top-story-block
                .top-story.slider_top-story
                    .top-story__item
                        .top-story_header
                            .row
                                a.top-story__mark(href="#!") TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/1200x/public/2019-11/1166.JPG.jpg?itok=IQPDjmHC")
                            .sponsored__mark.sponsored__mark-top-right Sponsored
                        .top-story_footer
                            a.top-story--link(href="#!")
                                h3.top-story__descr Grayscale becomes a dark horse in the crowded Bitcoin ETF race
                            .top-story_humble
                                a.humble.humble--author(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
                    .top-story__item
                        .top-story_header
                            .row
                                a.top-story__mark(href="#!") TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/1200x/public/2019-11/1147.jpg?itok=npi8Mo54")
                        .top-story_footer
                            .top-story__descr Bitcoin bears come into hiding as one of the top traders on BitMEX reveals he's long on BTC
                            .top-story_humble
                                a.humble.humble--author(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
                    .top-story__item
                        .top-story_header
                            .row
                                a.top-story__mark(href="#!") TOP stories
                                time.news__item-time.humble 11:05 AM
                            a.title__block(href="#!")
                                h2.top-story__title Crypto Trader Ronnie Moas Bets $20K: BTC to Reach $28,000 in Late 2019
                        a.top-story__img-wrapper(href="#!")
                            img.top-story__img(src="https://u.today/sites/default/files/styles/400/public/2019-05/Ethereum_%28ETH%29_Cost_Still_Has_Chance_To_Hit_%24300_Soon.__Find_Out_How_To_Trade_ETH_This_Week.jpg?itok=aivI3tno")
                        .top-story_footer
                            a.top-story--link(href="#!")
                                h3.top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                            .top-story_humble
                                a.humble.humble--author(href='/darryn-pollock/')
                                    img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                    | Darryn Pollock
                                .row
                                    a.humble.humble--comments(href="#!") 463
                                    a.humble.humble--liked(href="#!") 7
            <!— the start of categories —>
            .new_categories
                include blocks/news-categories.pug
            <!— the end of categories —>

            <!— the start of categories story —>
            .categories-story
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-06/2000x1314_1.png?itok=fWWKNiKG")
                        .sponsored__mark.sponsored__mark-bottom-right Promo
                    .categories-story_item-info
                        .categories-story_item-humble
                            a.categories-story_mark(href="#!") Press releases
                            .news__item-time-wrapper
                                time.news__item-time.humble 11:30 AM
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") What Is Decentralized Application (dApp): Explanation for Beginners
                        .categories-story_author
                            a.humble.humble--author(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-04/Verge%20Price%20Prediction%20Will%20XVG%20Surprise%20Us.jpg?itok=KPgRl-My")
                    .categories-story_item-info
                        .categories-story_item-humble
                            a.categories-story_mark(href="#!") Interviews
                            .news__item-time-wrapper
                                time.news__item-time.humble Aug 29
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Spring Shows Second-Best Quarterly Gain in 5 Years — Is Price Headed for New All-Time High?
                        .categories-story_author
                            a.humble.humble--author(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                .categories-story_item
                    a.categories-story_item-link(href="#!")
                        img(src="https://u.today/sites/default/files/styles/medium/public/2019-05/2019.05.22.jpg?itok=6gWflEob")
                    .categories-story_item-info
                        .categories-story_item-humble
                            a.categories-story_mark(href="#!") Infographics
                            .news__item-time-wrapper
                                time.news__item-time.humble Jul 1
                            a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                            a.humble.humble--liked.humble--tiny.humble--liked_bold(href="#!") 7
                        a.categories-story_item-title(href="#!") Bitcoin Price Rally Caused Huge Increase in Mining Difficulty
                        .categories-story_author
                            a.humble.humble--author(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
            <!— the end of categories story —>

            <!— the start of top story —>
            .top-story
                .top-story__item
                    .top-story_header
                        .row
                            a.top-story__mark(href="#!") Featured
                            time.news__item-time.humble 11:05 AM
                        a.title__block(href="#!")
                            h2.top-story__title Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    a.top-story__img-wrapper(href="#!")
                        img.top-story__img(src="./img/content/top-story/item_1.png")
                    .top-story_footer
                        a.top-story--link(href="#!")
                            h3.top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                        .top-story_humble
                            a.humble.humble--author(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                            .row
                                a.humble.humble--comments(href="#!") 463
                                a.humble.humble--liked(href="#!") 7
            <!— the end of top story —>

            <!— the start of top story —>
            .top-story
                .top-story__item
                    .top-story_header
                        .row
                            a.top-story__mark(href="#!") Featured
                            time.news__item-time.humble 11:05 AM
                        a.title__block(href="#!")
                            h2.top-story__title Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
                    a.top-story__img-wrapper(href="#!")
                        img.top-story__img(src="./img/content/top-story/item_2.png")
                    .top-story_footer
                        a.top-story--link(href="#!")
                            h3.top-story__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn...
                        .top-story_humble
                            a.humble.humble--author(href='/darryn-pollock/')
                                img.lazy.humble__img(alt='Darryn Pollock', src='https://u.today/sites/default/files/2019-03/Darryn-Pollack_1.jpg', style='')
                                | Darryn Pollock
                            .row
                                a.humble.humble--comments(href="#!") 463
                                a.humble.humble--liked(href="#!") 7
            <!— the end of top story —>

        <!— the start of sidebar —>
        aside.aside-menu-block

            include blocks/aside.pug

            include blocks/crypto-tweets.pug

            section.card.card--miners.card--mobile-visible
                h4.card__title Top tranding bot
                    span.card__mark Promoted

                .card__body.card__body-counter
                    .aside-story.aside-story--miners
                        .aside-story__body.aside-story__row
                            .aside-story__descr
                                .aside-story__row-center
                                    a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") HaasOnline
                                    a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                                        img.aside-story__img(src="img/content/crypt/haasonline.png")

                                    span.aside-story__signature 30% discount till 29 Feb
                            .btn--block
                                a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

                    .aside-story.aside-story--miners
                        .aside-story__body.aside-story__row
                            .aside-story__descr
                                .aside-story__row-center
                                    a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") Margin
                                    a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                                        img.aside-story__img(src="img/content/crypt/margin.png")

                                span.aside-story__signature 30% discount till 29 Feb

                            .btn--block
                                a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

                    .aside-story.aside-story--miners
                        .aside-story__body.aside-story__row
                            .aside-story__descr
                                .aside-story__row-center
                                    a.aside-story__name(href="#!" target="_blank" rel="nofollow noopener") Zignaly
                                    a.aside-story__img-wrapper(href="#!" target="_blank" rel="nofollow noopener")
                                        img.aside-story__img(src="img/content/crypt/zignaly.png")

                                span.aside-story__signature 30% discount till 29 Feb

                            .btn--block
                                a.btn.btn--small.btn--accent-3(href="#!" target="_blank" rel="nofollow noopener") Website

        <!— the end of sidebar —>

    .medium_categories-story
        .medium_categories-story_list
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Press releases
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                    .sponsored__mark.sponsored__mark-top-right Sponsored
                a.medium_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Interviews
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                    .sponsored__mark.sponsored__mark-top-left Sponsored
                a.medium_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Infographics
                    .news__item-time-wrapper
                        time.news__item-time.humble Jul 1
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                    .sponsored__mark.sponsored__mark-bottom-right Sponsored
                a.medium_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Press releases
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/250/public/2019-05/ETH_Price_Projection.jpg?itok=bWaLL6Z7")
                    .sponsored__mark.sponsored__mark-bottom-left Sponsored
                a.medium_categories-story_item-title(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Interviews
                    .news__item-time-wrapper
                        time.news__item-time.humble Aug 29
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-05/5%20Reasons%20Why%20You%20Should%20Invest%20in%20Cryptocurrency.jpg?itok=dVO4c6oG")
                    .sponsored__mark.sponsored__mark-center Sponsored
                a.medium_categories-story_item-title(href="#!") Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise
            .medium_categories-story_item
                .medium_categories-story_item-header
                    a.medium_categories-story_mark(href="#!") Infographics
                    .news__item-time-wrapper
                        time.news__item-time.humble Jul 1
                    a.humble.humble--comments.humble--tiny.humble--comments_bold(href="#!") 44
                a.medium_categories-story_item-link(href="#!")
                    img(src="https://u.today/sites/default/files/styles/1200x/public/2019-04/What%20Are%20Masternodes%20Is%20It%20Still%20Profitable%20to%20Run%20One.jpg?itok=IK1IiqpT")
                a.medium_categories-story_item-title(href="#!") HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes
        .slider__nav.slider__nav-icon--swipe
            button.slider__nav-arrow.slider__nav-prev
            button.slider__nav-arrow.slider__nav-next
