extends layouts/layout.pug

block title
    title Memories | u.today

block head
    link(href="styles/main.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'")

block content
    .main-aside-container

        main.main-news-block
            include blocks/memories.pug

        aside.aside-menu-block
            include blocks/aside-menu-block.pug