extends layouts/layout.pug

block title
    title Memories | u.today

block content
    .main-aside-container

        .main-news-block
            include blocks/memories.pug

        include blocks/aside.pug