extends layouts/layout.pug

block title
  title Modal | u.today

block content
  .content-container
    .btns-spacer
      .btn(data-modal="subscribe-form") Subscribe

      .btn(data-modal="rus-version") RUS version

      .btn(data-modal="eng-version") ENG version
