extends layouts/layout.pug

block title
  title Modal | u.today

block head
  link(href="styles/main.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'")

block content
  .content-container
    .btns-spacer
      .btn(data-modal="subscribe-form") Subscribe old
      .btn(data-modal="subscribe-form-title") Subscribe new 1
      .btn(data-modal="subscribe-form-text") Subscribe new 2
      .btn(data-modal="giveaway") Giveaway

      .btn(data-modal="log_in") Log In
      .btn(data-modal="register") Register
