extends layouts/layout.pug

block title
    title Press Release | U

block content
    .main-aside-container
        .main-news-block
            .article
                h1.article__title Title Press Release

                .article__header
                    .article__header--row
                        .share__social
                            a.social__link.social__link--bg.social__link--tw(href="#!") Twitter
                            a.social__link.social__link--bg.social__link--fb(href="#!") Facebook
                            a.social__link.social__link--bg.social__link--ln(href="#!") LinkedIn

                        a.humble.humble--icon.humble--cert(href="#!") Press Release
                        .humble Oct 27’2018, 11:27 AM

                        .humble.humble--icon.humble--views 123k

                .article__main-img-wrapper
                    img(src='https://u.today/sites/default/files/styles/736x/public/2020-04/2951.jpg?itok=vDnRxY8q' alt="main-img")
                    figcaption Dio Ianakiara. Image by <a href="#!">TRON Foundation</a>, niTROn 2019

                    .disclaimer
                        p.disclaimer_text This is a paid press release. U.Today does not endorse and is not responsible for or liable for any content, accuracy, quality, advertising, products or other materials on this page. Readers should do their own research before taking any actions related to the company. U.Today is not responsible, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any content, goods or services mentioned in the press release.

                .article__content
                    p We at TronWallet are proud over what we’ve achieved up to this point in making the TRON blockchain more easily accessible to everyone worldwide, and are looking forward to playing an integral part in shaping the TRON ecosystem and the crypto movement at large in the years to come.
                    p Join our Telegram channel to get news even faster!

                    .event__info
                        .event__info-row
                            .event__info-label Ticket from
                            .event__info-text $100
                        .event__info-row
                            .event__info-label Ticket to
                            .event__info-text $300
                        .event__info-row
                            .event__info-label Website
                            .event__info-text
                                a.link-decorate(href="#!") https://cocacola.com
                        .event__info-row
                            .event__info-label Organization
                            .event__info-text CocaCola
                        .event__info-row
                            .event__info-label Contacts
                            .event__info-text Leah Callon-Butler Chief Impact Officer:
                                a.link-decorate(href="mailto:leah@cocacola.com") leah@cocacola.com

        include blocks/aside.pug