extends layouts/layout.pug

block title
    title Press Release List | U

block content
    .main-aside-container
        .main-block
            .infoblock
                .infoblock__item
                    h1 Submit your Press release on U.Today

                    p Distribute news about your products by publishing press-release on U.Today.

                    p Get All benefits for the lowest price of $600 for the submission.

                    p Still have questions? Feel free to contact U.Today sales team at <a href="mailto:ads@u.today">ads@u.today</a>

                    .table-plan
                        .table-plan__header
                            .table-plan__col
                            .table-plan__col Press release

                        .table-plan__row
                            .table-plan__col No size limit

                            .table-plan__col Yes

                        .table-plan__row
                            .table-plan__col Homepage publication

                            .table-plan__col Yes

                        .table-plan__row
                            .table-plan__col Publication in the Press release section

                            .table-plan__col Yes

                        .table-plan__row
                            .table-plan__col Twitter, Facebook, Telegram promotion

                            .table-plan__col Option

                        .table-plan__footer
                            .table-plan__col Cost
                            .table-plan__col $600*

                .infoblock__item
                    h3 Latest press-releases

            .category
                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-04/2951.jpg?itok=QDpz_gP8" alt="Why Trade BTC Options Instead of BTC Futures?")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 2 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title Why Trade BTC Options Instead of BTC Futures?

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-04/coin24.jpg?itok=n4bzW05O" alt="How to Keep Funds Safe from Hacking While Trading")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 4 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title How to Keep Funds Safe from Hacking While Trading

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-03/2642_0.jpg?itok=bXu9N8OO" alt="Bridging the Gap Between DEXs and CEXs")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 1 day 23 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title Bridging the Gap Between DEXs and CEXs

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/150/public/2020-03/Data%20Storage.jpg?itok=oMoaeQK_" alt="The Next Data Storage Generation: Decentralized Storage")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Press releases
                            .humble.humble--time 2 days 1 hour ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title The Next Data Storage Generation: Decentralized Storage

                        .humble__row.humble--between
                            a.humble(href="#!") Company name

        include blocks/aside.pug