extends layouts/layout.pug

block title
    title Press Release Submit | U

block content
    .main-aside-container
        .main-block
            .infoblock
                .infoblock__item
                    h1 Submit your Press release on U.Today

                    p Distribute news about your products by publishing press-release on U.Today.

                    p Get All benefits for the lowest price of $600 for the submission.

                    p Still have questions? Feel free to contact U.Today sales team at <a href="mailto:ads@u.today">ads@u.today</a>

                    .table-plan
                        .table-plan__header
                            .table-plan__col
                            .table-plan__col Press release

                        each item in tablePrice
                            .table-plan__row
                                .table-plan__col= item[0]
                                if item[3]

                                .table-plan__col
                                    .icon.icon--check

                        .table-plan__footer
                            .table-plan__col Cost
                            .table-plan__col $600*

                    h2 Order the publication right now

                    form.form--half(action="/" method="post")
                        .input
                            label.input__label Your name
                            input.input__elem(type="text" name="name" placeholder="John Doe")

                        .input
                            label.input__label Your email
                            input.input__elem(type="text" name="email" placeholder="john@sitename.com")

                        .input
                            label.input__label Upload your file
                            input.input__file(type="file" id="attach-file")
                            label.input__label-file(for="attach-file")
                                span Select File

                        button.btn.btn--input.btn--accent(type="submit") Order now

        include blocks/aside.pug
