extends layouts/layout.pug

block title
    title Price index | u.today

block content
    .main-aside-container.index-price
        aside.aside-menu-block
            .price-index__aside
                .price-index__body
                    .aside_dropdown
                        .caption Choose coin
                        .aside_dropdown__list
                            .price-index__table
                                .price-index__title Coins
                                .price-index__tabs.tabs.tabs--small
                                    .price-index__tabs-item
                                        .price-index__title Daily
                                    .price-index__tabs-item
                                        .price-index__title Monthly
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Ethereum
                                .price-index__coin-trand
                                    .daily_value.value.up 0.13%
                                    .monthly_value.value.done -5.36%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Ethereum
                                .price-index__coin-trand
                                    .daily_value.value.up
                                        | 0.13%
                                    .monthly_value.value.done
                                        | -5.36%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Ripple
                                .price-index__coin-trand
                                    .daily_value.value.done
                                        | -0.79%
                                    .monthly_value.value.done
                                        | -2.96%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Tron
                                .price-index__coin-trand
                                    .daily_value.value.done
                                        | -1.09%
                                    .monthly_value.value.done
                                        | -7.77%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Litecoin
                                .price-index__coin-trand
                                    .daily_value.value.up
                                        | 0.23%
                                    .monthly_value.value.up
                                        | 24.92%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name NEO
                                .price-index__coin-trand
                                    .daily_value.value.done
                                        | -0.54%
                                    .monthly_value.value.up
                                        | 2.9%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Cardano
                                .price-index__coin-trand
                                    .daily_value.value.done
                                        | -0.8%
                                    .monthly_value.value.up
                                        | 9.77%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name Stellar
                                .price-index__coin-trand
                                    .daily_value.value.done
                                        | -1.99%
                                    .monthly_value.value.up
                                        | 36.36%
                            .aside_dropdown__item
                                .name_block
                                    button.tabs__btn.btn.btn--pseudo
                                        .name EOS
                                .price-index__coin-trand
                                    .daily_value.value.up
                                        | 0.26%
                                    .monthly_value.value.up
                                        | 7.34%
        .main-category-block
            h1.title Bitcoin BTC Price Index
            p.subtitle The price of Bitcoin is one of the main issues for miners and traders. Here you will find the latest news about the BTC price fluctuations.
            .price-index_text
                p.price-index_text__descr 🔹 Read the most important and
                    a.price-index_text__link(href="#") hot news about Bitcoin (BTC)
                p.price-index_text__descr 🔹 Check the latest
                    a.price-index_text__link(href="#") Bitcoin (BTC) Price Prediction


            .price-index_chart.chart-row
                .tradingview-widget-container
                    .tradingview-widget-container__widget
                    .tradingview-widget-copyright
                        a(href='https://www.tradingview.com/symbols/FX-EURUSD/', rel='noopener', target='_blank')
                            span.blue-text EURUSD Rates
                        |  by TradingView
                    script(type='text/javascript', src='https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js', async='')

                .tradingview-widget-container
                    .tradingview-widget-container__widget
                    .tradingview-widget-copyright
                        a(href='https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/', rel='noopener', target='_blank')
                            span.blue-text Technical Analysis for AAPL
                        |  by TradingView
                    script(type='text/javascript', src='https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js', async='')

            .price-index_chart
                .tradingview-widget-container
                    #tradingview_334bc
                    .tradingview-widget-copyright
                        a(href='https://www.tradingview.com/symbols/NASDAQ-AAPL/', rel='noopener', target='_blank')
                            span.blue-text AAPL chart
                        |  by TradingView
                    script(type='text/javascript', src='https://s3.tradingview.com/tv.js')
            .cryptocurrency_price.price-up
                .cryptocurrency_price__share
                    .social.social--border.social--wide
                        span.social-descr Share this now:
                        .right
                            a.social__link.social__link--fb(href="#!")
                            a.social__link.social__link--tg(href="#!")
                            a.social__link.social__link--tw(href="#!")
                .cryptocurrency_price__block
                    .name Bitcoin (BTC)
                    .price $ 3 848.53
                    .change +1.31% day
                    .date 26 Feb 2019 02:36 GMT
            .main-news-block
                include blocks/news-category.pug

                +newsCategory(newsCategoryOpinions)
                +newsCategory(newsCategoryInterviews)