extends layouts/layout.pug

block title
    title Search result | u.today

block content
    .main-aside-container

        .main-block
            .search-result
                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-03/11111.jpg?itok=nlU-SVSw" alt="Title category")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Stories
                            .humble.humble--time 2 hours ago

                        a.category-item__title-link(href="#!")
                            .category-item__title Tron CEO Justin Sun Teases "Huge" Secret Guest at Upcoming NiTROn <span class="bright">Bitcoin</span> Summit

                        .humble__row.humble--between
                            a.humble.humble--author(href="#!")
                                img.humble__img(src="https://u.today/sites/default/files/2019-11/yuri-ava.jpg" alt="Yuri Molchan")
                                | Yuri Molchan

                .page-bg-title
                    a.humble.humble--author.humble--author-big(href="#!")
                        img.humble__img(src="https://u.today/sites/default/files/2019-11/yuri-ava.jpg" alt="Yuri Molchan")

                        .humble__author-info
                            .humble__author-name Yuri Molchan
                            .humble__author-post @rogerkver

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/2963.jpg?itok=l2-ezqge" alt="Title category")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Stories
                            .humble.humble--time 2 hours ago

                        a.category-item__title-link(href="#!")
                            .category-item__title It's Official: Tron CEO Justin Sun Confirms Much-Hyped Partnership with Samsung <span class="bright">Bitcoin</span>

                        .humble__row.humble--between
                            a.humble.humble--author(href="#!")
                                img.humble__img(src="https://u.today/sites/default/files/2019-11/vlad-ava.jpg" alt="Vladislav Sopov")
                                | Vladislav Sopov

                .events__card
                    .events__card-left
                        .events__card-img
                            img(src="img/content/events/item_2.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                    .events__card-info
                        a.humble.humble--bg(href="#!") Blockspot Conference Europe 2018
                        p Nemo enim <span class="bright">Bitcoin</span> ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                        ul
                            li
                                span Dates:
                                span 1 March 2018

                            li
                                span Location:
                                span Zurich, Switzerland

                            li
                                span Venue:
                                span Kaskaden-Halle

                .staff__item
                    a.staff__img-wrapper(href="#!")
                        img.staff__img(src="https://u.today/sites/default/files/styles/150/public/2019-03/George-Shnurenko_1.jpg?itok=DpBxrdn8")

                    .staff__info
                        .staff__row
                            .personal__info
                                a.staff__name(href="#!") Andrew Strogoff
                                a.staff__post(href="#!") Financial Analyst

                            .social
                                a.social__link.social__link--ln(href="#!ln")
                                    a.social__link.social__link--insta(href="#!insta")
                                    a.social__link.social__link--em(href="#!email")
                                    a.social__link.social__link--fb(href="#!fb")

                        p Lorem ipsum dolor sit amet, <span class="bright">Bitcoin</span> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                .category-info
                    .category-info__img-wrapper
                        img.category-info__img(src="https://u.today/sites/default/files/styles/736x/public/2019-12/YouTube%20cover.jpg?itok=WSNITDFF" alt="#Hashtag or Category")

                    .category-info__body
                        .category-info__title <span class="bright">#Bitcoin</span>
                        .category-info__desc Some short description - recommended, but optional. Crypto space is all about ideas so find here thought-provoking pinions, experts blogs. When it comes

        include blocks/aside.pug