extends layouts/layout.pug

block title
    title Tags | U

block content
    .main-aside-container
        .main-block
            .tags
                .tags-info
                    .tags-info__body
                        h1.tags-info__title Roger Ver
                        p.tags-info__desc Some short description - recommended, but optional. Crypto space is all about ideas so find here thought-provoking pinions, experts blogs. When it comes to company assets, intangible ones are dynamic and fluid, and are becoming

                        button.btn.btn--light.btn--arrow-down-before.btn--show-more Show more

                    .tags-info__img-wrapper
                        img.tags-info__img(src="img/content/tags/tags__main-img.png" alt="Roger Ver")

                .tags-content
                    h2.page-bg-title Roger Ver refers to U.Today

                    .tags-list
                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc The reasons I started investing in Bitcoin in 2011 are the exact same reasons I’m investing in Bitcoin Cash today.

                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_1.png" alt="tags-img-alt")

                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc There’s no such thing as a free government service.

                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc Having nearly 100x more <a href="#!">#Bitcoin</a> wrapped for use on <a href="#!">#Ethereum</a> than in <a href="#!">#LightningNetwork</a> shows LN has been a total failure for scaling BTC.

                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_3.png" alt="tags-img-alt")

                        .tags-item.tags-item-short
                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_4.png" alt="tags-img-alt")

                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc The reasons I started investing in Bitcoin in 2011 are the exact same reasons I’m investing in Bitcoin Cash today.

                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_1.png" alt="tags-img-alt")

                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc Nodes are the voluntary backbone of decentralized blockchains. <a href="#!">$STRONG</a> by <a href="#!">@Strongblock_io</a> is the first to pay them for the work they already do. Go to <a href="#!">http://strongblock.com</a> to stake your <a href="#!">#Ethereum</a>

                        .tags-item.tags-item-short
                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_2.png" alt="tags-img-alt")

                        .tags-item
                            .user-short
                                .user-short__img-wrapper
                                    img(src="img/content/avatars/Roger-Ver.png" alt="Roger Ver")

                                .user-short__info
                                    .user-short__name Roger Ver
                                    .user-short__nick @rogerkver

                            p.tags-item__desc “Health is a state of complete physical, mental and social well-being and not merely the absence of disease or other physical impairment”
                            p.tags-item__desc For everyone’s good health, end the lockdowns.
                            p.tags-item__desc <a href="#!">https://docs4opendebate.be/en/open-letter/</a>

                        .tags-item.tags-item-short
                            .tags-item__img-wrapper
                                img.tags-item__img(src="img/content/tags/item_5.png" alt="tags-img-alt")

                    button.btn.btn--light.btn--arrow-down-before.btn--ajax Show more

                h2.page-bg-title Articles with mentions of Roger Ver

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-03/11111.jpg?itok=nlU-SVSw" alt="Crypto Trading CEO Eyes Boom as Coronavirus Volatility Upends Demand")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") News
                            .humble.humble--time 2 days 1 hour ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title Crypto Trading CEO Eyes Boom as Coronavirus Volatility Upends Demand

                        .humble__row.humble--between
                            a.humble.humble--author(href="#!")
                                img.humble__img(src="https://u.today/sites/default/files/2019-11/yuri-ava.jpg")
                                | Yuri Molchan

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/2963.jpg?itok=l2-ezqge")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Stories
                            .humble.humble--time 2 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title How to Protect Your Identity and Bitcoin Wallet From Tracking

                        .humble__row.humble--between
                            a.humble.humble--author(href="#!")
                                img.humble__img(src="https://u.today/sites/default/files/2019-11/vlad-ava.jpg")
                                | Vladislav Sopov

                .category-item
                    a.category-item__img-wrapper(href="#!")
                        img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/Bestchange.jpg?itok=HE4b8Qf1")

                    .category-item__info
                        .humble__row
                            a.humble(href="#!") Interviews
                            .humble.humble--time 4 hours ago

                        a.category-item__title-link(href="#!")
                            h3.category-item__title How To Exchange Crypto with BestСhange

                        .humble__row.humble--between
                            a.humble.humble--author(href="#!")
                                img.humble__img(src="https://u.today/sites/default/files/2019-03/Heewon-Jang_0.jpg")
                                | Heewon Jang


        include blocks/aside.pug